
@import '../partials/vars';

#invest-footer {
  .footer-branding {
    img {
      width: 130px;
    }
  }

  .footer-main-links-list {
    width: calc(100% - 130px);

    ul li {
      display: block;
      border: 0;
      margin: 0;
      padding: 0;
      margin-bottom: $spacing-4;
    }

    ul li:last-child {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
  }

  .footer-sub-links-list {
    ul li {
      margin-bottom: $spacing-4/2;
    }
  }
}
