#invest-header {
  .header-menu-activator {
    display: block;
    font-family: $brand-font;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47em;
    width: 104px;
    height: 50px;
    text-align: left;
    background-color: $great-blue;
    border: 2px solid $white;
    border-radius: 0;
    color: $white;
    display: block;
    padding: 5px 10px;
    margin-right: $spacing-3;
    position: absolute;
    right: 0;
    top: 45px;
    cursor: pointer;

    &:focus {
      @include focus;
    }

    span {
      background-color: $white;
      clear: right;
      content: "";
      float: right;
      height: 2px;
      margin: 0 0 8px 10px;
      width: 20px;
      position: absolute;
      right: 15px;
      top: 22px;

      &:before {
        background-color: $white;
        clear: right;
        content: "";
        float: right;
        height: 2px;
        margin: -5px 0 8px 10px;
        width: 20px;
      }

      &:after {
        background-color: $white;
        clear: right;
        content: "";
        float: right;
        height: 2px;
        margin: 0 0 8px 10px;
        width: 20px;
      }
    }
  }

  .header-menu {
    overflow: auto;

    .container {
      margin: 0;
    }
  }

  .header-links-list {
    background-color: $mid-blue;
    margin-top: 0;
    width: 100%;

    ul li {
      float: none;
      padding: 0 $spacing-3;
      border-bottom: 1px solid $mid-grey;

      &:last-child {
        border: 0;
      }

      a {
        padding: $spacing-4 0;

        &:hover:before {
          background-color: $mid-blue;
        }

        &.active:after {
          display: none;
        }
      }
    }
  }

  .header-links-list.collapsed {
    display: none;
  }
}
