
// Header

@import '../partials/vars';
@import '../partials/mixins';

#skip-link:focus {
  background-color: $focus-yellow;
  color: $great-blue;
  left: 0;
  top: 0;
  font-size: 15px;
  height: auto;
  width: auto;
  clip: unset;
  text-decoration: underline;
  padding: 15px;
}

#invest-header {
  background-color: $great-blue;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  a {
    color: $white;
    text-decoration: none;
  }

  .header-bar {
    height: 110px;
    overflow: hidden;
  }

  .header-links-list {
    float: right;
    background-color: $great-blue;
    margin-top: -53px;

    li {
      display: block;
      float: left;

      a {
        font-size: 15px;
        font-weight: 700;
        padding: 15px 15px 20px;
        display: block;
        box-sizing: border-box;
        position: relative;
        height: 53px;
      }

      a.active {

        &:after {
          @include red-trim;
          bottom: 0;
          left: 0;
        }

        &:hover:after {
          display: none;
        }
      }

      a:hover {
        background-color: $mid-blue;

        &:before {
          @include red-trim;
          left: 0;
          top: 0;
        }
      }
    }

    &.collapsed {
      display: block;
    }
  }

  .header-logo {
    margin: $spacing-4 0;
    display: inline-block;

    img {
      height: 74px;

      &:focus {
        outline: 0;
      }
    }

    &:focus {
      @include link-focus;
    }

    &:active {
      @include active;
    }
  }

  .header-menu-activator {
    display: none;
  }

  .not-translated {
    color: $white;
  }

  .language-toggle {
    float: right;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;

    a {
      background-image: url('/static/images/world-language-icon.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 20px;
      padding-left: 25px;
      height: 20px;
      line-height: 20px;
      display: block;
    }

    a:focus {
      @include link-focus;
    }

    .lang {
      text-transform: uppercase;
    }
  }

}

// header links list gets very long in some languages
// so add custom breakpoints here

@media (max-width: 1050px) {
  :lang(ar) {
    @import 'header-collapsed';
  }
}

@media (max-width: 1000px) {
  :lang(fr),
  :lang(es),
  :lang(pt) {
    @import 'header-collapsed';
  }
}

@media (max-width: 990px) {
  :lang(de) {
    @import 'header-collapsed';
  }
}

@media (max-width: 780px) {
  :lang(ja),
  :lang(en-gb) {
    @import 'header-collapsed';
  }
}

@media (max-width: 600px) {
  :lang(zh-hans) {
    @import 'header-collapsed';
  }
}

@media (max-width: 420px) {
  #invest-header {
    .header-logo {
      position: absolute;
    }

    .header-links-list ul li {
      padding: 0 $spacing-4;
    }

    .header-menu-activator {
      margin-right: $spacing-4;
    }
  }
}
