{% extends 'core/base.html' %}
{% load static from staticfiles %}
{% load breadcrumbs from directory_components %}

{% block css_layout_class %}find-a-supplier-subscribe-page{% endblock %}

{% block content %}

<div class="container">
  {% breadcrumbs 'Subscribe' %}
      <a href="{{ trade_home_link.url }}">{{ trade_home_link.label }}</a>
  {% endbreadcrumbs %}
</div>

<section>
  <div class="container background-white">
    {% include 'find_a_supplier/anonymous-subscribe-form.html' with subscribe_form=form %}
  </div>
</section>

{% endblock %}
