{% extends 'core/companies/base-contact.html' %}

{% load breadcrumbs from directory_components %}
{% block head_title %}Find a UK supplier - GREAT.gov.uk{% endblock %}
{% block breadcrumbs %}
    {% url 'find-a-supplier:profile' company_number=company.number slug=company.slug as company_url %}
    {% breadcrumbs 'Contact company' %}
    	<a href="{{ services_urls.great_international }}">great.gov.uk international</a>
    	<a href="{{ company_url|add:'?'|add:search_querystring }}">{{ company.name }}</a>
    {% endbreadcrumbs %}

{% endblock %}
