{% extends 'find_a_supplier/base.html' %}

{% load static %}
{% load industry_tags %}
{% load first_paragraph filter_by_active_language from cms_tags %}
{% load breadcrumbs from directory_components %}

{% block css_layout_class %}find-a-supplier-landing-page{% endblock %}

{% block content %}
<section id="hero" class="great great-hero govuk-!-padding-top-9 govuk-!-padding-bottom-9">
    <div class="great-container govuk-!-margin-top-9">
        <div id="hero-content">
            <div class="hero-teaser">
                {{ page.hero_text|convert_headings_to:'h1'|add_export_elements_classes:'W'}}
            </div>
            <div id="search-area">
                <form action="{% url 'find-a-supplier:search' %}" method="get">
                    <div class="govuk-grid-row">
                        <div class="column-full-width-m column-seven-twelfths-l column-five-twelfths-xl padding-right-0-l">
                            <input
                                class="form-control"
                                type="text"
                                name="{{ search_form.q.name }}"
                                id="{{ search_form.q.id_for_label }}"
                                data-ga-id="search-input"
                                placeholder="{{ page.search_field_placeholder }}"
                            />
                        </div>
                        <div class="column-full-width-m column-five-twelfths-l column-third-xl padding-0-l">
                            <div data-ga-id="select-input-container">
                                {# translations provided by the app #}
                                {{ search_form.industries }}
                            </div>

                        </div>
                        <div class="column-full-width-l column-quarter-xl button-container">
                            <button class="button padding-left-0-l margin-top-15 margin-top-0-xl">{{ page.search_button_text }}</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="image-caption">{{ page.hero_image_caption }}</div>
    </div>
</section>


{% if 'breadcrumbs_label' in page and page.breadcrumbs_label %}
<div class="great great-container">
  {% breadcrumbs page.breadcrumbs_label %}
    <a class="govuk-link" href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
  {% endbreadcrumbs %}
</div>
{% endif %}

{% if features.EU_EXIT_BANNER_ON and cms_component %}
  <div class="great govuk-!-margin-bottom-6" dir="{{ component_is_bidi|yesno:'rtl,ltr' }}">
    <div class="great-container">
      {% banner banner_content=cms_component.banner_content badge_content=cms_component.banner_label %}
    </div>
  </div>
{% endif %}

<section id="introduction-section" class="great govuk-!-padding-bottom-9 govuk-!-padding-top-9 govuk-!-padding-bottom-6 govuk-!-padding-top-6">
    <div class="great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ page.proposition_text|add_export_elements_classes:'B' }}
            </div>
            <div class="govuk-grid-column-one-half">
                <a href="{% url 'find-a-supplier:industry-contact' %}" class="govuk-button float-right">{{ page.call_to_action_text }}</a>
            </div>
        </div>
    </div>
</section>

{% comment "This does work with the new Sector setup in Atlas, but has been disabled for now" %}
<section id="industries-section" class="great govuk-!-padding-bottom-9 govuk-!-padding-bottom-6 great-background-stone-30">
    <div class="great-container">
        <div class="govuk-heading-l">
          {{ page.industries_list_text|safe }}
        </div>
        <ul class="flex-grid">
          {% for industry in page.industries|filter_by_active_language %}
            <li class="column-third-xl column-half-m">
              {% labelled_image_card card_id=industry.slug img_src=industry.hero_image_thumbnail.url img_alt='' url=industry.full_path title=industry.title description=industry.featured_description %}
            </li>
          {% endfor %}
        </ul>
        <a class="govuk-button" href="{% url 'industries' %}">{{ page.industries_list_call_to_action_text }}</a>
    </div>
</section>
{% endcomment %}

<section id="services-section" class="great padding-bottom-60-m govuk-!-padding-bottom-6">
    <div class="great-container">
      <div class="govuk-grid-row">
        <div class="column-two-thirds-m column-half-xl govuk-!-padding-bottom-6">
            {{ page.services_list_text|add_export_elements_classes:'B' }}
        </div>
      </div>
        <div class="flex-grid">
            <div class="column-quarter-xl column-third-l column-half-m govuk-!-margin-bottom-6">
                <div class="image-container">
                    <img src="{{ page.services_column_two_icon.url}}"  alt=""/>
                </div>
                <div class="great-wrap-tight">
                  {{ page.services_column_one|add_export_elements_classes:'B' }}
                </div>
            </div>
            <div class="column-quarter-xl column-third-l column-half-m govuk-!-margin-bottom-6">
                <div class="image-container">
                    <img src="{{ page.services_column_one_icon.url }}" alt=""/>
                </div>
                <div class="great-wrap-tight">
                  {{ page.services_column_two|add_export_elements_classes:'B' }}
                </div>
            </div>
            <div class="column-quarter-xl column-third-l column-half-m govuk-!-margin-bottom-6">
                <div class="image-container">
                    <img src="{{ page.services_column_three_icon.url }}" alt=""/>
                </div>
                <div class="great-wrap-tight">
                  {{ page.services_column_three|add_export_elements_classes:'B' }}
                </div>
            </div>
            <div class="column-quarter-xl column-third-l column-half-m govuk-!-margin-bottom-6">
                <div class="image-container">
                    <img src="{{ page.services_column_four_icon.url }}" alt=""/>
                </div>
                <div class="great-wrap-tight">
                  {{ page.services_column_four|add_export_elements_classes:'B' }}
                </div>
            </div>
        </div>
        {% if page.how_we_help_cta_text and page.how_we_help_cta_link %}
            <a href="{{ page.how_we_help_cta_link }}" class="govuk-button great-button-arrow-small govuk-!-margin-top-6 govuk-!-margin-bottom-3">{{ page.how_we_help_cta_text }}</a>
        {% endif %}
    </div>
</section>

{% endblock content %}
