{% extends 'investment_atlas/base_cms.html' %}
{% load static %}

{% block content %}
    <div class="atlas-home">
        <div class="atlas-home__image">
            <picture>
                <source srcset="{% static 'core/images/atlas/homepage-mobile.jpg' %}" media="(max-width: 767px)"
                        width="1534" height="1441">
                <img src="{% static 'core/images/atlas/homepage.jpg' %}" alt="" width="1920" height="1826">
            </picture>
        </div>
        <div class="atlas-container atlas-p-b-xl">
            <div class="atlas-home__header atlas-colour--white atlas-p-v-s">
                <h1 class="atlas-bold atlas-m-v-s">{{ page.hero_title }}</h1>

                <a href="/international/investment/" class="atlas-button atlas-button--white">Get Started</a>
            </div>

            <nav>
                {% for panel in page.homepage_link_panels %}
                    <a href="{{ panel.value.link }}" class="atlas-card atlas-bg atlas-bg--white atlas-p-s atlas-m-t-s">
                        <h2 class="atlas-h--m atlas-card__heading atlas-p-r-m atlas-m-0">{{ panel.value.title }}</h2>
                        {% if panel.value.supporting_text %}
                            <p class="atlas-body--s atlas-m-t-s atlas-m-b-0">{{ panel.value.supporting_text }}</p>
                        {% endif %}
                        <span class="atlas-home__card-icon atlas-p-r-s atlas-p-t-s">
                            <span class="atlas-svg">
                                {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                            </span>
                        </span>
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
{% endblock %}
