{% extends 'investment_atlas/base_cms.html' %}
{% load static %}

{% block content %}
    <div class="atlas-landing__hero">
        <video class="atlas-hero__media atlas-landing__hero-video" width="1920" height="1000"
               poster="{{ page.hero_video.thumbnail }}" autoplay="true" loop="true" muted="true">
            {% for source in page.hero_video.sources %}
                <source src="{{ source.src }}" type="{{ source.type }}">
            {% endfor %}

            <img class="atlas-hero__media" src="{{ page.hero_video.thumbnail }}" alt=""/>
        </video>

        <div class="atlas-container">
            <div class="atlas-landing__heading">
                <h1 class="atlas-h--xl">{{ page.title }}</h1>
                <p class="atlas-landing__strapline">{{ page.hero_strapline }}</p>
            </div>
        </div>
    </div>

    {% for section in page.downpage_sections %}
        <div {% if section.value.block_slug %}id="{{ section.value.block_slug }}"{% endif %}
             class="atlas-landing-page__section">
            <div class="atlas-container">
                <div class="atlas-grid">
                    <div class="atlas-grid__column atlas-grid__column--5-12-m">
                        <h2 class="atlas-h--xl">{{ section.value.heading }}</h2>
                    </div>
                </div>
                <div class="atlas-grid atlas-grid--masonry">
                    <div class="atlas-grid__column atlas-grid__column--left atlas-grid__column--6-12-m">
                        <p class="atlas-landing-page__text atlas-body--m">{{ section.value.main_text }}</p>
                    </div>
                    {% if section.value.block_slug == 'with-regions-map' %}
                        <div class="atlas-grid__column atlas-grid__column--right atlas-grid__column--6-12-m">
                            <div class="atlas-svg-map atlas-landing__map">
                                {% include 'investment_atlas/includes/svg/regions-map.svg.html' with highlight='all' %}
                            </div>
                        </div>
                    {% elif section.value.second_column.0.type == 'text' %}
                        <div class="atlas-grid__column atlas-grid__column--right atlas-grid__column--6-12-m atlas-grid__column--5-12-l atlas-grid__column--offset-1-l">
                            <blockquote class="atlas-landing-page__quote atlas-body--l">
                                <p>{{ section.value.second_column.0.value }}</p>
                            </blockquote>
                        </div>
                    {% elif section.value.second_column.0.value.image %}
                        <div class="atlas-grid__column atlas-grid__column--right atlas-grid__column--6-12-m">
                            <img src="{{ section.value.second_column.0.value.image }}"
                                 alt="{{ section.value.second_column.0.value.image_alt }}"
                                 class="atlas-landing-page__image atlas-image"/>
                        </div>
                    {% endif %}
                    {% if section.value.call_to_action %}
                        <div class="atlas-grid__column atlas-grid__column--6-12-m">
                            <a href="{{ section.value.call_to_action.link }}"
                               class="atlas-button">
                                {{ section.value.call_to_action.label }}
                                <span class="atlas-button__icon">
                                    {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
