{% extends 'core/base_cms.html' %}
{% load static %}

{% block css_layout_class %}atlas atlas-regular{% endblock css_layout_class %}

{% block content %}
    <details>
        <summary>data</summary>
        <pre>{{ page | pprint }}</pre>
    </details>

    {% if page.featured_images|length > 0 %}
        <div class="atlas-hero">
            <img class="atlas-hero__image" src="{{ page.featured_images.0.value.image }}"
                 alt="{{ page.featured_images.0.value.image_alt }}">
        </div>
    {% endif %}

    <div class="atlas-hero__heading">
        <div class="atlas-container">
            <h1 class="atlas-h--xl">{{ page.title }}</h1>
        </div>
    </div>

    <div class="atlas-container">
        <div class="atlas-grid">
            <div class="atlas-grid__column atlas-grid__column--6-12-m">
                <p class="atlas-body--l">{{ page.strapline }}</p>
                <div class="atlas-body--s">
                    {{ page.introduction|safe }}
                </div>
            </div>
            {% if page.featured_images|length > 1 %}
                <div class="atlas-grid__column atlas-grid__column--6-12-m">
                    <img src="{{ page.featured_images.1.value.image }}"
                         alt="{{ page.featured_images.1.value.image_alt }}"
                         class="atlas-image atlas-m-b-m">
                </div>
            {% endif %}
        </div>

        <div class="atlas-bg--grey-lighter atlas-p-h-m atlas-p-v-s atlas-m-b-m">
            <div class="atlas-grid">
                {% if page.location %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Location' value=page.location %}
                {% endif %}

                {% if page.investment_type %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Investment type' value=page.investment_type %}
                {% endif %}

                {% if page.related_sectors|length > 0 %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Sector' value=page.related_sectors.0.related_sector.heading %}
                {% endif %}

                {% if page.promoter %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Project promoter' value=page.promoter %}
                {% endif %}

                {% if page.scale %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Scale' value=page.scale %}
                {% endif %}

                {% if page.planning_status %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Planning status' value=page.planning_status.name %}
                {% endif %}

                {% if page.time_to_investment_decision %}
                    {% include 'investment_atlas/includes/opportunity_detail.html' with label='Time to Final Investment Decision (FID)' value=page.time_to_investment_decision %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="atlas-bg--grey-darker atlas-colour--white">
        <div class="atlas-container">
            <div class="atlas-opportunity__contact atlas-grid">
                <div class="atlas-grid__column atlas-grid__column--6-12-m atlas-p-v-xs">
                    <div class="atlas-media atlas-media--centred">
                        {% if page.contact_avatar %}
                            <div class="atlas-media__img">
                                <div class="atlas-opportunity__contact-image">
                                    <img src="{{ page.contact_avatar.url }}"
                                         alt="{{ page.contact_avatar.alt }}">
                                </div>

                            </div>
                        {% endif %}
                        <div class="atlas-media__body">
                            <h3 class="atlas-bold">{{ page.contact_name }}</h3>
                            <p class="atlas-m-0">{{ page.contact_job_title }}</p>
                        </div>
                    </div>
                </div>
                <div class="atlas-grid__column atlas-grid__column--6-12-m atlas-p-v-xs">
                    <div class="atlas-opportunity__contact-cta">
                        <h3 class="atlas-bold">Contact the opportunity lead</h3>
                        <a href="#" class="atlas-button atlas-button--white">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for section in page.main_content %}
        <section
                class="atlas-alternate-bg{% if section.value.block_slug == 'with-key-links' %}  atlas-bg--grey-light{% endif %}">
            <div class="atlas-container atlas-p-t-l atlas-p-b-s">

                {% for block in section.value.content %}
                    <div class="atlas-grid">
                        {% if block.type == 'text' %}
                            <div class="atlas-grid__column atlas-grid__column--8-12-m">
                                <div class="atlas-cms-text atlas-p-b-m">
                                    {{ block.value|safe }}
                                </div>
                            </div>
                        {% endif %}

                        {% if block.type == 'columns' %}
                            {% for column in block.value %}
                                <div class="atlas-grid__column atlas-grid__column--4-12-m">
                                    <div class="atlas-cms-text atlas-p-b-m">
                                        {{ column.value|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if block.type == 'image' %}
                            <div class="atlas-grid__column atlas-grid__column--8-12-m">
                                <div class="atlas-cms-text atlas-p-b-m">
                                    <img class="atlas-image" src="{{ block.value.image }}"
                                         alt="{{ block.value.image_alt }}">
                                </div>
                            </div>
                        {% endif %}

                        {% if section.value.block_slug == 'with-key-links' and page.important_links %}
                            <div class="atlas-grid__column atlas-grid__column--4-12-m">
                                <div class="atlas-opportunity__key-links atlas-bg--white atlas-p-s atlas-m-b-m">
                                    <h3 class="atlas-h--m">Key links</h3>
                                    <div class="atlas-cms-text">
                                        {{ page.important_links|safe }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if section.value.block_slug == 'with-region-spotlight' and page.related_regions|length > 0 %}
                            <div class="atlas-grid__column atlas-grid__column--4-12-m">
                                <div class="atlas-opportunity__region-spotlight atlas-bg--grey-light atlas-m-b-m">
                                    {% with region=page.related_regions.0 %}
                                        <h3 class="atlas-h--m atlas-p-s atlas-m-0">
                                            <div class="atlas-body--s atlas-p-b-xs">Region Spotlight</div>
                                            {{ region.title }}
                                        </h3>
                                        {% if region.hero_image_thumbnail %}
                                            <img class="atlas-image" src="{{ region.hero_image_thumbnail.url }}"
                                                 alt="{{ region.hero_image_thumbnail.alt }}">
                                        {% endif %}
                                        <div class="atlas-cms-text atlas-p-s">
                                            <p>{{ region.region_summary_section_intro }}</p>
                                            <p><a href="{{ region.full_path }}">View all investment opportunities
                                                in {{ region.title }}</a></p>
                                        </div>
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}

    {% if page.related_opportunities|length > 0 %}
        <section class="atlas-bg atlas-bg--grey-light">
            <div class="atlas-container atlas-p-t-l atlas-p-b-m">
                <h2 class="atlas-h--l">Related opportunities</h2>

                <div class="atlas-grid">
                    {% for opportunity in page.related_opportunities %}
                        <div class="atlas-grid__column atlas-grid__column--4-12-m">
                            <a href="{{ opportunity.full_path }}" class="atlas-card atlas-bg--white atlas-m-t-m">
                                <img class="atlas-image" src="{{ opportunity.thumbnail_image.image }}"
                                     alt="{{ opportunity.thumbnail_image.image_alt }}">
                                <div class="atlas-cms-text atlas-p-s">
                                    <h3 class="atlas-card__heading atlas-h--s">{{ opportunity.title }}</h3>
                                    <p>{{ opportunity.opportunity_summary }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
