{% extends 'investment_atlas/base_cms.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load update_query_params from atlas_tags %}

{% load pagination from directory_components %}

{% block content %}
    {% include 'investment_atlas/includes/debug_data.html' with data=pagination.object_list %}

    <form id="opportunities-search-form" action="{{ paginator_url }}" class="atlas-bg--grey-lighter"
          style="position: relative; min-height: 600px;">
        <div class="atlas-container atlas-container--wide atlas-p-v-m">
            <div class="atlas-grid">
                <section class="atlas-grid__column atlas-grid__column--4-12-l atlas-grid__column--3-12-xl atlas-m-b-s"
                         style="position: relative; z-index: 1;">
                    <div class="atlas-bg--white atlas-p-s">
                        <h1 class="atlas-h--m atlas-m-0">Investment opportunities</h1>

                        <button class="atlas-search-filter__toggle atlas-button atlas-button--link atlas-visually-hidden-l atlas-hidden-nojs atlas-m-t-s"
                                type="button"
                                aria-controls="atlas-search-filters" data-reveal-button>
                            Filter results
                            <span class="atlas-button__icon">
                                {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                            </span>
                        </button>
                    </div>

                    <div id="atlas-search-filters"
                         class="atlas-reveal__contents atlas-reveal__contents--show-l">
                        <div class="atlas-search__filters atlas-bg atlas-bg--white atlas-p-h-s">
                            {% include 'investment_atlas/includes/search_filter.html' with label='View as' field=form.view %}
                            {% if sectors %}
                                {% include 'investment_atlas/includes/search_filter.html' with label='Sector' field=form.sector %}
                            {% endif %}

                            {% if sub_sectors %}
                                {% include 'investment_atlas/includes/search_filter.html' with label='Sub-sectors' field=form.sub_sector %}
                            {% endif %}

                            {% if regions|length > 1 %}
                                {% include 'investment_atlas/includes/search_filter.html' with label='UK nation or region' field=form.region %}
                            {% endif %}

                            {% if investment_types %}
                                {% include 'investment_atlas/includes/search_filter.html' with label='Investment type' field=form.investment_type %}
                            {% endif %}

                            {% if scales %}
                                {% include 'investment_atlas/includes/search_filter.html' with label='Investment value' field=form.scale %}
                            {% endif %}

                            {% if planning_statuses %}
                                {% include 'investment_atlas/includes/search_filter.html' with label='Planning status' field=form.planning_status %}
                            {% endif %}
                        </div>

                        <div class="atlas-search__submit atlas-bg--white atlas-p-s">
                            <button class="atlas-button atlas-search__button" type="submit">
                                {% trans 'Update results' %}
                            </button>

                            <p class="atlas-m-t-s atlas-m-b-0">
                                <a class="atlas-link" href="{% url 'atlas-opportunities' %}">
                                    {% trans 'Clear all filters' %}
                                </a>
                            </p>
                        </div>
                    </div>
                </section>

                {% if form.view.value == 'list' %}
                    <section class="atlas-grid__column atlas-grid__column--8-12-l atlas-grid__column--9-12-xl">
                        <div class="atlas-search-sort atlas-m-b-s">
                            <label for="{{ form.sort_by.id_for_label }}" class="atlas-search-sort__label">
                                {% trans 'Sort by' %}:
                            </label>
                            <div>
                                {{ form.sort_by }}
                            </div>
                        </div>

                        <ul>
                            {% for opportunity in pagination.object_list %}
                                <li>
                                    <a class="atlas-card atlas-bg--white atlas-search__result atlas-p-h-s atlas-p-t-s atlas-m-b-s"
                                       href="{{ opportunity.full_path }}">
                                        <div class="atlas-grid">
                                            <div class="atlas-grid__column atlas-grid__column--6-12-s atlas-grid__column--4-12-l atlas-p-b-s">
                                                <img class="atlas-image" src="{{ opportunity.hero_image.url }}"
                                                     alt="{{ opportunity.title }}">
                                            </div>

                                            <div class="atlas-grid__column atlas-grid__column--6-12-s atlas-grid__column--8-12-l atlas-p-b-s">
                                                <h4 class="atlas-card__heading atlas-h--s atlas-m-0">{{ opportunity.title }}</h4>
                                                {% if opportunity.opportunity_summary %}
                                                    <p class="atlas-m-t-s atlas-m-b-0">{{ opportunity.opportunity_summary }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    <p class="atlas-body--m atlas-p-v-l">{% trans 'We couldn’t find any opportunities - please try some different filters.' %}</p>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if pagination.paginator.num_pages > 1 %}
                            <div class="atlas-pagination">
                                {% if pagination.has_previous %}
                                    <a href="?{% update_query_params page=pagination.previous_page_number %}"
                                       class="atlas-button atlas-pagination__previous">
                                <span class="atlas-button__icon atlas-button__icon--first">
                                   {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                                </span>
                                        Previous
                                    </a>
                                {% endif %}

                                <p class="atlas-pagination__number">Page {{ pagination.number }}
                                    of {{ pagination.paginator.num_pages }}</p>

                                {% if pagination.has_next %}
                                    <a href="?{% update_query_params page=pagination.next_page_number %}"
                                       class="atlas-button atlas-pagination__next">
                                        Next
                                        <span class="atlas-button__icon">
                                   {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                                </span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}

                    </section>
                {% endif %}
            </div>
        </div>

        {% if form.view.value == 'map' %}
            {{ pagination.object_list|json_script:"atlas-opportunities" }}
            <link href="https://unpkg.com/maplibre-gl@1/dist/maplibre-gl.css" rel="stylesheet"/>
            <div id="map"
                 style="position: absolute; left: 0; top: 0; z-index: 0; width: 100%; height: 100%; background: rgb(181, 225, 251);"></div>
            <script src="https://unpkg.com/maplibre-gl@1"></script>
            <script src="https://unpkg.com/amazon-location-helpers@1.1"></script>
            <script>
                var allOpportunities = JSON.parse(document.getElementById('atlas-opportunities').textContent);

                async function initializeMap() {
                    // actually initialize the map
                    const map = await AmazonLocation.createMap(
                        {
                            // Cognito Identity Pool ID
                            identityPoolId: "eu-west-1:960cb96f-ef5e-46a1-8f84-802d2344be6a",
                        },
                        {
                            container: "map",
                            center: [53.566006, -4.794767], // initial map center point
                            zoom: 6, // initial map zoom
                            // Amazon Location Service Map Name
                            style: "TestMap",
                            hash: true,
                        }
                    );

                    map.addControl(new maplibregl.NavigationControl(), "bottom-right");

                    allOpportunities.forEach(function (opp) {
                        if (opp.locations_with_regions.length > 0) {
                            opp.locations_with_regions.forEach(function (location) {
                                var latLong = location.value.map_coordinate.split(',').map(function (coord) {
                                    return coord.trim()
                                })
                                var marker = new maplibregl.Marker()
                                    .setLngLat([latLong[1], latLong[0]])
                                    .addTo(map);
                            })
                        }

                    })
                }

                initializeMap();
            </script>
        {% endif %}
    </form>
{% endblock content %}
