{% extends 'core/base_cms.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card add_export_elements_classes statistics_card_grid case_study breadcrumbs from directory_components %}
{% load cms_hero from cms_tags %}

{% block css_layout_class %}about-uk-region-listing-page{% endblock %}

{% block header_js %}
    {{ block.super }}
    <script src="{% static 'core/js/dit.js' %}"></script>
    <script src="{% static 'core/js/dit.components.accordion.js' %}"></script>
{% endblock %}

{% block content %}

{% cms_hero hero_text=page.hero_title %}

<section id="breadcrumb-section">
  <div class="container">
      {% breadcrumbs page.breadcrumbs_label %}
        <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
        {% if features.ABOUT_UK_LANDING_PAGE_ON %}
        <a href="{% url 'cms-page-from-path' 'about-uk' %}">{% trans 'About the UK' %}</a>
        {% endif %}
      {% endbreadcrumbs %}
  </div>
</section>

{% if show_mapped_regions %}
<section class="page-section">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds-l">
                {{ page.intro|add_export_elements_classes|safe }}
            </div>
        </div>
        <div class="flex-grid margin-top-30">
            <div class="column-half-xl cta-block-content center-vertical map-labels">
                {% for field in page.mapped_regions %}
                    <div class="region-label">
                        <a class="region-link" href="{{ field.region.full_path }}">
                            <h3 class="region-title bold-small">{{ field.region.title }}</h3>
                        </a>
                    </div>
                    <span class="margin-bottom-30 font-xsmall">{{ field.text }}</span>
                {% endfor %}
            </div>
            <div class="column-half-xl center-vertical flex-shrink-0 max-width-100">
                {% include 'core/includes/uk_map.html' with regions=regions scotland=scotland northern_ireland=northern_ireland north_england=north_england south_england=south_england wales=wales midlands=midlands %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if  page.contact_title and page.contact_text %}
<section class="stone-page-section">
    <div class="container">
        <h1 class="heading-large">{{ page.contact_title }}</h1>
        <div class="grid-row">
            <div class="column-half-l">
                {{ page.contact_text|add_export_elements_classes|safe }}
            </div>
        </div>
        {% if page.contact_cta_link and page.contact_cta_text %}
            <a class="button button-arrow-small margin-top-15-l" href="{{ page.contact_cta_link }}">{{ page.contact_cta_text }}</a>
        {% endif %}
    </div>
</section>
{% endif %}

{% endblock %}
