{% extends 'investment_atlas/base_cms.html' %}
{% load static %}

{% block content %}
    {% include 'investment_atlas/includes/hero_image.html' %}

    <div class="atlas-hero__heading">
        <div class="atlas-container">
            <div class="atlas-grid">
                <div class="atlas-grid__column atlas-grid__column--6-12-m">
                    <h1 class="atlas-h--xl atlas-m-b-m">{{ page.title }}</h1>
                    <div class="atlas-body--l">{{ page.intro|safe }}</div>
                </div>
                <div class="atlas-grid__column atlas-grid__column--5-12-m atlas-grid__column--offset-1-m">
                    <div class="atlas-svg-map atlas-regions__map">
                        {% include 'investment_atlas/includes/svg/regions-map.svg.html' with links=True regions=regions %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section class="atlas-container">
        <div class="atlas-grid">
            {% for card in cards_list %}
                <div class="atlas-grid__column atlas-grid__column--6-12-m atlas-grid__column--4-12-l">
                    {% include 'investment_atlas/includes/card.html' with data=card %}
                </div>
            {% endfor %}
        </div>
    </section>

    {% if page.related_pages|length > 0 %}
        <section class="atlas-bg atlas-bg--grey-light">
            <div class="atlas-container atlas-p-t-l atlas-p-b-m">
                <h2 class="atlas-h--l">Explore more of the Investment Atlas</h2>
                {% include 'investment_atlas/includes/related_pages.html' with related_pages=page.related_pages %}
            </div>
        </section>
    {% endif %}

{% endblock %}
