{% extends 'investment_atlas/base_cms.html' %}

{% block content %}
    {% include 'investment_atlas/includes/hero_image.html' with image=page.hero_image %}

    {% include 'investment_atlas/includes/hero_heading.html' with title=page.title %}

    <div class="atlas-container">
        <div class="atlas-grid">
            <div class="atlas-grid__column atlas-grid__column--6-12-m">
                <p class="atlas-body--l atlas-m-t-0">{{ page.sub_heading }}</p>
            </div>
        </div>

        <div class="atlas-grid atlas-grid--masonry">
            {% if page.intro_image %}
                <div class="atlas-grid__column atlas-grid__column--right atlas-grid__column--6-12-m">
                    <img src="{{ page.intro_image.url }}"
                         alt="{{ page.intro_image.alt }}"
                         class="atlas-image atlas-m-b-m">
                </div>
            {% endif %}

            <div class="atlas-grid__column atlas-grid__column--left atlas-grid__column--{% if page.intro_image %}6{% else %}8{% endif %}-12-m">
                <div class="atlas-cms-text atlas-m-b-m">
                    {{ page.intro_text|safe }}
                </div>
            </div>
        </div>
    </div>

    {% include 'investment_atlas/includes/contact.html' with button_preamble=page.contact_link_button_preamble|default:"Contact the sector lead" button_label=page.contact_link_button_label %}

    <div class="atlas-alternate-bg">
        {% if page.related_opportunities|length > 0 %}
            <section>
                <div class="atlas-container atlas-p-t-l atlas-p-b-m">
                    <h2 class="atlas-h--l">{{ page.related_opportunities_header }}</h2>

                    {% include 'investment_atlas/includes/related_opportunities.html' with opportunities=page.related_opportunities %}

                    <p class="atlas-m-t-l atlas-m-b-s"><a href="/international/investment/opportunities/"
                                                          class="atlas-link">View all investment opportunities</a>
                    </p>
                </div>
            </section>
        {% endif %}


        {% for section in page.downpage_content %}
            {% include 'investment_atlas/includes/cms_section.html' with section=section %}
        {% endfor %}
    </div>

    {% if page.early_opportunities|length > 0 %}
        <section>
            <div class="atlas-container atlas-p-t-l atlas-p-b-m">
                <h2 class="atlas-h--l">{{ page.early_opportunities_header|default:"Early investment opportunities" }}</h2>

                <div class="atlas-grid">
                    {% for opportunity in page.early_opportunities %}
                        <div class="atlas-grid__column atlas-grid__column--4-12-m atlas-m-t-m">
                            <img class="atlas-image" src="{{ opportunity.value.image.image }}"
                                 alt="{{ opportunity.value.image.image_alt }}">
                            <div class="atlas-cms-text atlas-p-s">
                                {{ opportunity.value.text|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
