{% if page.contact_link or page.contact_name or page.contact_job_title or page.contact_avatar %}
    <div class="atlas-bg--grey-darker atlas-colour--white">
        <div class="atlas-container">
            <div class="atlas-opportunity__contact atlas-grid">
                {% if page.contact_avatar or page.contact_name or page.contact_job_title %}
                    <div class="atlas-grid__column atlas-grid__column--centred atlas-grid__column--6-12-m atlas-p-v-xs">
                        <div class="atlas-media atlas-media--centred">
                            {% if page.contact_avatar %}
                                <div class="atlas-media__img">
                                    <div class="atlas-opportunity__contact-image">
                                        <img src="{{ page.contact_avatar.url }}" alt="{{ page.contact_avatar.alt }}">
                                    </div>
                                </div>
                            {% endif %}
                            <div class="atlas-media__body">
                                {% if page.contact_name %}
                                    <h3 class="atlas-h--xs">{{ page.contact_name }}</h3>
                                {% endif %}
                                {% if page.contact_job_title %}
                                    <p class="atlas-m-0">{{ page.contact_job_title }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.contact_link %}
                    <div class="atlas-grid__column atlas-grid__column--centred atlas-grid__column--6-12-m atlas-p-t-xs">
                        <div class="atlas-opportunity__contact-cta">
                            {% if button_preamble %}
                                <h3 class="atlas-h--xs atlas-m-b-xs atlas-m-h-xs atlas-align--centre">
                                    {{ button_preamble }}
                                </h3>
                            {% endif %}
                            <a href="{{ page.contact_link }}" class="atlas-button atlas-button--white atlas-m-b-xs">
                                {{ button_label|default:"Get in touch" }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
