{% if page.contact_link or page.contact_name or page.contact_job_title or page.contact_avatar %}
    <div class="atlas-bg--green-light">
        <div class="atlas-container">
            <div class="atlas-opportunity__contact atlas-grid">

                {% if button_preamble %}
                    <div class="atlas-grid__column atlas-p-t-s">
                        <h2 class="atlas-h--m atlas-m-b-xs">
                            {{ button_preamble }}
                        </h2>
                    </div>
                {% endif %}

                {% if page.contact_avatar or page.contact_name or page.contact_job_title %}
                    <div class="atlas-grid__column">
                        <div class="atlas-media">
                            {% if page.contact_avatar %}
                                <div class="atlas-media__img">
                                    <div class="atlas-opportunity__contact-image">
                                        <img src="{{ page.contact_avatar.url }}" alt="{{ page.contact_avatar.alt }}">
                                    </div>
                                </div>
                            {% endif %}
                            <div class="atlas-media__body">
                                {% if page.contact_name %}
                                    <h3 class="atlas-h--xs">{{ page.contact_name }}</h3>
                                {% endif %}
                                {% if page.contact_job_title %}
                                    <p class="atlas-m-0">{{ page.contact_job_title }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.contact_link %}
                    <div class="atlas-grid__column atlas-p-t-s atlas-m-b-s">
                        <div class="atlas-opportunity__contact-cta">
                            <a href="{{ page.contact_link }}" class="atlas-button atlas-button--white">
                                {{ button_label|default:"Get in touch" }}
                                <span class="atlas-button__icon">
                                    {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                                </span>
                            </a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endif %}
