{% if page.hero_image or page.hero_video %}
    <div class="atlas-hero">
        {% if page.hero_video %}
            <video class="atlas-hero__media"{% if page.hero_video.thumbnail %}
                   poster="{{ page.hero_video.thumbnail }}"{% endif %}
                   autoplay loop muted>
                {% for source in page.hero_video.sources %}
                    <source src="{{ source.src }}" type="{{ source.type }}">
                {% endfor %}
            </video>
        {% else %}
            <picture>
                {% include 'investment_atlas/includes/image_source.html' with image=page.hero_small %}
                {% include 'investment_atlas/includes/image_source.html' with image=page.hero_medium %}
                {% include 'investment_atlas/includes/image_source.html' with image=page.hero_large %}
                {% include 'investment_atlas/includes/image_source.html' with image=page.hero_xlarge %}

                <img class="atlas-hero__media" src="{{ page.hero_image.url }}" alt="{{ page.hero_image.alt }}">
            </picture>
        {% endif %}
    </div>
{% endif %}
