<div class="atlas-container">
    <div class="atlas-grid">
        <div class="atlas-grid__column atlas-grid__column--6-12-m atlas-m-b-m">
            <p class="atlas-body--l atlas-m-t-0">{{ page.strapline }}</p>
            <div class="atlas-cms-text atlas-body--s">
                {{ page.introduction|safe }}
            </div>
        </div>
        <div class="atlas-grid__column atlas-grid__column--6-12-m atlas-m-b-m">
            {% if page.intro_video %}
                {% with video=page.intro_video %}
                    {% include 'investment_atlas/includes/video.html' %}
                {% endwith %}
            {% elif page.intro_image %}
                <img src="{{ page.intro_image.url }}"
                    alt="{{ page.intro_image.alt }}"
                    class="atlas-image">
            {% endif %}
        </div>
    </div>
</div>
