<section class="atlas-bg atlas-bg--dark-blue atlas-colour--white">
    <div class="atlas-container atlas-p-t-l atlas-p-b-xl">
        <h2 class="atlas-h atlas-h--xl">Speak to us</h2>
        <p class="atlas-body atlas-body--m">
            The government is identifying new projects across the whole of the UK. Investors who are interested in our projects can find out more by contacting
            us.
        </p>
        <a href="/international/contact/" class="atlas-button atlas-button--white">Get in touch</a>
    </div>
</section>
