{% load cms_url from atlas_tags %}

<div class="atlas-video">
    <video controls {% if video.thumbnail %}poster="{{ video.thumbnail }}"{% endif %}>
        {% for source in video.sources %}
            <source src="{{ source.src }}" type="{{ source.type }}">
        {% endfor %}

        {% for track in video.subtitles %}
            <track kind="captions" srclang="{{ track.srclang }}" src="{% cms_url %}{{ track.url }}"
                    {% if track.default %}
                   default{% endif %}/>
        {% endfor %}

        <p>Your browser cannot play this video. You can
            <a href="{{ video.url }}">download it</a> instead.</p>
    </video>

    {% if video.transcript %}
        <details data-transcript-toggle class="atlas-details atlas-m-t-xs">
            <summary class="atlas-button atlas-button--link">
                <span class="atlas-details__icon">
                    {% include 'investment_atlas/includes/svg/icon-arrow.svg' %}
                </span>
                <span class='atlas-summary-text'>View video transcript</span>
            </summary>

            <div aria-label="video transcript" class="atlas-video__transcript atlas-m-t-xs atlas-p-s">{{ video.transcript }}</div>
        </details>
    {% endif %}
</div>
