
// LANGUAGE SELECTOR
// ==================

.great-header-language-selector {
  font-family: $brand-font;
  padding: 15px 30px;

  h2 {
    font-family: inherit;
    margin: 5px 0 15px;
  }

  .link {
    cursor: pointer;
    display: block;

    &:focus {
      @include focus
    }

    &:active:focus {
      background-color: $focus-yellow;
      color: $grey;
    }
  }
}
