boto3==1.9.232
dateparser==0.7.0
directory-api-client==20.0.0
directory-cms-client==10.2.0
directory-components==35.17.1
directory-constants==20.11.0
directory-forms-api-client==5.1.0
directory-healthcheck==2.0.0
directory-validators==6.0.2
django-countries==5.5
django-environ==0.4.5
django-formtools==2.1
django-ipware==2.1.0
django-recaptcha==2.0.5
django-redis==4.10.0
django-storages==1.7.2
Django==2.2.13
djangorestframework==3.10.3
elastic-apm>=5.5.2,<6.0.0
pir-client==1.1.0
requests[security]==2.22.0
sentry-sdk==0.13.4
sorl-thumbnail==12.5.0
urllib3>=1.24.2,<2.0.0
waitress==1.4.3
whitenoise==4.1.3
gunicorn==20.0.4
psycogreen==1.0.2
