@import 'tokens';

.atlas-container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: $page-gutter;
  padding-right: $page-gutter;

  @media (min-width: $breakpoint-medium) {
    padding-left: $page-gutter-medium;
    padding-right: $page-gutter-medium;
  }
}

.atlas-container--header {
  max-width: 1430px;
}

.atlas-container--footer {
  max-width: none;
}
