@mixin atlas-regular {
  font-family: 'Euclid Flex B', Arial, sans-serif;
  font-weight: 400;
}

@mixin atlas-bold {
  font-family: 'Euclid Flex B', Arial, sans-serif;
  font-weight: 900;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
