@import 'tokens';

/*
NOTE: If we don't want to support IE11, we can switch to simply declaring spacings as root vars:

:root {
  --spacing-xs: 8px;
}

@media (min-width: $breakpoint-medium) {
  :root {
    --spacing-xs: 15px;
  }
}

.atlas-m-xs {
  margin: var(--spacing-xs);
}
 */

@mixin spacings($spacing-values) {
  $sides: ('t': 'top', 'r': 'right', 'b': 'bottom', 'l': 'left');
  $properties: ('p': 'padding', 'm': 'margin');

  @each $p, $property in $properties {
    .atlas-#{$p}-0 {
      #{$property}: 0 !important;
    }

    .atlas-#{$p}-v-0 {
      #{$property}-top: 0 !important;
      #{$property}-bottom: 0 !important;
    }

    .atlas-#{$p}-h-0 {
      #{$property}-left: 0 !important;
      #{$property}-right: 0 !important;
    }

    @each $s, $side in $sides {
      .atlas-#{$p}-#{$s}-0 {
        #{$property}-#{$side}: 0 !important;
      }
    }

    @each $suffix, $value in $spacing-values {
      .atlas-#{$p}-#{$suffix} {
        #{$property}: $value !important;
      }

      .atlas-#{$p}-v-#{$suffix} {
        #{$property}-top: $value !important;
        #{$property}-bottom: $value !important;
      }

      .atlas-#{$p}-h-#{$suffix} {
        #{$property}-left: $value !important;
        #{$property}-right: $value !important;
      }

      @each $s, $side in $sides {
        .atlas-#{$p}-#{$s}-#{$suffix} {
          #{$property}-#{$side}: $value !important;
        }
      }
    }
  }
}

@include spacings($spacings);

@media (min-width: $breakpoint-medium) {
  @include spacings($spacings-medium);
}
