$atlas-red: #eb0000;
$atlas-dark-blue: #050540;
$atlas-black: #000;
$atlas-white: #fff;
$atlas-grey-light: #dde5ed;
$atlas-green-light: #8ce2d0;
$atlas-body: #1e1348;

$page-gutter: 20px;
$page-gutter-medium: 30px;
$grid-gutter: 15px;
$grid-gutter-medium: 30px;

$breakpoint-medium: 768px;
