{% extends 'core/companies/case-study.html' %}

{% block breadcrumbs %}
    {% breadcrumbs 'Contact company' %}
        <a href="{{ services_urls.great_international }}">great.gov.uk international</a>
            {% if breadcrumbs.label and breadcrumbs.url %}
                <a href="{{ breadcrumbs.url }}">{{ breadcrumbs.label }}</a>
            {% endif %}
        <a href="{{ isd_url}}{{company.number}}/contact/?{{ search_querystring }}">{{ company.name }}</a>
    {% endbreadcrumbs %}
{% endblock %}
