{% extends 'core/companies/base.html' %}
{% load static from staticfiles %}
{% load breadcrumbs ga360_data from directory_components %}

{% block css_layout_class %}investment-support-directory-home{% endblock %}

{% block content %}
    <section id="hero" class="hero hero-generic background-light-blue white-text padding-vertical-90-m padding-vertical-30" style="background-image: url('{% static 'core/images/investment_support_directory/hero.png' %}'); background-position: 50%; background-size: cover;">
        <div class="container">
            <div class="width-two-thirds">
                <h1 class="heading-xlarge margin-0">Find a UK specialist</h1>
                <p class="hero-subtitle margin-bottom-45">Search the UK Investment Support Directory to find specialists with experience in helping businesses set up or expand in the UK.</p>
            </div>
            {% ga360_data "isd-search-form" target="form" %}
            <form method="post">
                {{ form }}
                <button class="button">Find a UK specialist</button>
            </form>
            {% end_ga360_data %}
        </div>
    </section>

    <div id="benefits">
        <div class="container">
            {% ga360_data "breadcrumbs" %}
                {% breadcrumbs 'Find a UK specialist' %}
                    <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
                    {% if breadcrumbs.label and breadcrumbs.url %}
                        <a href="{{ breadcrumbs.url }}">{{ breadcrumbs.label }}</a>
                    {% endif %}
                {% endbreadcrumbs %}
            {% end_ga360_data %}
            <div class="width-half">
                <h2 class="heading-large">UK Investment Support Directory </h2>
            </div>
            <section class="grid-row">
                <div class="column-one-half" id="benefits-list-container">
                    <ul>
                        <li>
                            <h3 class="heading-medium">Search for experienced advice</h3>
                            <p>The UK Investment Support Directory is a collection of companies that have skills and experience in helping overseas businesses establish or expand in the UK.</p>
                        </li>
                        <li>
                            <h3 class="heading-medium">Find the right help</h3>
                            <p>You can search the directory to find the right specialist to meet your needs. For example, find businesses with experience in different UK regions, UK tax and employment law, visas and immigration, or fluency in other languages.</p>
                        </li>
                        <li>
                            <h3 class="heading-medium">Get in touch</h3>
                            <p>When you’ve found your specialist, contact them through this service. You’ll get your first hour’s consultation for free.</p>
                        </li>
                    </ul>
                </div>
                <div class="column-one-half">
                    <img src="{% static 'core/images/investment_support_directory/feature.png' %}" />
                </div>
            </section>
        </div>
    </div>
    <div class="background-stone-30" id="bottom">
        {% ga360_data "search-link" %}
        <div class="container">
            <div class="width-one-half">
                <h2 class="heading-large">How UK businesses can help</h2>
                <p id="create-business-profile-label-bottom">Search for products and services that can help your business set up or expand in the UK.</p>
            </div>
            <div class="grid-row">
                <ul class="column-one-third">
                    <h3 class="heading-medium">Financial</h3>
                    {% for choice in CHOICES_FINANCIAL %}
                        <li><a href="{{ search_url }}?expertise_products_services_financial={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Management consulting</h3>
                    {% for choice in CHOICES_MANAGEMENT_CONSULTING %}
                        <li><a href="{{ search_url }}?expertise_products_services_management={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Human resources and recruitment</h3>
                    {% for choice in CHOICES_HUMAN_RESOURCES %}
                        <li><a href="{{ search_url }}?expertise_products_services_human_resources={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid-row">
                <ul class="column-one-third">
                    <h3 class="heading-medium">Legal</h3>
                    {% for choice in CHOICES_LEGAL %}
                        <li><a href="{{ search_url }}?expertise_products_services_legal={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Publicity and communications</h3>
                    {% for choice in CHOICES_PUBLICITY %}
                        <li><a href="{{ search_url }}?expertise_products_services_publicity={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Business support</h3>
                    {% for choice in CHOICES_BUSINESS_SUPPORT %}
                        <li><a href="{{ search_url }}?expertise_products_services_business_support={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% end_ga360_data %}
    </div>
{% endblock content %}
