{% extends 'core/companies/base.html' %}
{% load static %}
{% load breadcrumbs ga360_data from directory_components %}

{% block css_layout_class %}investment-support-directory-home{% endblock %}


{% block content %}
    <section id="hero" class="great great-hero great-background-light-blue govuk-!-padding-top-9 govuk-!-padding-bottom-9" style="background-image: url('{% static 'core/images/investment_support_directory/hero.png' %}'); background-position: 50%; background-size: cover;">
        <div class="container govuk-!-margin-top-6">
            <div class="govuk-grid-row great-text-white">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-0 great-text-white">Find a UK specialist</h1>
                    <p class="great-body-white govuk-!-margin-bottom-8">Search the UK Investment Support Directory to find specialists with experience in helping businesses set up or expand in the UK.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% ga360_data "isd-search-form" target="form" %}
                    <form class="govuk-!-padding-top-5 govuk-!-padding-bottom-0" method="post">

                        <fieldset class="govuk-fieldset">
                            <legend class="great-visually-hidden">
                                Search for products and services that can help your business expand in the UK
                            </legend>
                            {% for field in form.visible_fields %}
                                <div class="govuk-form-group">
                                    <label
                                        class="govuk-label"
                                        for="{{field.id_for_label}}">
                                        {{ field.label }} 
                                    </label>
                                        {{ field }}
                                </div>
                            {% endfor %}
                        </fieldset>
                        <button class="govuk-button govuk-!-margin-top-6">Find a UK specialist</button>
                    </form>
                    {% end_ga360_data %}
                </div>
            </div>
        </div>
    </section>

    <div class="great" id="benefits">
        <div class="container">
            {% ga360_data "breadcrumbs" %}
                {% breadcrumbs 'Find a UK specialist' %}
                    <a class="govuk-link" href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
                {% endbreadcrumbs %}
            {% end_ga360_data %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l">UK Investment Support Directory </h2>
                </div>
            </div>
            <section class="govuk-grid-row">
                <div class="govuk-grid-column-one-half" id="benefits-list-container">
                    <ul>
                        <li>
                            <h3 class="govuk-heading-m">Search for experienced advice</h3>
                            <p class="govuk-body">The UK Investment Support Directory is a collection of companies that have skills and experience in helping overseas businesses set up or expand in the UK.<br><br/>
                                Membership of the Directory does not represent an association with The Department for Business and Trade (DBT) and being listed in the Directory does not create legal relations between the member and DBT.
                            </p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m">Find the right help</h3>
                            <p class="govuk-body">To find a specialist, search the directory by entering the skill or service you are looking for in the search bar. You can also filter your search results by expertise in specific services, industry or by regional expertise.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m">Get in touch</h3>
                            <p class="govuk-body">Contact your chosen specialist by clicking on ‘Contact company’ on their profile page. You will get your first hour of consultation for free and will also be connected to DBT for further support.</p>
                        </li>
                    </ul>
                </div>
                <div class="govuk-grid-column-one-half">
                    <img src="{% static 'core/images/investment_support_directory/feature.png' %}" />
                </div>
            </section>
        </div>
    </div>

    <div class="great great-background-stone-30" id="bottom">
        {% ga360_data "search-link" %}
        <div class="container">
            <div class="govuk-grid-row govuk-!-margin-bottom-8">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">How UK businesses can help</h2>
                    <p class="govuk-body" id="create-business-profile-label-bottom">Search for products and services that can help your business set up or expand in the UK.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <ul class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Financial</h3>
                    {% for choice in CHOICES_FINANCIAL %}
                        <li><a class="govuk-link" href="{% url 'investment-support-directory:search' %}?q=&expertise_products_services_financial={{ choice.split|join:'+' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Management consulting</h3>
                    {% for choice in CHOICES_MANAGEMENT_CONSULTING %}
                        <li><a class="govuk-link" href="{% url 'investment-support-directory:search' %}?q=&expertise_products_services_management={{ choice.split|join:'+' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Human resources and recruitment</h3>
                    {% for choice in CHOICES_HUMAN_RESOURCES %}
                        <li><a class="govuk-link" href="{% url 'investment-support-directory:search' %}?q=&expertise_products_services_human_resources={{ choice.split|join:'-' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-8">
                <ul class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Legal</h3>
                    {% for choice in CHOICES_LEGAL %}
                        <li><a class="govuk-link" href="{% url 'investment-support-directory:search' %}?q=&expertise_products_services_legal={{ choice.split|join:'+' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Publicity and communications</h3>
                    {% for choice in CHOICES_PUBLICITY %}
                        <li><a class="govuk-link" href="{% url 'investment-support-directory:search' %}?q=&expertise_products_services_publicity={{ choice.split|join:'+' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Business support</h3>
                    {% for choice in CHOICES_BUSINESS_SUPPORT %}
                        <li><a class="govuk-link" href="{% url 'investment-support-directory:search' %}?q=&expertise_products_services_business_support={{ choice.split|join:'+' }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% end_ga360_data %}
    </div>
{% endblock content %}
