{% extends 'core/companies/base-profile.html' %}

{% load breadcrumbs from directory_components %}
{% load static from staticfiles %}

{% block breadcrumbs %}
    {% url 'investment-support-directory:search' as search_url %}
    {% breadcrumbs company.name %}
        <a href="{{ services_urls.great_international }}">great.gov.uk international</a>
        {% if breadcrumbs.label and breadcrumbs.url %}
            <a href="{{ breadcrumbs.url }}">{{ breadcrumbs.label }}</a>
        {% endif %}
        <a href="{{ search_url }}?{{ search_querystring }}">{{ search_label }}</a>
    {% endbreadcrumbs %}
{% endblock %}

{% block contact %}
    <span>
        <img alt="" height="54px" src="{% static 'core/images/investment_support_directory/clock.png' %}" width="54px" />
        Contact this company for 1 hour of free advice.
    </span>
	{{ block.super }}
{% endblock %}
