
// Base

@import '../partials/mixins';
@import '../partials/vars';

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $brand-font;
}

section {
  padding-bottom: 0;
}

#content {
  padding: 0;
  background-color: $white;
}

a:focus {
  @include focus;
}

a:active {
  @include active;
}

a.labelled-card:focus:active {
  background-color: inherit;
}

input,
select,
textarea {
  &:focus {
    @include focus;
    outline-offset: 0;
  }
}

#header-beta-bar {
  background-color: $white;
}
