
// Default/minimum required styling

@import 'partials/base';
@import 'partials/sections';
@import 'partials/language';
@import 'components/header-footer/base';
@import 'components/modal/base';
@import 'components/language-selector/base';
@import 'components/accordion';
@import 'components/hero';
@import 'components/cards';

.intro {
  margin-bottom: $spacing-3;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}
