
// LANGUAGE-SPECIFIC STYLES
// =========================

@import 'vars';

.accordion-expander,
.font-xlarge,
.font-medium,
.form-label,
.form-hint,
.card .card-inner .title,
a.labelled-card .card-header h3,
a.labelled-image-card .card-header h3 {
  font-family: inherit;
}

:lang(de) {
  h1, h2, h3, h4, h5, h6 {
    hyphens: auto;
  }

  a.labelled-card .card-inner {
    hyphens: auto;
  }
}
