
// MIXINS
// =======

@import '../partials/vars';

@mixin float-clear {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

@mixin up-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 2px 0 0 2px;
  top: 5px;
}

@mixin down-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 0 2px 2px 0;
  top: 1px;
}

@mixin flag-red-underline {
  &:after {
    background-color: $flag-red;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
  }
}

@mixin button-reset {
  border: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

@mixin link-focus {
  outline: $focus-yellow solid 3px;

  &:active {
    color: $mid-blue;
  }
}

@mixin focus {
  outline: $focus-yellow solid 3px;
}

@mixin active {
  background-color: $focus-yellow;
}

@mixin red-underline {
  border-bottom: 2px solid $great-red;
}

@mixin red-trim {
  background-color: $great-red;
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
}

@mixin chevron($rotate, $colour) {
  box-sizing: initial;
  -ms-transform: rotate($rotate);
  /* IE 9 */
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
  content: '';
  border-style: solid;
  display: inline-block;
  height: 5px;
  width: 5px;
  position: relative;
  vertical-align: top;
  top: 1px;
  border-color: $colour;
  border-width: 0 2px 2px 0;
  margin: 2px 0 0 10px;
}

@mixin with-left-arrow() {
  display: block;
  position: relative;
  margin-left: 30px;
  font-weight: 700;
  margin-bottom: .2em;

  &:before {
    display: block;
    font-weight: 700;
    position: absolute;
    left: -30px;
    content: '➞';
    width: 1em;
    height: 1em;
  }
}

@mixin page-section-padding {
    padding: $spacing-1 0;

    @media (max-width: 641px) {
      padding: $spacing-3 0;
    }
}

@mixin white-section {
  @include page-section-padding;

}
@mixin stone-section {
  @include page-section-padding;
  background: $stone-40;
}


