
// export-elements overrides + extras
// ===========================
// these should eventually be moved into export-elements

@import 'vars';

// overrides

section {
  padding-bottom: 0;
}

.error-reporting a {
  color: $dark-grey;
  font-size: 18px;
  font-weight: 700;
}

.heading-xlarge,
.heading-large,
.heading-medium,
.heading-small {
  font-family: $brand-font;
}

.card,
.labelled-card {
  border: 0;

  .card-inner {
    padding: 45px;
  }
}

.subheading {
  margin-bottom: .3em;
  font-weight: 700;
}

// extras

.width-100 {
  width: 100%;
}
