
// export-elements overrides + extras
// ===========================
// these should eventually be moved into export-elements

@import 'vars';

// overrides

section {
  padding-bottom: 0;
}

input.form-control,
textarea.form-control,
select.form-control {
  width: 100%;
}

input[type=checkbox].form-control {
  width: auto;
}

.quote {
  font-family: Georgia, serif;
  font-style: italic;
}

details.great-accordion, // if no open or closed attribute details is closed by default
details.great-accordion[closed],
details.great-accordion[open=false] {

  summary:before {
    display: none;
  }

  summary:after {
    content: '+';
  }
}

details.great-accordion[open],
details.great-accordion[closed=false] {

  summary:before {
    display: none;
  }

  summary:after {
    content: '–';
  }
}
