
// export-elements overrides + extras
// ===========================
// these should eventually be moved into export-elements

@import 'vars';

// overrides

section {
  padding-bottom: 0;
}

input.form-control,
textarea.form-control,
select.form-control {
  width: 100%;
  height: 50px;
}

input[type=checkbox].form-control {
  width: auto;
}

select.form-control {
  background-color: $white;
}
