
// Sections

@import '../partials/vars';
@import '../partials/mixins';

.section-underlined {
  padding-top: $spacing-4;

  .container:after {
    @include red-underline
    content: '';
    padding-bottom: $spacing-1 + $spacing-3;
    margin: 0 -15px;
    display: block;
  }
}

.industry-list {
  h2 {
    margin-bottom: $spacing-2;
  }
}

section.error-reporting {
  padding: $spacing-1 0 0;
  @extend .section-underlined;
  padding-bottom: 0;
}
