
// UTILITY CLASSES
// ================

@import 'mixins';

.with-flag {
  margin-bottom: 30px;

  & > .container {
    position: relative;
  }

  & > .container:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    background-image: url('/static/images/uj-motif.png');
    background-size: 155px;
    width: 155px;
    height: 30px;
  }
}

.background-stone-gradient-bottom {
  background-image: linear-gradient(to bottom, $white 10%, $stone-30 10%);
}

.with-arrow {
  display: block;
  position: relative;
  margin-left: 30px;
  font-weight: 700;
  margin-bottom: .2em;

  &:before {
    display: block;
    font-weight: 700;
    position: absolute;
    left: -30px;
    content: '➞';
    width: 1em;
    height: 1em;
  }
}

.button-arrow {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding: 20px;
  position: relative;
  font-family: $brand-font;

  &:after {
    display: block;
    content: '➔';
    position: absolute;
    right: 15px;
    bottom: 33px;
    height: 24px;
    width: 30px;
    font-size: 35px;
  }
}

.close-button {
  @include button-reset;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;

  &:focus,
  &:focus:active {
    @include focus;
  }

  &:focus:active {
    background: $focus-yellow;
  }

  &:before {
    @include up-chevron-1($mid-blue);
    margin: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 10px;
  }

  &:after {
    @include down-chevron-1($mid-blue);
    margin: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: -4px;
  }

  &:hover {
    &:before,
    &:after {
      border-color: $light-blue;
    }
  }
}
