{% extends 'investment_support_directory/base.html' %}
{% load static from staticfiles %}

{% load breadcrumbs card from directory_components %}
{% load thumbnail %}

{% block css_layout_class %}investment-support-directory-profile-page{% endblock %}

{% block content %}
    <div class="container">
        {% block breadcrumbs %}{% endblock %}
    </div>

    <div id="cover-image-container" style="background-image: url('{% static "core/images/investment_support_directory/default-profile-cover.png" %}')">&nbsp;</div>
    <div class="container" id="main-content">
        <div class="grid-row">
            <div class="column-one-third" id="data-column">
                <section id="logo-container" class="margin-bottom-45 padding-15 padding-30-m">
                    {% thumbnail company.logo "x300" as logo %}
                        <img src="{{ logo.url }}" alt="{{ company.name }}" />
                    {% empty %}
                        <img class="placeholder" src="{% static 'core/images/placeholder.png' %}" alt="" />
                    {% endthumbnail %}
                </section>
                <section id="contact-company-container">
                    {% block contact %}
                        <a href="{% url request.resolver_match.namespace|add:':company-contact' company_number=company.number %}?{{ search_querystring }}" class="button">Contact company</a>
                    {% endblock %}
                </section>
                <section id="about-company-container" class="margin-top-15 margin-top-45-m">
                    <h3 class="heading-medium">Business details</h3>
                    <dl>
                        {% if company.website %}
                            <dt>Website</dt>
                            <dd class="ellipsis">
                                <a class="link" href="{{ company.website }}" target="_blank" title="Opens in a new window" rel="noopener noreferrer">{{ company.website }}</a>
                            </dd>
                        {% endif %}
                        <dt>Business type</dt>
                        {% if company.is_in_companies_house %}
                            <dd>UK business registered in Companies House</dd>
                        {% else %}
                            <dd>UK business not registered in Companies House</dd>
                        {% endif %}
                        {% if company.employees %}
                            <dt>Number of employees</dt>
                            <dd>{{ company.employees }} employees</dd>
                        {% endif %}
                        {% if company.sectors %}
                            <dt>Core industry</dt>
                            <dd>{{ company.sectors }}</dd>
                        {% endif %}
                        {% if not company.is_in_companies_house %}
                            <dt>Address</dt>
                            <dd>{{ company.address }}</dd>
                        {% endif %}
                    </dl>
                </section>
                <section class="underline-flag-red" id="underline"></section>
                <section id="online-profiles" class="margin-top-30 margin-top-30-m">
                    <ul>
                        <li>

                            {% if company.facebook_url %}
                                <a class="link" href="{{ company.facebook_url }}">
                                    <img alt="with Facebook" height="36px" src="{% static 'core/images/investment_support_directory/facebook.png' %}" width="36px" />
                                    <span>Visit company Facebook</span>
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if company.twitter_url %}
                                <a class="link" href="{{ company.twitter_url }}">
                                    <img alt="with Twitter" height="36px" src="{% static 'core/images/investment_support_directory/twitter.png' %}" width="36px" />
                                    <span>Visit company Twitter</span>
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if company.linkedin_url %}
                                <a class="link" href="{{ company.linkedin_url }}">
                                    <img alt="with LinkedIn" height="36px" src="{% static 'core/images/investment_support_directory/linkedin.png' %}" width="36px" />
                                    <span>Visit company LinkedIn</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </section>
                {% if company.is_in_companies_house %}
                    <section id="registered-office-address-container" class="font-xsmall margin-top-15">
                        <p>{{ company.name }}</p>
                        <p>UK registered company – number {{ company.number }}</p>
                        <p>Registered office address:</p>
                        <p>{{ company.address }}</p>
                    </section>
                {% endif %}
            </div>
            <div class="column-two-thirds" id="content-column">
                <h2 class="heading-large" id="company-name">
                    {{ company.name }}
                </h2>
                <hr>
                <div id="company-description-container">
                  <div class="grid-row">
                    <h3 class="box-heading heading-medium black-text column-one-half">Company description</h3>
                  </div>
                    {% if request.GET.verbose %}
                        <p>{{ company.description|linebreaks }}</p>
                    {% else %}
                        {% if company.summary %}
                            {{ company.summary|linebreaks }}
                        {% elif company.description %}
                            {{ company.description|truncatechars:200|linebreaks }}
                        {% endif %}
                        <p><a class="link" href="?verbose=true#company-description-container" title="Read full company profile">Read more</a></p>
                    {% endif %}
                </div>
                <hr>
                {% if company.expertise_products_services %}
                    <div id="profile-products-services-container">
                        <h3 class="box-heading heading-medium black-text">Products and services</h3>
                        {% if company.expertise_products_services.Other %}
                            <p class="margin-bottom-15">{{ company.expertise_products_services.Other }}</p>
                        {% endif %}
                        <dl>
                            {% for key, values in company.expertise_products_services.items %}
                                {% if values and key != 'Other' %}
                                    <dt>{{ key }}</dt>
                                    <dd>{{ values }}</dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    </div>
                    <hr>
                {% endif %}

              {% if company.has_expertise %}
                <div id="profile-expertise-container">
                  <div class="grid-row">
                    <h3 class="box-heading heading-medium black-text column-one-half">
                        Expertise
                    </h3>
                  </div>
                  <dl>
                    {% if company.expertise_industries %}
                        <dt>Industry</dt>
                        <dd>{{ company.expertise_industries }}</dd>
                    {% endif %}
                    {% if company.expertise_regions %}
                        <dt>Regional</dt>
                        <dd>{{ company.expertise_regions }}</dd>
                    {% endif %}
                    {% if company.expertise_countries %}
                        <dt>International</dt>
                        <dd>{{ company.expertise_countries }}</dd>
                    {% endif %}
                    {% if company.expertise_languages %}
                        <dt>Languages</dt>
                        <dd>{{ company.expertise_languages }}</dd>
                    {% endif %}
                  </dl>
                </div>
                <hr>
            {% endif %}

            {% if company.supplier_case_studies %}
                <div class="underline-flag-red">
                    <h3 class="box-heading heading-medium black-text">{{ company.name }} case studies</h3>
                    {% for case_study in company.supplier_case_studies %}
                        {% cycle 'odd' 'even' as parity silent %}
                        {% if parity == 'odd' %}<div class="grid-row">{% endif %}
                            <div class="column-one-half">
                                {% with "case-study-"|add:forloop.counter as card_id %}
                                    {% url request.resolver_match.namespace|add:':case-study-details' id=case_study.pk slug=case_study.slug as case_study_url %}
                                    {% card card_id=card_id img_src=case_study.image_one url=case_study_url description=case_study.short_summary heading=case_study.title %}
                                {% endwith %}
                            </div>
                        {% if parity == 'even' %}</div>{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
                <div id="report-profile" class="margin-bottom-30">
                    <a href="{{ services_urls.feedback }}">Report profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
