@import '../../partials/vars';
@import '../../partials/mixins';

.about-uk-landing-page {

  #ebook-section {
    .container {
      overflow: visible;
    }

    .column-quarter-l {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 299px;
      box-shadow: 0 0 4px 4px rgba(240,240,240,0.5);
    }
  }

  .region-label{
    display: inline-flex;
    color: $active-blue;
    a {
      color: $active-blue;
    }
  }

  .labelled-map{
    display: none;
  }

  @media (max-width: 960px) {
    .numbered-map{
      display: none;
    }

    .labelled-map{
      display: unset;
    }

    .map-labels {
      display: none;
    }
  }

}
