@import '../../partials/vars';

.about-uk-why-choose-the-uk-page {
  #section-one {
    img {
      width: 100%;
    }
  }

  #sector-statistics-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 641px) {
      padding-bottom: 120px;
    }
  }

  .article-section {

    &:nth-child(even) {
      background-color: $stone-30;
    }

    &:nth-child(odd) .column-half-l {
      @media (min-width: 641px) {
        float: right;
      }
    }

    img {
      width: 100%;
    }
  }

  #ebook-section {
    .container {
      overflow: visible;
    }

    .column-quarter-l {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 299px;
      box-shadow: 0 0 4px 4px rgba(240,240,240,0.5);
    }
  }

  #contact-us-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}