@import "./colors.scss";
@import "./typography.scss";
@import "./elements/main.scss";
@import "./govuk-overrides.scss";
@import "./utils.scss";

section {
  overflow: visible;
  padding-bottom: 60px;
}

section > .container {
  overflow: hidden;
}
