@import './colors.scss';

.great-visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.great-text-white {
  color: white;
}

.govuk-body-l {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;

  @include govuk-media-query($from: tablet) {
      font-size: 28px;
      line-height: 40px;
  }
}

.govuk-body,
.govuk-link,
.govuk-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  @include govuk-media-query($from: tablet) {
      font-size: 18px;
      line-height: 30px;
  }
}

.govuk-body-s {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  @include govuk-media-query($from: tablet) {
      font-size: 16px;
      line-height: 24px;
  }
}

.govuk-label {
  font-weight: bold;
}

.govuk-button {
  background-color: $govuk-brand-colour;
  box-shadow: none;
  box-shadow: none;
  font-weight: bold;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  min-height: 44px;
  -webkit-font-smoothing: auto;

  &:hover,
  &:focus {
      background-color: $great-white;
      border-color: $govuk-brand-colour;
      color: $govuk-brand-colour;
  }

  &:focus:not(:active):not(:hover) {
      background-color: $great-white;
      border-color: $govuk-brand-colour;
      box-shadow: none;
      color: $govuk-brand-colour;
  }

  &:focus {
      outline: 3px solid $great-yellow;
      outline-offset: 0;
  }

  i {
      font-size: inherit;
      margin-right: 8px;
  }

  @include govuk-media-query($from: tablet) {
      font-size: 20px;
      min-height: 50px;
      line-height: 34px;
  }
}