
// Investment support directory home page
// =======================================

.investment-support-directory-home {

  .breadcrumbs {
    margin-top: -30px;
    padding-top: 0;
  }

  #hero {
    form {
      padding: 15px;
      background-color: $offwhite;
      margin-bottom: 60px;

      @media (min-width: 641px) {
        display: flex;
        padding: 30px;
      }

      .form-group {
        background-color: white;
        display: inline-block;
        margin-bottom: 0;
        width: 100%;

        input {
          width: 100%;
        }
      }

      button {
        margin-top: 15px;
        margin-bottom: 0;

        @media (min-width: 641px) {
          margin-top: 0;
          margin-left: 15px;
        }

      }

      input, button {
        height: 60px;
        vertical-align: bottom;
      }

    }
  }


  #benefits {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 60px;
      margin-top: 0;
    }

    ul li {

      img {
        width: 100%
      }

      h3 {
        margin-bottom: 10px;
      }

      &:first-child h3 {
        margin-top: 0;
      }

    }

  }

  #bottom {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-top: 0;
    }

    ul li {
      margin-bottom: 10px;
    }
  }

  @media (min-width: 641px) {
    #benefits-list-container {
      padding-right: 100px;
    }
  }

}
