
// Investment support directory search page
// =========================================

@import 'components/articles-section/base';

body.js-enabled {

  .investment-support-directory-search-page {

    #filter-column button.filter-collapse.checked + .form-group {
      display: none;
    }
  }
}

body:not(.js-enabled) {

  .investment-support-directory-search-page {

    #filter-column button.filter-collapse {
      display: none;
    }
  }
}

.investment-support-directory-search-page {

  mark {
    font-weight: bold;
    line-height: 1.5;
    background: $stone;
    padding: 5px;
    border-radius: 4px;
  }

  .subscription {
    .form-control {
      width: 100%;
      height: 50px;
    }

    select.form-control {
      background-color: $white;
    }
  }

  #main-content > div {
    display: flex;
    flex-flow: column;
  }

  #hero-container {
    background-color: $stone-light;
    margin-bottom: 60px;
    padding-bottom: 30px;
    h2 {
      display: inline-block;
    }
    span {
      display: inline-block;
    }
    input {
      width: 100%;
      padding: 15px;
    }
    label {
      color: $grey;
    }
  }

  #filter-column {
    order: 2;
    .multiple-choice {
      input,
      input[type=checkbox]+label:before {
        width: 30px;
        height: 30px;
      }
      input[type=checkbox]+label:after {
        top: 9px;
        left: 6px;
      }
    }

    #selected-filters-container {
      background-color: $stone-30;
      padding: 20px;
      margin-top: 10px;
      font-size: 16px;
      a {
        display: block;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      mark {
        margin-bottom: 5px;
        display: inline-block;
      }
    }
    fieldset {
      margin-bottom: 20px;
      & > div {
        position: relative;
        margin-bottom: 15px;
        & > .form-group {
          > .form-group {
            margin-bottom: 0;
          }
          border-bottom: 1px solid $stone-60;
          max-height: 400px;
          overflow-y: auto;
          padding-left: 5px;
          padding-top: 5px;
          ul {
            margin-top: 0;
            li {
              width: 100%;
              margin-bottom: 0;
              padding-bottom: 10px;
            }
          }
        }
      }

      label {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding-bottom: 15px;
        font-size: 15px;
      }

      button.filter-collapse {
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 6px;
        padding-bottom: 4px;
        cursor: pointer;
      }

      button.filter-collapse.checked {
        padding-bottom: 9px;
        padding-right: 6px;
        padding-top: 0;
      }

      button.filter-collapse::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        border-style: solid;
        display: inline-block;
        height: 5px;
        position: relative;
        vertical-align: middle;
        border-color: #000000;
        border-width: 2px 0 0 2px;
        height: 8px;
        width: 8px;
      }

      button.filter-collapse.checked::after {
        border-width: 0 2px 2px 0;
        margin: 5px 0 0 0;

      }

    }
    button[type=submit] {
      width: 100%;
      margin-top: 25px;
    }
  }

  #companies-column {
    order: 1;
    ul {
      li {
        margin-bottom: 30px;
        .result-header {
          margin-top: 30px;
          margin-bottom: 5px;

        }
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          min-height: 205px;
          color: $grey;
          .logo-container {
            text-align: center;
            img {
              max-width: 180px;
              max-height: 180px;
              vertical-align: middle;
            }
          }
          .details-container {
            position: relative;
            em {
              font-weight: bold;
              font-style: normal;
            }
            .result-footer {
              padding-top: 15px;
              padding-bottom: 15px;
            }
            // ie11 only hack
            _:-ms-fullscreen, :root & {
              min-height: 205px;   /* flexbox min-height fix*/
            }
          }
          span {
            padding-top: 30px;
            padding-right: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }

  #paginator {
    margin-top: 60px;
    display: flex;
    a {
      height: 50px;
      text-align: center;
      line-height: 50px;
      padding-top: 0;
    }
    ol {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      li {
        display: inline-block;
        vertical-align: top;
        a {
          padding: 0;
          width: 50px;
          vertical-align: bottom;
        }
      }
    }
  }

  #reset-link-container {
    text-align: center;
  }



  @media (max-width: 769px) {
    #paginator {
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        width: 125px;
        padding: 0;
      }
      ol {
        order: 2;
        display: flex;
        li {
          margin-right: 10px;
        }
      }
      &.one-paginator-button {
        > a {
          width: auto;
          padding-right: 10px;
          padding-left: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
        #paginator-previous {
          order: 1;
        }
        #paginator-next {
          order: 2;
        }
        ol {
          order: 1;
        }
      }
    }
  }



  @media (min-width: 769px) {
    #main-content > div {
      flex-flow: row;
    }
    #hero-container {
      span {
        margin-top: 36px;
      }
      mark {
        font-size: 24px;
      }
    }
    #companies-column {
      flex-grow: 1;
      order: 2;
      margin-left: 30px;
      ul {
        li {
          a {
            border: 2px solid $stone-60;
            display: flex;
            .logo-container {
              width: 240px;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              border-right: 2px solid $stone-60;
              img {
                width: 100%;
              }
            }
            .details-container {
              padding-left: 30px;
              padding-bottom: 75px;
              .result-footer {
                position: absolute;
                bottom: 0;
                left: 15px;
                border-top: 2px solid $stone-60;
                .employees {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
    #filter-column {
      order: 1;
      width: 300px;
      padding: 0;
    }
  }

}
