@import '../tokens';
@import '../mixins';

.atlas-button {
  @include atlas-bold;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border: 0;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: $atlas-white;
  background-color: $atlas-black;
  cursor: pointer;

  @media (min-width: $breakpoint-small) {
    width: auto;
  }

  &:hover {
    text-decoration: underline;
  }
}

.atlas-button--white {
  color: $atlas-body;
  background-color: $atlas-white;
}

.atlas-button--link {
  @include atlas-regular;
  padding: 0;
  color: $atlas-body;
  background: transparent;
  width: auto;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.atlas-button__icon {
  width: 1em;
  height: 1em;
  pointer-events: none;

  &:last-child {
    margin-left: .5em;
  }

  & svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
