@import '../tokens';

.atlas-details {
  & summary {
    color: $atlas-body;
    text-decoration: underline;
  }

  & summary::-webkit-details-marker {
    display: none;
  }

  & summary .atlas-button__icon {
    transform: rotate(90deg);
    transition: transform ease-in-out .25s;
  }

  &[open] summary .atlas-button__icon {
    transform: rotate(-90deg);
  }
}
