{% extends 'core/base_cms_with_invest_header.html' %}
{% load breadcrumbs add_export_elements_classes message_box from directory_components %}
{% load i18n %}

{% block content %}

{% include 'core/includes/cms_breadcrumbs.html' %}

<section class="top-page-section">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% message_box heading=page.message_box_heading description=page.message_box_description|add_export_elements_classes|safe %}
            </div>
        </div>
    </div>
</section>

<section class="stone-page-section">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
              <p>{{ page.what_happens_next_description|add_export_elements_classes|safe }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
