{% extends 'core/base_cms_with_invest_header.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes render_form override_elements_css_class informative_banner from directory_components %}
{% load ga360_tracker from directory_components %}

{% block css_layout_class %}capital-invest-landing-page{% endblock %}

{% block content %}


{% if page.hero_cta_text %}
    {% url 'how-to-do-business-with-the-uk' as doing_business_url %}
    {% ga360_tracker "hero-cta" %}
        {% include 'directory_components/hero_with_cta.html' with heading=page.hero_title subheading=page.hero_subheading subtitle=page.hero_subtitle img_url=page.hero_image.url cta_text=page.hero_cta_text cta_link=doing_business_url %}
    {% endga360_tracker %}
{% else %}
    {% ga360_tracker "hero-cta" %}
        {% include 'directory_components/hero_with_cta.html' with heading=page.hero_title subheading=page.hero_subheading subtitle=page.hero_subtitle img_url=page.hero_image.url %}
    {% endga360_tracker %}
{% endif %}


{% if page.reason_to_invest_section_title and page.reason_to_invest_section_content %}
<section class="page-section ">
    <div class="container">
        <h2 class="heading-large">{{ page.reason_to_invest_section_title }} </h2>
        <div class="grid-row">
            <p class="font-small column-half-l margin-bottom-45">{{ page.reason_to_invest_section_intro}} </p>
        </div>
        <div class="card-grid ci-landing-page-benefit-section">
            <div class="column-half padding-right-60 center-vertical">
                {{ page.reason_to_invest_section_content|add_export_elements_classes|safe }}
            </div>
            <div class="column-half center_vertical flex-shrink-0 max-width-100 mobile-padding-bottom-30">
                {% if page.reason_to_invest_section_image.url %}
                    <figure class="landing-page-image flex-shrink-0">
                        <img class="width-full" src="{{page.reason_to_invest_section_image.url}}" alt="">
                    </figure>
                {%  endif %}
            </div>
        </div>
    </div>
    {% if page.how_we_help_title %}
        <div class="container capital-invest-landing-page-how-we-help">
            <h2 class="heading-large">{{ page.how_we_help_title }} </h2>
            <div class="grid-row">
                <div class="column-two-thirds">
                    <p> {{ page.how_we_help_intro }}</p>
                </div>
            </div>
            <ul class="grid-row">
            {% for how_we_help in page.how_we_help_icon_and_text %}
                {% if how_we_help.text and how_we_help.icon.url %}
                    <li class="column-quarter">
                        <img class="icon" src="{{how_we_help.icon.url}}" alt="">
                        <p>{{ how_we_help.text }} </p>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>
{% endif %}


{% if page.region_ops_section_title %}
    {% if page.added_regions or page.added_region_card_fields %}
        <section class="capital-invest-landing-page-section">
            <div class="container">
                <h2 class="heading-large">{{ page.region_ops_section_title }} </h2>
                <div class="grid-row">
                    <p class="font-small column-half-l margin-bottom-45">{{ page.region_ops_section_intro }} </p>
                </div>
                <div class="card-grid">
                    {% for region in page.added_regions %}
                        {% if region.related_region.title %}
                            <div class="column-half-m column-third-xl">
                                {% url 'cms-page-from-path' region.related_region.meta.slug as region_url %}
                                {% ga360_tracker "region-card" ga-value=region.related_region.title %}
                                    {% include 'directory_components/card.html' with img_src=region.related_region.image.url img_alt='' url=region_url title=region.related_region.title description=region.related_region.featured_description %}
                                {% endga360_tracker %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for region_fields in page.added_region_card_fields %}
                        {% if region_fields.region_card_title and region_fields.region_card_summary %}
                            <div class="column-half-m column-third-xl">
                                {% ga360_tracker "region-card" ga-value=region_fields.region_card_title %}
                                    {% include 'directory_components/card.html' with img_src=region_fields.region_card_image.url title=region_fields.region_card_title description=region_fields.region_card_summary|add_export_elements_classes|override_elements_css_class:'a, link with-left-arrow'|safe  %}
                                {% endga360_tracker %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if page.banner_information %}
                <div class="padding-top-30 desktop-padding-left-90">
                {% include 'directory_components/informative_banner.html' with banner_content=page.banner_information %}
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endif %}

{% if page.energy_sector_title and page.energy_sector_content %}
<section class="capital-invest-landing-page-section">
    <div class="container">
        <div class="card-grid ci-landing-page-energy-section">
            <div class="column-half padding-right-60">
                <h2 class="heading-large">{{ page.energy_sector_title }}</h2>
                <p> {{ page.energy_sector_content|add_export_elements_classes|safe}} </p>
                {% if page.energy_sector_cta_text and page.energy_sector_pdf_document %}
                    {% ga360_tracker "cta" %}
                        <a class="button button-blue button-ghost-blue energy_pdf_button" href="{{page.energy_sector_pdf_document}}" target="_blank">
                            {{ page.energy_sector_cta_text }}
                        </a>
                    {% endga360_tracker %}
                {% endif %}
            </div>
            <div class="column-half center-vertical flex-shrink-0 max-width-100">
                {% if page.energy_sector_image.url %}
                    <figure class="landing-page-image flex-shrink-0">
                        <img class="width-full" src="{{page.energy_sector_image.url}}" alt="">
                    </figure>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if page.homes_in_england_section_title %}
<section class="capital-invest-landing-page-section">
    <div class="container">
        <div class="grid-row">
            <h2 class="column-half heading-large">{{ page.homes_in_england_section_title }}</h2>
        </div>
        <div class="card-grid">
            {% for card in page.added_homes_in_england_card_fields %}
                {% if card.homes_in_england_card_title %}
                    <div class="column-half-l column-third-xl">
                        {% include 'directory_components/card.html' with img_src=card.homes_in_england_card_image.url title=card.homes_in_england_card_title url=card.homes_in_england_card_pdf_document %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}


{% if page.contact_section_title and page.contact_section_text %}
<section class="capital-invest-landing-page-section">
    <div class="container">
        <div class="card-grid">
            <div class="column-half">
                <h2 class="heading-large">{{ page.contact_section_title }} </h2>
                <p class="font-small padding-bottom-45">{{ page.contact_section_text }} </p>
                {% if page.contact_section_cta_text %}
                    <div>
                        {% ga360_tracker "cta" %}
                            <a href="mailto:capitalinvestment@trade.gov.uk" class="button button-arrow-small">{{ page.contact_section_cta_text }} </a>
                        {% endga360_tracker %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}

