{% extends 'core/base_cms_with_invest_header.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes case_study from directory_components %}

{% block css_layout_class %}capital-invest-opportunity-page{% endblock %}

{% block content %}

{% include 'directory_components/hero.html' with hero_text=page.hero_title background_image_url=page.hero_image.url %}

<section>
    <div class="container">
        {% url 'index' as index_url %}
        {% url 'cms-page-from-path' 'capital-invest' as capital_invest_url %}
        {% include 'directory_components/breadcrumbs.html' with left_url=index_url left_label='Great.gov.uk International' middle_url=capital_invest_url middle_label='Capital Invest' right_label=page.breadcrumbs_label %}
    </div>
</section>

{% if page.opportunity_summary_intro %}
<section class="page-section">
    <div class="container">
        <div class="card-grid">
            <div class="column-half-l left-half-page-text">
                <div class="font-medium padding-bottom-30">
                    {{ page.opportunity_summary_intro}}
                </div>
                <div>
                    {{ page.opportunity_summary_content|add_export_elements_classes|safe }}
                </div>
            </div>
            <div class="column-half-l center-vertical flex-shrink-0 max-width-100">
                {% if page.opportunity_summary_image.url %}
                    <figure class="landing-page-image flex-shrink-0">
                        <img class="width-full" src="{{page.opportunity_summary_image.url}}" alt="">
                    </figure>
                {%  endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="page-section capital-invest-region-icons-section">
    <div class="container">
        <div class="grid-row ">
            <ul>
                <li>
                    {% if page.location and page.location_icon.url %}
                        <div class="column-third-l column-half-m">
                            <img class="icon" src="{{page.location_icon.url}}" alt="">
                            <p>Location</p>
                            <p class="bold-small">{{ page.location }}</p>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if page.project_promoter and page.project_promoter_icon.url %}
                        <div class="column-third-l column-half-m">
                            <img src="{{page.project_promoter_icon.url}}" class="icon" alt="">
                            <p>Project promoter</p>
                            <p class="bold-small">{{ page.project_promoter }}</p>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if page.scale and page.scale_icon.url %}
                        <div class="column-third-l column-half-m">
                            <img src="{{page.scale_icon.url}}" class="icon" alt="">
                            <p>Scale</p>
                            <p class="bold-small">{{ page.scale }}</p>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if page.sector and page.sector_icon.url %}
                        <div class="column-third-l column-half-m">
                            <img src="{{page.sector_icon.url}}" class="icon" alt="">
                            <p>Sector</p>
                            <p class="bold-small">{{ page.sector }}</p>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if page.investment_type and page.investment_type_icon.url %}
                        <div class="column-third-l column-half-m">
                            <img src="{{page.investment_type_icon.url}}" class="icon" alt="">
                            <p>Investment type</p>
                            <p class="bold-small">{{ page.investment_type }}</p>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if page.planning_status and page.planning_status_icon.url %}
                        <div class="column-third-l column-half-m">
                            <img src="{{page.planning_status_icon.url}}" class="icon" alt="">
                            <p>Planning status</p>
                            <p class="bold-small">{{ page.planning_status }}</p>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="capital-invest-opportunity-page-section">
    <div class="container">
        <div class="card-grid">
            {% if page.project_image.url %}
                <div class="column-half-l padding-bottom-30">
                    <figure class="flex-shrink-0 padding-top-45">
                        <img class="width-100 center-vertical" src="{{page.project_image.url}}" alt="">
                    </figure>
                </div>
            {%  endif %}
            {% if page.project_background_title and page.project_background_intro %}
                <div class="column-half-l {% if page.project_image.url %} right-half-page-text {% endif %} padding-bottom-30">
                    <h2 class="heading-large">{{ page.project_background_title }} </h2>
                    <div class="font-medium padding-bottom-30 ">
                        {{ page.project_background_intro}}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="grid-row">
            {% if page.project_description_title and page.project_description_content %}
                <div class="column-half-l padding-right-60 padding-bottom-30">
                    <h2 class="heading-large">{{ page.project_description_title }}</h2>
                    <div>
                        {{ page.project_description_content|add_export_elements_classes|safe }}
                    </div>
                </div>
            {% endif %}
            {% if page.project_promoter_title %}
                <div class="column-half-l padding-right-60 right-half-page-text padding-bottom-30">
                    <h2 class="heading-large">{{ page.project_promoter_title }}</h2>
                    <div>
                        {{ page.project_promoter_content|add_export_elements_classes|safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% if page.case_study_title and page.case_study_cta_text and page.case_study_image.url %}
    {% include 'directory_components/case_study.html' with background_image=page.case_study_image.url heading=page.case_study_title subtitle=page.case_study_text|add_export_elements_classes|safe  cta_link=page.case_study_cta_link cta_text=page.case_study_cta_text %}
{% endif %}

{% if page.related_pages|filter_by_active_language %}
<section class="capital-invest-opportunity-page-section">
    <div class="container">
        <div class="grid-row">
            <h1 class="heading-large padding-bottom-30">
            {{ page.similar_projects_title}}
            </h1>
            {% for related_page in page.related_pages|filter_by_active_language %}
                <div class="column-third-xl column-half-l column-full">
                    <div class="card">
                        <div class="card-inner wrap-tight padding-horizontal-45">
                            <a href="{% url 'cms-page-from-path-with-two-slugs' 'opportunities' related_page.meta.slug %}" class="heading-medium">{{ related_page.title }}</a>
                            <p>{{ related_page.location }}</p>
                            <p class="bold-small">{{ related_page.scale }}</p>
                            <p><u>Investment type: </u>{{ related_page.investment_type }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page.similar_projects_cta_link and page.similar_projects_cta_text %}
            <a class="button button-blue button-arrow-small margin-top-45" href="{{page.similar_projects_cta_link}}">{{ page.similar_projects_cta_text }}</a>
        {% endif %}
    </div>
</section>
{% endif %}

{% if  page.contact_title and page.contact_text %}
<section class="capital-invest-opportunity-page-section">
    <div class="container">
        <h1 class="heading-large">{{ page.contact_title }}</h1>
        <div class="grid-row">
            <div class="column-half-l">
                {{ page.contact_text|add_export_elements_classes|safe }}
            </div>
        </div>
    </div>
</section>
{%endif %}

{% endblock %}
