{% extends 'contact/base.html' %}
{% load breadcrumbs add_export_elements_classes from directory_components %}
{% load i18n %}

{% block content %}

{% block breadcrumbs %}
    <div class="container">
        {% breadcrumbs page.title %}
            <a href="{{ site_home_link.url }}">{{ site_home_link.label }}</a>
            <a href="{% url 'cms-page-from-path' 'capital-invest' %}">{% trans 'Capital Invest' %}</a>
            <a href="{% url 'capital-invest-contact' %}">{% trans 'Contact' %}</a>
        {% endbreadcrumbs %}
    </div>
{% endblock %}

<section class="contact-success">
<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">{{ page.large_text }}</h2>
      <p>{{ page.small_text|add_export_elements_classes|safe }}</p>
    </div>
  </div>
</div>
</section>

{% endblock %}
