{% extends 'core/base_cms_with_invest_header.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes case_study ga360_tracker breadcrumbs from directory_components %}

{% block css_layout_class %}capital-invest-opportunity-listing-page{% endblock %}

{% block content %}

<section id="breadcrumb-section">
  <div class="container">
    {% ga360_tracker "breadcrumbs" %}
      {% breadcrumbs left_url=site_home_link.url left_label=site_home_link.label middle_url=invest_url middle_label="Invest" right_label=page.breadcrumbs_label %}
    {% endga360_tracker %}
  </div>
</section>

<section class="opportunity-listing-page-stone-section title-section">
    <div class="container">
        <div class="bold-small">
            {{ num_of_opportunities }} {{ page.search_results_title }}
        </div>
    </div>
</section>
<div class="down-arrow"></div>


<section class="opportunity-listing-page-section">
    <div class="container">
        <div>
            {% for opportunity in all_opportunities %}
                <div class="card-image-left column-half-m margin-bottom-30"
                    role="img"
                    style="background-image: url({{ opportunity.hero_image.url }});">
                    <p class="visually-hidden"></p>
                </div>
                <div class="card-inner padding-horizontal-45 column-half-m opportunity-list-card margin-bottom-30">
                    {% ga360_tracker "related-page-link" %}
                        <a href="{{ link }}" class="heading-medium margin-top-15">{{ opportunity.title }}</a>
                    {% endga360_tracker %}
                    <p class="bold-small margin-top-30">{{ opportunity.scale }}</p>
                    <p class="font-small margin-top-30">{{ opportunity.sector }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
