{% extends 'core/base_cms_with_invest_header.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes case_study ga360_tracker breadcrumbs from directory_components %}

{% block css_layout_class %}capital-invest-opportunity-page{% endblock %}

{% block content %}

{% trans 'Opportunity' as hero_subtitle %}
{% include 'directory_components/hero.html' with hero_text=page.hero_title hero_subheading=hero_subtitle background_image_url=page.hero_image.url %}

<section>
    <div class="container">
      {% url 'cms-page-from-path' 'capital-invest' as capital_invest_url %}
        {% ga360_tracker "breadcrumbs" %}
          {% breadcrumbs page.breadcrumbs_label %}
            <a href="{{ site_home_link.url }}">{{ site_home_link.label }}</a>
            <a href="{% url 'cms-page-from-path' 'capital-invest' %}">Capital invest</a>
          {% endbreadcrumbs %}
        {% endga360_tracker %}
    </div>
</section>

{% if page.opportunity_summary_intro %}
<section class="page-section">
    <div class="container">
        <div class="flex-grid">
            <div class="column-half-l left-half-page-text">
                <div class="font-medium padding-bottom-30">
                    {{ page.opportunity_summary_intro}}
                </div>
                <div>
                    {{ page.opportunity_summary_content|add_export_elements_classes|safe }}
                </div>
            </div>
            <div class="column-half-l center-vertical flex-shrink-0 max-width-100">
                {% if page.opportunity_summary_image.url %}
                    <figure class="landing-page-image flex-shrink-0">
                        <img class="width-full" src="{{page.opportunity_summary_image.url}}" alt="">
                    </figure>
                {%  endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="page-section capital-invest-region-icons-section">
    <div class="container">
        <div class="grid-row margin-bottom-60">
            <ul>
                <li class="mobile-margin-bottom-60">
                    {% if page.location_heading and page.location and page.location_icon.url %}
                        <div class="column-third-l column-half-l">
                            <img class="icon" src="{{page.location_icon.url}}" alt="">
                            <p class="bold-medium">{{ page.location_heading }}</p>
                            <p>{{ page.location }}</p>
                        </div>
                    {% endif %}
                </li>
                <li class="mobile-margin-bottom-60">
                    {% if page.project_promoter_heading and page.project_promoter and page.project_promoter_icon.url %}
                        <div class="column-third-l column-half-l">
                            <img src="{{page.project_promoter_icon.url}}" class="icon" alt="">
                            <p class="bold-medium">{{ page.project_promoter_heading }}</p>
                            <p>{{ page.project_promoter }}</p>
                        </div>
                    {% endif %}
                </li>
                <li class="mobile-margin-bottom-60">
                    {% if page.scale_heading and page.scale and page.scale_icon.url %}
                        <div class="column-third-l column-half-l">
                            <img src="{{page.scale_icon.url}}" class="icon" alt="">
                            <p class="bold-medium">{{ page.scale_heading }}</p>
                            <p>{{ page.scale }}</p>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="grid-row">
            <ul>
                <li class="mobile-margin-bottom-60">
                    {% if page.sector_heading and page.sector and page.sector_icon.url %}
                        <div class="column-third-l column-half-l">
                            <img src="{{page.sector_icon.url}}" class="icon" alt="">
                            <p class="bold-medium">{{ page.sector_heading }}</p>
                            <p>{{ page.sector }}</p>
                        </div>
                    {% endif %}
                </li>
                <li class="mobile-margin-bottom-60">
                    {% if page.investment_type_heading and page.investment_type and page.investment_type_icon.url %}
                        <div class="column-third-l column-half-l">
                            <img src="{{page.investment_type_icon.url}}" class="icon" alt="">
                            <p class="bold-medium">{{ page.investment_type_heading }}</p>
                            <p>{{ page.investment_type }}</p>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if page.planning_status_heading and page.planning_status and page.planning_status_icon.url %}
                        <div class="column-third-l column-half-l">
                            <img src="{{page.planning_status_icon.url}}" class="icon" alt="">
                            <p class="bold-medium">{{ page.planning_status_heading }}</p>
                            <p>{{ page.planning_status }}</p>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="capital-invest-opportunity-page-section">
    <div class="container">
        <div class="flex-grid">
            {% if page.project_image.url %}
                <div class="column-half-l padding-bottom-30">
                    <figure class="flex-shrink-0 padding-top-45">
                        <img class="width-100 center-vertical" src="{{page.project_image.url}}" alt="">
                    </figure>
                </div>
            {%  endif %}
            {% if page.project_background_title and page.project_background_intro %}
                <div class="column-half-l {% if page.project_image.url %} right-half-page-text-l {% endif %} padding-bottom-30">
                    <h2 class="heading-large">{{ page.project_background_title }} </h2>
                    <div class="font-small padding-bottom-30 ">
                        {{ page.project_background_intro|add_export_elements_classes|safe }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="grid-row">
            {% if page.project_description_title and page.project_description_content %}
                <div class="column-half-l padding-right-60 padding-bottom-30">
                    <h2 class="heading-large">{{ page.project_description_title }}</h2>
                    <div class="font-small">
                        {{ page.project_description_content|add_export_elements_classes|safe }}
                    </div>
                </div>
            {% endif %}
            {% if page.project_promoter_title and page.project_promoter_content %}
                <div class="column-half-l padding-right-60 right-half-page-text-l padding-bottom-30">
                    <h2 class="heading-large">{{ page.project_promoter_title }}</h2>
                    <div class="font-small">
                        {{ page.project_promoter_content|add_export_elements_classes|safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% if page.case_study_title and page.case_study_image.url %}
    {% ga360_tracker "case-study-link" %}
        {% include 'directory_components/case_study.html' with background_image=page.case_study_image.url heading=page.case_study_title subtitle=page.case_study_text|add_export_elements_classes|safe  cta_link=page.case_study_cta_link cta_text=page.case_study_cta_text %}
    {% endga360_tracker %}
{% endif %}

{% if page.similar_projects_title and page.related_pages|filter_by_active_language %}
<section class="capital-invest-opportunity-page-section">
    <div class="container">
        <div class="grid-row">
            <h1 class="heading-large padding-bottom-30">
            {{ page.similar_projects_title}}
            </h1>
            {% for related_page in page.related_pages|filter_by_active_language %}
                <div class="column-third-xl column-half-m">
                    {% include 'core/includes/opportunity_card.html' with image_url=related_page.hero_image.url img_alt="" link=related_page.full_url title=related_page.title scale=related_page.scale sector=related_page.sector %}
                </div>
            {% endfor %}
        </div>
        {% if page.similar_projects_cta_link and page.similar_projects_cta_text %}
            {% ga360_tracker "related-page-link" %}
                <a class="button button-blue button-arrow-small margin-top-45" href="{{page.similar_projects_cta_link}}">{{ page.similar_projects_cta_text }}</a>
            {% endga360_tracker %}
        {% endif %}
    </div>
</section>
{% endif %}

{% if  page.contact_title and page.contact_text %}
<section class="capital-invest-opportunity-page-section">
    <div class="container">
        <h1 class="heading-large">{{ page.contact_title }}</h1>
        <div class="grid-row">
            <div class="column-half-l">
                {{ page.contact_text|add_export_elements_classes|safe }}
            </div>
        </div>
    </div>
</section>
{%endif %}

{% endblock %}
