{% load add_export_elements_classes from directory_components %}
{% load i18n %}

<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds-l column-half-xl">
            <h1 class="heading-xlarge">{% trans "Transition period enquiries" %}</h1>
            <div class="margin-bottom-45">
              {% blocktrans %}
              <p>
                See our guidance on <a class="link" href="{{ services_urls.international }}/content/invest/how-to-setup-in-the-uk/transition-period/">trading with the UK during the transition period and in 2021</a>. If you can’t find the information you’re looking for, complete the form below and one of our experts will try to help you.
              </p>
              {% endblocktrans %}
            </div>
            <form class="" action="{% url 'capital-invest-contact' %}" method="post">
                {% csrf_token %}

                {% include 'includes/form_field.html' with field=form.first_name %}
                {% include 'includes/form_field.html' with field=form.last_name %}
                {% include 'includes/form_field.html' with field=form.email %}
                {% include 'includes/form_field.html' with field=form.organisation_type %}
                {% include 'includes/form_field.html' with field=form.company_name %}
                {% include 'includes/form_field.html' with field=form.country %}
                {% include 'includes/form_field.html' with field=form.city %}
                {% include 'includes/form_field.html' with field=form.your_question %}

                {% include 'core/includes/form_consent_transition.html' with form=form %}

                {% include 'includes/form_field.html' with field=form.captcha %}
                <p class="font-small">{{ page.comment }}</p>

                <button type="submit" name="button" class="button button-blue">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
</div>
