{% extends "core/base.html" %}

{% load static from staticfiles %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{{ site_home_link.label }} - {{ page.breadcrumbs_label }}{% endblock %}

{% block css_layout_class %}eu-exit-form{% endblock %}

{% block content %}
  {% block breadcrumbs %}
  <div class="container">
    {% breadcrumbs page.breadcrumbs_label %}
      <a href="{{ site_home_link.url }}">{{ site_home_link.label }}</a>
    {% endbreadcrumbs %}
  </div>
  {% endblock %}

  {% block form_content %}
    {% include 'euexit/form-contents.html'%}
  {% endblock %}
{% endblock %}
