{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{{ international_home_link.label }} - {% trans "Transition period enquiries" %}{% endblock %}

{% block css_layout_class %}eu-exit-form{% endblock %}

{% block content %}

  {% comment "DISABLED FOR ATLAS MVP" %}
  {% block breadcrumbs %}
  <div class="container">
    {% trans "Transition period enquiries" as breadcrumbs_label %}
    {% breadcrumbs breadcrumbs_label %}
      <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
    {% endbreadcrumbs %}
  </div>
  {% endblock %}
  {% endcomment %}

  {% block form_content %}
    {% include 'euexit/form-contents.html'%}
  {% endblock %}
{% endblock %}
