{% extends "core/base.html" %}

{% load static from staticfiles %}
{% load breadcrumbs from directory_components_tags %}

{% block head_title %}{{ site_home_link.label }} - {{ page.breadcrumbs_label }}{% endblock %}

{% block css_layout_class %}eu-exit-form{% endblock %}

{% block content %}
  {% block breadcrumbs %}
  <div class="container">
    {% breadcrumbs left_url=site_home_link.url left_label=site_home_link.label right_label=page.breadcrumbs_label %}
  </div>
  {% endblock %}

  {% block form_content %}
    {% include 'euexit/form-contents.html'%}
  {% endblock %}
{% endblock %}
