@import '../../partials/vars';
@import '../../partials/mixins';

.labelled-uk-map{

  stroke: black;

  .greyed-out-region{
    fill: #F5F2ED;
  }

  path{
    stroke-width: 2;
    fill: white;
  }

  circle {
    stroke: $active-blue;
    fill: none;
    stroke-width: 2;
  }

  text {
    stroke: $active-blue;
    font-size: 20px;
    text-decoration: underline $active-blue;
  }

}
.map-labels {

  .region-title {
    display: inline-flex;
    color: $active-blue;
  }

  .region-link{
    text-decoration-color: $active-blue;
  }

  .circle-wrapper {
    display: inline-block;
    padding-right: 15px;
  }

  .circle-outline {
    border: 1.5px solid $active-blue;
    color: $active-blue;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}
