
// PARTIALS
// =========
// Global styling

@import 'partials/language';
@import 'partials/utils';
@import 'partials/overrides';

// COMPONENTS
// ===========
// Styling for components that
// appear on more than one page

@import 'components/cta-block/cta-block';
@import 'components/help-block/help-block';
@import 'components/accordion/base';

// PAGES
// ======
// Page styling should be namespaced under
// the page's css_layout_class set in template
// to prevent style pollution

// International
@import 'pages/international/landing-page';
@import 'pages/international/article-detail-page';
@import 'pages/international/article-list-page';
@import 'pages/international/campaign-page';
@import 'pages/international/sector-page';
@import 'pages/international/curated-topic-landing-page';

// Invest
@import 'pages/invest/landing-page';
@import 'pages/invest/hpo-detail-page';
@import 'pages/invest/region-page';

// Capital investment
@import 'pages/capital-invest/capital-invest-landing-page';
@import 'pages/capital-invest/capital-invest-region-page';
@import 'pages/capital-invest/capital-invest-opportunity-page';
@import 'pages/capital-invest/capital-invest-opportunity-listing-page';

// Investment support directory
@import 'pages/investment-support-directory/home';
@import 'pages/investment-support-directory/profile';
@import 'pages/investment-support-directory/search';
@import 'pages/investment-support-directory/contact';

// Brexit
@import 'pages/brexit/eu-exit-form';

// About DIT
@import 'pages/about-dit/services-page';
@import 'pages/about-dit/about-dit-landing-page';

// About UK
@import 'pages/about-uk/why-choose-the-uk-page';

// Find a supplier
@import 'pages/find-a-supplier/landing-page';

// !!! imports only. do not write styling in this file !!!
