.find-a-supplier-case-study {

  .showcase-image {
    position: relative;
    
    .caption {
      background-color: $grey;
      bottom: 0;
      color: $white;
      left: 0;
      margin: 0;
      position: absolute;
      width: 100%;
    }
  }

  .supplier-case-study-detail {
    position: relative;
    word-break: break-word;
    hyphens: auto;
  }

  #company-details {  
    
    dd, dt {
      display: inline;
      font-weight: inherit;
      line-height: inherit;
    }

    dd:after {
      content: "";
      display: block;
    }
    
    dl {
      margin: 0;
    }
  }

  #report-case-study {
    padding-bottom: $spacing-3;
  }

  blockquote {
    position: relative;
  }

  blockquote:after {
    border: solid transparent;
    border-top-color: $light-grey;
    border-width: 20px 20px 0px 0px;
    left: 20px;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }

}
