
$grey: #333333;
$transparent-white: rgba(250, 250, 250, 0.8);

.find-a-supplier-landing-page {

  @include hero-gradient;

  #search-area {
    .button {
      line-height: 30px;
      height: 60px;
    }
  }

  #hero {
    min-height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;

    #hero-content {
      width: 100%;
      bottom: 50px;
    }

    .container {
      margin: 0 auto;
      padding: 0 30px;
    }

    .image-caption {
      position: absolute;
      right: 0;
      bottom: 15px;
      font-size: 15px;
      line-height: 1.53;
      color: $white;
    }

    .hero-teaser {
      margin-bottom: 30px;

      p {
        max-width: 470px;
      }
    }

    #search-area {
      @include float-clear;
      background-color: $transparent-white;
      padding: 30px;


      .button-container {
        padding-left: 15px;

        .button {
          width: 100%;
        }
      }

      input, select {
        width: 100%;
        background-color: white;
        height: 60px;
      }

      input, select, button {
        line-height: 30px;
        padding: 0 19px;
      }

      input[type=text] {
        border-right-width: 0;
      }
    }

    input, select {
      color: $grey;
    }
  }

  #introduction-section {

    .proposition-container {
      width: 52%;
    }

    .button-container {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 100px;
    }

    .column-one-half {
      padding: 0;
    }

    h2 {
      color: $grey;
    }

    p {
      font-size: 19px;
      line-height: 1.58;
    }

    a {
      text-align: center;
      width: 350px;
      height: 60px;
      padding: 0;
      line-height: 60px;
    }

    .button-container {
      text-align: center;
    }
  }

  #services-section {
    img {
      max-width: 100%;
      margin-bottom: 20px;
      display: block;
    }

    .image-container {
      min-height: 100px;
    }
  }

  #articles-section {
    margin: 0;
    background-color: $stone-light;

    .container {
      padding-top: 60px;
      padding-left: 40px;
    }
  }

  @media (min-width: 769px) {
    #articles-section {
      .article-text-container {
        padding-right: 130px;
      }
    }
  }

  @media (max-width: 960px) {
    #hero {
      #search-area {
        .button-container {
          .button {
            width: auto;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    #hero {

      p {
        font-size: 15px;
      }

      .image-caption {
        display: none;
      }

      .hero-teaser {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
      }

      #search-area {
        padding: 20px;
        margin-bottom: 20px;

        .button-container {
          width: 100%;
          .button {
            width: 100%;
          }
        }

        input[type=text] {
          border-right-width: 2px;
          margin-bottom: 15px;
        }
      }
    }
    #introduction-section {
      .button {
        width: 100%;
        margin-top: 30px;
      }

      .proposition-container {
        width: 100%;
      }

      .button-container {
        margin-left: 0;
      }

      .grid-row {
        display: inline-block;
      }
    }

    #services-section {

      img {
        margin-bottom: 0;
        max-width: 119px;
      }
    }

    #articles-section {
      .container {
        padding: 30px;
      }
    }
  }

  @media (max-width: 640px) {
    #hero {
      .container {
        padding: 0 30px;
      }
    }
  }

}
