{% extends 'directory_components/base.html' %}
{% load static %}

{% block body_header %}
  {% include 'directory_components/header_footer/international_header.html' %}
{% endblock %}

{% block body_footer %}
  {% include 'directory_components/header_footer/international_footer.html' %}
{% endblock %}

{% load static from staticfiles %}

{% block header_js %}
  <script src="{% static 'directory_components/js/dit.responsive.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.utils.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.classes.Dropdown.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.components.countrySelector.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.components.greatInternationalHeader.js' %}"></script>
{% endblock %}

{% block head_css %}
	{{ block.super }}
  <link href="{% static 'base.css' %}" media="all" rel="stylesheet" />
{% endblock %}
