@import '../../partials/vars';
@import '../../partials/mixins';

.uk-map{
  @include uk-map();

  text {
    font-family: "Roboto", arial, helvetica, verdana;
    stroke-width: 0.4;
    text-decoration: underline $active-blue;
    fill: $active-blue;
    font-size: 19px;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    text {
      font-size: 16px;
    }
  }

  .active_region{
    fill: $great-blue;
  }
}
