{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load add_export_elements_classes from cms_tags %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'styles/pages/setup-guide-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

{% block hero_banner %}
  {% include 'directory_components/hero.html' with hero_text=page.heading %}
{% endblock %}

<section class="setup-guide">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">{{ page.sub_heading }}</h2>
      </div>
    </div>
    <ul>
      {% include 'core/includes/accordions.html' with accordions=page.subsections %}
    </ul>
  </div>
</section>

{% endblock %}
