{% extends 'core/base_cms.html' %}

{% load static %}
{% load trans from i18n %}
{% load parse_date from cms_tags %}
{% load breadcrumbs add_export_elements_classes add_anchors_to_all_headings add_href_target from directory_components %}

{% block head_title %}{{ page.article_title }} - {{ international_home_link.label }}{% endblock %}

{% block og_image %}{% if page.article_image %}{{ page.article_image.url }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block meta_description %}{{ page.article_teaser }}{% endblock %}

{% block css_layout_class %}article-detail-page{% endblock css_layout_class %}

{% block content %}

<section id="article">

  {% block breadcrumbs %}
    {% include 'core/includes/cms_breadcrumbs.html' %}
  {% endblock %}

  <article>
    <div class="container">

      <header>
        <div class="grid-row">
          <div class="column-sixth">
            {% include 'directory_components/social_share_links.html' %}
          </div>
          <div class="column-seven-twelfths">
          {% if page.type_of_article %}
            <p class="subheading">{{ page.type_of_article }}</p>
          {% endif %}
            <h1 class="heading-xlarge">{{ page.article_title }}</h1>
            {% if page.article_subheading %}
              <p class="font-medium">{{ page.article_subheading }}</p>
            {% endif %}
            {% if page.article_teaser %}
              <div class="text">
                <p>
                  {{ page.article_teaser }}
                </p>
              </div>
            {% endif %}
            <p class="subheading">Last updated {{ page.last_published_at|parse_date }}</p>
          </div>
          {% block article_tags %}
          {% if features.PROTOTYPE_PAGES_ON and page.tags %}
            <div class="column-quarter">
              <div class="panel-vertical-narrow">
                <h2 class="heading-small">Tags</h2>
                <ul class="tag-list">
                  {% for tag in page.tags %}
                  <li>
                    <a href="{% url 'tag-list' tag.slug %}" class="link">{{ tag.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endblock %}
        </div>
      </header>

      <div class="grid-row">
        <div class="column-three-quarters">
          {% if page.article_video %}
            <div class="video-container">
              <video controls class="width-full" id="article-video">
                  <source src="{{ page.article_video.url }}" type="video/{{ page.article_video.file_extension }}">
                  <p>Your browser doesn't support HTML5 video. Here is a <a class="link" href="{{ page.article_video.url }}">link to the video</a> instead.</p>
              </video>
            </div>
            {% if page.article_video_transcript %}
            <details closed class="margin-bottom-0">
              <summary>View video transcript</summary>
                {{  page.article_video_transcript|add_export_elements_classes }}
            </details>
            {% endif %}
          {% endif %}
          {% if page.article_image and not page.article_video %}
            <img src="{{ page.article_image.url }}" alt="{{ page.article_image.alt }}" class="width-full">
          {% endif %}

          <section class="grid-row padding-bottom-60">
                <div class="article-content" data-ga-class="article-content">
                  {{ page.article_body_text|add_export_elements_classes|add_href_target:request|add_anchors_to_all_headings:'-section' }}
                </div>
          </section>
        </div>

        {% block related_content %}
          {% include 'core/article_related_content_list.html' %}
        {% endblock %}

      </div>





    </div>
  </article>
   {% if page.cta_title or page.cta_teaser or page.cta_link_label and page.cta_link %}
    {% include 'core/article_related_content_footer.html' %}
  {% endif %}
</section>

{% endblock %}
