{% load card ga360_tracker from directory_components %}
{% load filter_by_active_language from cms_tags %}

{% with page.related_pages|filter_by_active_language as related_pages %}
{% if related_pages %}
<section class="related-content-cards background-stone">
    <div class="container">
      <h2 class="heading-large">Related content</h2>
      <ul class="flex-grid" aria-labelledby="related-content-heading" id="related-pages-list">
        {% for article in related_pages %}
          <li class="column-third-l column-half-m column-full">
            {% with 'related-article-'|add:article.meta.slug as card_id %}
              {% ga360_tracker "related-page-card" ga-value=article.title %}
                {% card card_id=card_id title=article.title description=article.teaser url=article.meta.url img_src=article.thumbnail.url %}
              {% endga360_tracker %}
            {% endwith %}
          </li>
        {% endfor %}
      </ul>
    </div>
</section>
{% endif %}
{% endwith %}
