{% load filter_by_active_language from cms_tags %}
{% load trans from i18n %}

{% with page.related_pages|filter_by_active_language as related_pages %}
{% if related_pages %}
<div class="column-quarter">
  <div class="panel-vertical-narrow content-list">
    <h2 class="heading heading-small">{% trans 'Related content' %}</h2>
    <ul>
      {% for article in related_pages %}
        <li>
          <h3 class="heading-small"><a id="related-article-{{ article.meta.slug }}-link" href="{{ article.full_path }}" class="link">{{ article.title }}</a></h3>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endwith %}
