{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} -
    {{ international_home_link.label }}{% endblock %}

{% block head_sharing_metadata %}
    {{ block.super }}
    <meta name="description" content="{{ page.search_description }}">
{% endblock %}

{% block meta_sharing_thumbnail %}
    {% if page.hero_thumbnail %}
        {{ page.hero_thumbnail }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
