{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}{{ site_home_link.label }}{% if page.seo_title %} - {{ page.seo_title }}{% else %} - {{ page.title }}{% endif %}{% endblock %}

{% block head_other %}
  {% for language_code, url in page.meta.localised_urls %}
    <link rel="alternate" href="{{ url }}" hreflang="{{ language_code }}">
  {% endfor %}
{% endblock %}

{% block head_sharing_metadata %}
    {{ block.super }}
    <meta name="description" content="{{ page.search_description }}">
{% endblock %}

{% block meta_sharing_thumbnail %}
  {% if page.hero_thumbnail %}
    {{ page.hero_thumbnail }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
