{% extends 'core/base.html' %}

{% block content %}
  <h1 class="heading-large">{{ blank_page_title }}</h1>
  <ul class="list-bullet">
    <li><a href="https://invest.great.uat.uktrade.io/uk-regions/midlands/">Midlands Engine</a></li>
    <li><a href="https://invest.great.uat.uktrade.io/uk-regions/north-england/">Northern Powerhouse</a></li>
    <li><a href="https://invest.great.uat.uktrade.io/uk-regions/south-england/">South England</a></li>
    <li><a href="https://invest.great.uat.uktrade.io/uk-regions/northern-ireland/">Northern Ireland</a></li>
    <li><a href="https://invest.great.uat.uktrade.io/uk-regions/scotland/">Scotland</a></li>
    <li><a href="https://invest.great.uat.uktrade.io/uk-regions/wales/">Wales</a></li>
  </ul>
{% endblock %}