{% extends 'core/base.html' %}

{% block content %}
  <h1 class="heading-large">{{ blank_page_title }}</h1>
  <ul class="list-bullet">
    <li><a href="https://great.uat.uktrade.io/international/invest-capital/types/venture-capital/">Venture Capital</a></li>
    <li><a href="https://great.uat.uktrade.io/international/invest-capital/types/invest-in-infrastucture/">Invest in infrastructure</a></li>
    <li><a href="https://great.uat.uktrade.io/international/invest-capital/types/invest-in-energy/">Invest in energy</a></li>
    <li><a href="https://great.uat.uktrade.io/international/invest-capital/types/invest-in-real-estate/">Invest in real-estate</a></li>
{% endblock %}