{% extends 'core/base_cms.html' %}
{% load static %}
{% load filter_by_active_language from cms_tags %}
{% load breadcrumbs cta_box add_export_elements_classes from directory_components %}

{% block css_layout_class %}campaign-page{% endblock css_layout_class %}

{% block content %}
<section class="hero hero-generic padding-0" id="campaign-hero" {% if page.campaign_hero_image %}style="background-image: url('{{ page.campaign_hero_image.url }}')"{% endif %}>

  <div class="container white-text">
    {% breadcrumbs page.campaign_heading %}
      <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
    {% endbreadcrumbs %}

    <div class="hero-title">
      <h1 id="campaign-hero-heading" class="heading-hero-generic">{{ page.campaign_heading }}</h1>
    </div>
  </div>

</section>

<section id="campaign-section-one" class="padding-bottom-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-half">
        <h2 id="section-one-heading" class="heading-large margin-top-60">{{ page.section_one_heading }}</h2>
        <div id="section-one-intro" class="margin-bottom-60">
          {{ page.section_one_intro|add_export_elements_classes }}
        </div>
      </div>
    </div>

    <div class="flex-grid reverse-columns-s">

      <div class="column-third">
        <ul class="selling-points-list" id="campaign-selling-points">
          <li class="margin-bottom-30">
            <img id="selling-points-icon-one" src="{{ page.selling_point_one_icon.url }}" height="50" alt="">
            <h3 class="heading heading-medium">{{ page.selling_point_one_heading|add_export_elements_classes }}</h3>
            {{ page.selling_point_one_content|add_export_elements_classes }}
          </li>

          {% if page.selling_point_two_heading and page.selling_point_two_content %}
            <li class="margin-bottom-30">
              {% if page.selling_point_two_icon %}
                <img id="selling-points-icon-two" src="{{ page.selling_point_two_icon.url }}" height="50" alt="">
              {% endif %}
              <h3 class="heading heading-medium">{{ page.selling_point_two_heading }}</h3>
              {{ page.selling_point_two_content|add_export_elements_classes }}
            </li>
          {% endif %}

          {% if page.selling_point_three_heading and page.selling_point_three_content %}
            <li class="margin-bottom-30">
              {% if page.selling_point_three_icon %}
                <img id="selling-points-icon-three" src="{{ page.selling_point_three_icon.url }}" height="50" alt="">
              {% endif %}
              <h3 class="heading heading-medium">{{ page.selling_point_three_heading }}</h3>
              {{ page.selling_point_three_content|add_export_elements_classes }}
            </li>
          {% endif %}
        </ul>

        {% if page.section_one_contact_button_url and page.section_one_contact_button_text %}
            <a id="section-one-contact-button" class="button button-large button-blue margin-top-30" href="{{ page.section_one_contact_button_url }}">{{ page.section_one_contact_button_text }}</a>
        {% endif %}
      </div>

      {% if page.section_one_image %}
        <div class="column-two-thirds padding-bottom-15">
          <div class="grid-row">
            <img id="section-one-image" class="column-two-thirds float-right" src="{{ page.section_one_image.url }}" alt="">
          </div>
        </div>
      {% endif %}
    </div>

  </div>
</section>

<section id="campaign-section-two" class="background-stone-50 padding-vertical-60">
  <div class="container">
    <div class="flex-grid margin-bottom-30 reverse-columns-s">

      <div class="column-third">
        <h2 id="section-two-heading" class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
        {{ page.section_two_intro|add_export_elements_classes }}
        {% if page.section_two_contact_button_url and page.section_one_contact_button_text %}
          <a id="section-two-contact-button" class="button button-large button-blue margin-top-30" href="{{ page.section_two_contact_button_url }}">{{ page.section_two_contact_button_text }}</a>
        {% endif %}
      </div>

      {% if page.section_two_image %}
        <div class="section-two-image column-two-thirds">
          <div class="grid-row">
            <img id="section-two-image" class="column-11-12 float-right" src="{{ page.section_two_image.url }}" alt="">
          </div>
        </div>
      {% endif %}

    </div>
  </div>

</section>

<section id="campaign-related-content" class="related-content padding-bottom-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-half">
        <h2 id="related-content-heading" class="heading-large margin-top-60">{{ page.related_content_heading }}</h2>
        <div id="related-content-into" class="margin-bottom-30 wrap-tight">
          {{ page.related_content_intro|add_export_elements_classes }}
        </div>
      </div>
    </div>

    <ul class="grid-row" aria-labelledby="related-content-heading" id="related-pages-list">
      {% for article in page.related_pages %}
        <li class="column-third" id="related-page-{{ article.meta.slug }}">
          {% if article.article_image_thumbnail %}
            <img id="related-article-{{ article.meta.slug }}-image" src="{{ article.article_image_thumbnail.url }}" alt="">
          {% endif %}
          <a id="related-page-{{ article.meta.slug }}-heading" href="{{ article.meta.url }}" class="heading-medium grey-text margin-top-30">{{ article.title }}</a>
          <p id="related-page-{{ article.meta.slug }}-description">{{ article.subheading }}</p>
        </li>
      {% endfor %}
    </ul>

  </div>
</section>

<section id="campaign-contact-section" class="padding-bottom-60">
  <div class="container">
    {% cta_box box_id="campaign-contact-box" heading=page.cta_box_message button_text=page.cta_box_button_text button_class='button-large' button_url=page.cta_box_button_url box_class="background-stone-50" %}
  </div>
</section>

{% endblock %}
