{% extends 'core/base_cms.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes from directory_components_tags %}

{% block css_layout_class %}capital-invest-opportunity-page{% endblock %}

{% block content %}

{% if page.related_sector_page %}
	{% include 'directory_components/hero.html' with hero_text=page.hero_title background_image_url=page.hero_image.url hero_subheading=view.hero_subheading %}
{% else %}
	{% include 'directory_components/hero.html' with hero_text=page.hero_title background_image_url=page.hero_image.url %}
{% endif %}

<section id="breadcrumb-section">
  <div class="container">
    <nav class="breadcrumbs padding-bottom-0" aria-label="breadcrumb" role="navigation">
      <ol>
        <li>
          <a href="{% url 'index' %}">Great.gov.uk International</a>
        </li>
        <li>
          <a href="{% url 'capital-invest' %}">Capital Invest</a>
        </li>
        <li aria-current="page">{{ page.breadcrumbs_label }}</li>
      </ol>
    </nav>
  </div>
</section>

<section class="capital-invest-opportunity-page-section">
	<div class="container">
		<div class="card-grid">
			<div class="column-half-l left-half-page-text">
				<div class="font-medium padding-bottom-30">
					{{ page.opportunity_summary_intro}}
				</div>
				<div>
					{{ page.opportunity_summary_content|add_export_elements_classes|safe }}
				</div>
				</div>
				<div class="column-half-l center_vertical flex-shrink-0 max-width-100">
					{% if page.opportunity_summary_image.url %}
						<figure class="landing-page-image flex-shrink-0">
							<img class="width-full" src="{{page.opportunity_summary_image.url}}">
						</figure>
					{%  endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="capital-invest-opportunity-page-section capital-invest-region-icons-section">
	<div class="container">
		<div class="grid-row padding-bottom-90 ">
			<div class="column-third">
				<img src="https://static.thenounproject.com/png/28190-200.png" class="icon">
				<p>Location</p>
				<p class="bold-small">{{ page.location }}</p>
			</div>
			<div class="column-third">
				<img src="https://static.thenounproject.com/png/28190-200.png" class="icon">
				<p>Project promoter</p>
				<p class="bold-small">{{ page.project_promoter }}</p>
			</div>
			<div class="column-third">
				<img src="https://static.thenounproject.com/png/28190-200.png" class="icon">
				<p>Scale</p>
				<p class="bold-small">{{ page.scale }}</p>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-third">
				<img src="https://static.thenounproject.com/png/28190-200.png" class="icon">
				<p>Programme</p>
				<p class="bold-small">{{ page.programme }}</p>
			</div>
			<div class="column-third">
				<img src="https://static.thenounproject.com/png/28190-200.png" class="icon">
				<p>Investment type</p>
				<p class="bold-small">{{ page.investment_type }}</p>
			</div>
			<div class="column-third">
				<img src="https://static.thenounproject.com/png/28190-200.png" class="icon">
				<p>Planning status</p>
				<p class="bold-small">{{ page.planning_status }}</p>
			</div>
		</div>
	</div>
</section>

<section class="capital-invest-opportunity-page-section">
	<div class="container">
		<div class="grid-row">
			<h2 class="heading-large">{{ page.project_background_title }} </h2>
			<div class="font-medium padding-bottom-30 column-half-l">
				{{ page.project_background_intro}}
			</div>
		</div>
		<div class="grid-row">
			<div class="column-half-l padding-right-60">
				<h2 class="heading-large">{{ page.project_description_title }}</h2>
				<div>
					{{ page.project_description_content|add_export_elements_classes|safe }}
				</div>
			</div>
			<div class="column-half-l padding-right-60">
				<h2 class="heading-large">{{ page.project_promoter_title }}</h2>
				<div>
					{{ page.project_promoter_content|add_export_elements_classes|safe }}
				</div>
			</div>
		</div>
		<div class="grid-row">
		{% if page.project_image.url %}
			<figure class="landing-page-image flex-shrink-0" style="align-items: center; display: flex; flex-direction: column;" >
				<img class="width-half" src="{{page.project_image.url}}">
			</figure>
		{%  endif %}
		</div>
	</div>
</section>

{% if page.case_study_title and page.case_study_cta_text %}
	{% include 'directory_components/full_width_banner_with_cta.html' with background_image=page.case_study_image.url heading=page.case_study_title subtitle=page.case_study_text|add_export_elements_classes|safe  cta_link=page.case_study_cta_link cta_text=page.case_study_cta_text %}
{% endif %}

{% if page.related_pages %}
<section class="capital-invest-opportunity-page-section">
	<div class="container">
		<div class="grid-row">
			<h1 class="heading-large padding-bottom-30">
				{{ page.similar_projects_title}}
			</h1>
			{% for related_page in page.related_pages %}
				<div class="column-third-xl column-half-l column-full">
					<div class="card">
						<div class="card-inner wrap-tight padding-horizontal-45">
							<a href="{% url 'capital-invest-opportunity' page.meta.slug %}" class="heading-medium">{{ related_page.title }}</a>
							<p>{{ related_page.location }}</p>
							<p class="bold-small">{{ related_page.scale }}</p>
							<p><u>Investment type: </u>{{ related_page.investment_type }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="button button-blue button-arrow-small margin-top-45" href="{{page.similar_projects_cta_link}}">{{ page.similar_projects_cta_text }}</a>
	</div>
</section>
{% endif %}

<section class="capital-invest-opportunity-page-section">
	<div class="container">
		<h1 class="heading-large">{{ page.next_steps_title }}</h1>
		<div class="grid-row padding-bottom-45">
			<div class="column-half-l">
				{{ page.next_steps_intro }}
			</div>
		</div>
		<div class="grid-row">
			<div class="column-half">
				{% include 'directory_components/cta_link.html' with with_arrow=True url=invest_cta_link text=page.invest_cta_text %}
			</div>
			<div class="column-half">
				{% include 'directory_components/cta_link.html' with with_arrow=True url=buy_cta_link text=page.buy_cta_text %}
			</div>
		</div>
	</div>
</section>


{% endblock %}
