{% extends 'core/base_cms.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes from directory_components_tags %}

{% block content %}

{% include 'directory_components/hero.html' with hero_text=page.hero_title background_image_url=page.hero_image.url  %}

<section id="breadcrumb-section">
  <div class="container">
    <nav class="breadcrumbs padding-bottom-0" aria-label="breadcrumb" role="navigation">
      <ol>
        <li>
          <a href="{% url 'index' %}">Great.gov.uk International</a>
        </li>
        <li>
          <a href="{% url 'capital-invest' %}">Capital Invest</a>
        </li>
        <li>
          <a href="{% url 'capital-invest' %}">Midlands Engine</a>
        </li>
        <li aria-current="page">{{ page.breadcrumbs_label }}</li>
      </ol>
    </nav>
  </div>
</section>


<section class="capital-invest-region-page-section">
	<div class="container">
		<div class="grid-row">
			<div class="font-medium padding-bottom-30 column-half-l">
				{{ page.sector_summary_intro}}
			</div>
		</div>
		<div class="card-grid">
			<div class="column-half-l padding-right-60">
				<div>
					{{ page.sector_summary_content|add_export_elements_classes|safe }}
				</div>
			</div>
			<div class="column-half-l center_vertical flex-shrink-0 max-width-100">
				{% if page.sector_summary_image.url %}
					<figure class="landing-page-image flex-shrink-0">
						<img class="width-full" src="{{page.sector_summary_image.url}}">
					</figure>
				{%  endif %}
			</div>
		</div>
	</div>
</section>

{% if page.related_pages %}
	<section id="news-events-section" class="capital-invest-region-page-section">
		<div class="container wrap-tight">
		<h2 class="heading-large margin-bottom-45">{{ page.investment_opportunities_title }}</h2>
			<div class="card-grid">
			{% for related_page in page.related_pages %}
				<div class="column-third-xl column-half-l column-full">
					<div class="card">
						<div class="card-inner wrap-tight padding-horizontal-45">
							<a href="{% url 'capital-invest-opportunity' related_page.meta.slug %}" class="heading-medium">{{ related_page.title }}</a>
							<p>{{ related_page.location }}</p>
							<p class="bold-small">{{ related_page.scale }}</p>
							<p><u>Investment type: </u>{{ related_page.investment_type }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
{% endif %}

<section class="capital-invest-region-page-section">
	<div class="container">
		<h1 class="heading-large">{{ page.next_steps_title }}</h1>
		<div class="grid-row padding-bottom-45">
			<div class="column-half-l">
				{{ page.next_steps_intro }}
			</div>
		</div>
		<div class="grid-row">
			<div class="column-half">
				{% include 'directory_components/cta_link.html' with with_arrow=True url=invest_cta_link text=page.invest_cta_text %}
			</div>
			<div class="column-half">
				{% include 'directory_components/cta_link.html' with with_arrow=True url=buy_cta_link text=page.buy_cta_text %}
			</div>
		</div>
	</div>
</section>

{% endblock %}
