{% extends 'core/base_cms.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes statistics_card_grid case_study from directory_components_tags %}

{% block css_layout_class %}capital-invest-region-page{% endblock %}

{% block content %}

{% include 'directory_components/hero.html' with hero_text=page.hero_title background_image_url=page.hero_image.url  %}

<section>
	<div class="container">
		{% url 'index' as index_url %}
		{% url 'capital-invest' as capital_invest_url %}
		{% include 'directory_components/breadcrumbs.html' with left_url=index_url left_label='Great.gov.uk International' middle_url=capital_invest_url middle_label='Capital Invest' right_label=page.breadcrumbs_label %}
	</div>
</section>

{% if page.region_summary_section_intro %}
<section class="capital-invest-region-page-section">
	<div class="container">
		<div class="card-grid">
			<div class="column-half-l left-half-page-text">
				<div class="font-medium padding-bottom-60">
					{{ page.region_summary_section_intro}}
				</div>
				<div>
					{{ page.region_summary_section_content|add_export_elements_classes|safe }}
				</div>
			</div>
			{% if page.region_summary_section_image.url %}
                <div class="column-half-l center-vertical flex-shrink-0 max-width-100">
                    <figure class="landing-page-image flex-shrink-0">
                        <img class="width-full" src="{{page.region_summary_section_image.url}}">
                    </figure>
                </div>
			{%  endif %}
		</div>
	</div>
</section>
{% endif %}

{% if page.investment_opps_title and page.child_pages %}
<section class="capital-invest-region-page-section">
	<div class="container">
		<h1 class="heading-large">{{ page.investment_opps_title }}</h1>
		<div class="grid-row">
			<p class="column-half-l padding-bottom-30">{{ page.investment_opps_intro }}</p>
		</div>
		{% for sector_page in page.child_pages %}
			<div class="column-third-xl column-half-l column-full">
				<div class="card">
					<div class="card-image" role="img" style="background-image: url({{ sector_page.image.url }});">
					</div>
					<div class="card-inner wrap-tight padding-horizontal-45">
						<a href="{% url 'cms-page-from-path-with-two-slugs' page.meta.slug sector_page.meta.slug %}"><h3 class="heading-large">{{ sector_page.title }}</h3></a>
						<p class="description">{{ sector_page.featured_description }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{% endif %}

{% if page.economics_data_title and page.economics_stats and page.location_data_title and page.location_stats %}
<section class="capital-invest-region-page-section">
	<div class="container">
	<div class="padding-bottom-60">
		<h1 class="heading-large padding-bottom-45">{{ page.economics_data_title }}</h1>
		{% statistics_card_grid statistics=page.economics_stats num_of_statistics=view.num_of_economics_statistics number_first=True %}
	</div>
	<div>
		<h1 class="heading-large padding-bottom-45">{{ page.location_data_title }}</h1>
		{% statistics_card_grid statistics=page.location_stats num_of_statistics=view.num_of_location_statistics number_first=True %}
	</div>
	</div>
</section>
{% endif %}

{% if page.section_title and page.section_content %}
<section class="capital-invest-region-page-section">
	<div class="container">
		<h1 class="heading-large">{{ page.section_title }}</h1>
		<div class="card-grid">
			{% if page.section_image.url %}
				<div class="column-half-xl center-vertical">
					<figure class="landing-page-image">
						<img class="width-full" src="{{page.section_image.url}}">
					</figure>
				</div>
			{% endif %}
			<div class="column-half-xl right-half-page-text">
				{{ page.section_content|add_export_elements_classes|safe }}
			</div>
		</div>
	</div>
</section>
{% endif %}

{% if page.case_study_title and page.case_study_image.url %}
	{% include 'directory_components/case_study.html' with background_image=page.case_study_image.url heading=page.case_study_title subtitle=page.case_study_text|add_export_elements_classes|safe  cta_link=page.case_study_cta_link cta_text=page.case_study_cta_text %}
{% endif %}

{% if  page.next_steps_title and page.next_steps_intro %}
<section class="capital-invest-region-page-section">
	<div class="container">
		<h1 class="heading-large">{{ page.next_steps_title }}</h1>
		<div class="grid-row padding-bottom-45">
			<div class="column-half-l">
				{{ page.next_steps_intro }}
			</div>
		</div>
		<div class="grid-row">
            {% if page.invest_cta_text %}
                <div class="column-half">
                    {% include 'directory_components/cta_link.html' with with_arrow=True url=invest_cta_link text=page.invest_cta_text %}
                </div>
            {% endif %}
            {% if page.buy_cta_text %}
                <div class="column-half">
                    {% include 'directory_components/cta_link.html' with with_arrow=True url=buy_cta_link text=page.buy_cta_text %}
                </div>
			{% endif %}
		</div>
	</div>
</section>
{% endif %}

{% endblock %}
