{% extends 'core/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
{% load filter_by_active_language from cms_tags %}
{% load directory_components %}

{% block css_layout_class %}landing-page{% endblock %}

{% block content %}

<section>
    <div class="container">
      {% trans "Contact us" as contact_title %}
        {% comment "DISABLED FOR ATLAS MVP" %}
        {% breadcrumbs contact_title %}
            <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
        {% endbreadcrumbs %}
        {% endcomment %}
    </div>
</section>

<section>
    <div class="container">
        <div class="grid-row">
            <div class="column-half">
                <fieldset>
                    <legend>
                        <h1 class="heading-large">{% trans "What would you like to know more about?" %}</h1>
                    </legend>
                    <form method="post">
                        {{ form.choice }}
                        <button type="submit" name="button" class="button button-blue">{% trans "Continue" %}</button>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="margin-top-30">
            <a href="{{ domestic_contact_home }}" type="submit" >{% trans "Back" %}</a>
        </div>
    </div>
</section>

{% endblock %}
