{% extends 'core/base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load breadcrumbs banner from directory_components %}

{% block content %}
<section class="background-white">
  <div class="container">
      {% breadcrumbs 'Contact us' %}
        <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
      {% endbreadcrumbs %}
  </div>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Contact us</h1>
        <p>Contact us if you:</p>
        <ul class="list list-bullet">
          <li>
              <a class="link" href="{{ invest_contact_us_url }}">want to set up your business in the UK</a>
          </li>
          <li>
              <a class="link" href="{{ services_urls.fas }}industries/contact/">want to contact or buy from UK companies</a>
          </li>
          <li>
              <a class="link" href="{% url 'brexit-international-contact-form' %}">have a question about the UK’s exit from the European Union</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
