{%  include 'directory_components/form_widgets/form_field.html' with field=form.name %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.email_address %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.company %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.number_of_staff %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.sector %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.country %}
<p>I am mainly interested in:</p>
{%  include 'directory_components/form_widgets/form_field.html' with field=form.expand %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.invest_capital %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.buy_goods %}
<p>The Department for International Trade will use the information provided in this form to send you a pdf brochure. You can read about how we protect your data through our privacy policy.</p>
<p>If you would like to receive further information about setting up your business in the UK, you can subscribe to our mailing list. You can also subscribe to taking part in surveys to help us improve DIT's services.</p>
{%  include 'directory_components/form_widgets/form_field.html' with field=form.further_information %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.terms_and_conditions %}
{%  include 'directory_components/form_widgets/form_field.html' with field=form.captcha %}
