{% extends 'core/base_cms.html' %}
{% load filter_by_active_language from cms_tags %}
{% load card image_with_caption add_export_elements_classes convert_headings_to override_elements_css_class from directory_components_tags %}


{% block css_layout_class %}curated-topic-landing-page{% endblock css_layout_class %}

{% block content %}

  <section class="hero hero-generic padding-0" id="campaign-hero" style="background-image: url('{{ page.hero_image.url }}')">
    <div class="container white-text">
      <div class="hero-title">
        <h1 class="heading-hero-generic">{{ page.display_title }}</h1>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li>
          <a href="{% url 'index' %}">Great.gov.uk International</a>
        </li>
        <li aria-current="page">{{ page.display_title }}</li>
      </ol>
    </div>

    <p class="font-medium width-two-thirds">{{ page.teaser }}</p>
  </div>

  <section class="padding-vertical-60">
    <div class="container">
      <div class="card-grid reverse-columns-s">

        <div class="column-half">
          <div class="wrap-tight">{{ page.section_one_content|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|safe }}</div>
        </div>

        {% if page.section_one_image %}
          <div class="column-half padding-bottom-15">
            <div class="grid-row">
              {% image_with_caption image_url=page.section_one_image.url main_caption=page.section_one_image_caption sub_caption="" %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="background-great-blue">
    <div class="container">
      <div class="cta-block flex-grid padding-vertical-90">
        <div class="column-two-thirds">
          <img class="cta-block-image" src="{{ page.section_two_image.url }}" alt="" width="100%" height="auto">
        </div>

        <div class="column-third white-text cta-block-content">
          <h3 class="heading-large">{{ page.section_two_heading }}</h3>

          <p class="padding-bottom-30">{{ page.section_two_teaser }}</p>

          <a href="{{ page.section_two_button_url }}" class="button button-blue">{{ page.section_two_button_text }}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="background-stone-30 setup-guide padding-vertical-60" id="guides">
    <div class="container">
      <h2 class="heading-large grey-text">{{ page.guides_section_heading }}</h2>

      <div class="flex-grid">
        {% for guide in page.guides|filter_by_active_language %}
          <div class="column-third" data-ga-class="guide-card">
            {% url 'article-detail' topic='how-to-setup-in-the-uk' list='guides' slug=guide.meta.slug as guide_url %}
            {% card img_src=guide.thumbnail.url url=guide_url heading=guide.title description=guide.teaser %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <div class="container">
    <div class="help-block">
      <div class="help-block-body width-half">
        <h2 class="heading-large grey-text">Need help?</h2>

        <p>The UK Government helps businesses expand to and trade with the UK. If you have questions, we can help.</p>

        <a href="{{ services_urls.contact_us }}" class="button button-arrow-small">Contact an EU Exit enquiry service</a>
      </div>
    </div>
  </div>

{% endblock %}
