{% extends 'core/base.html' %}
{% load i18n static %}
{% load breadcrumbs success_box from directory_components %}

{% block content %}
    <section>
      <div class="container">
        {% breadcrumbs 'How we help campaign title' %}
                <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
                <a href="{{ international_trade_home }}">Buy from the UK</a>
                <a href="{{international_trade_how_we_help}}">How we help you buy</a>
            {% endbreadcrumbs %}


        <div class="width-two-thirds">
            {% success_box heading_level='h1' heading='Thank you' description='Your guide to investing in the UK has been emailed to you' %}
        </div>

        <div class="width-two-thirds">
          <h2 class="heading-medium">Next steps</h2>
          <p>Take a look at our other services on great:</p>
          <ul class="list-bullet">
            <li><a href="{{ services_urls.invest }}">Invest</a></li>
            <li><a href="{{ services_urls.uk_setup_guide }}">How to set up in the UK</a></li>
            <li><a href="{{ services_urls.fas }}">Find a supplier</a></li>
          </ul>
        </div>
      </div>
    </section>
{% endblock %}
