{% extends "core/base.html" %}

{% load i18n %}
{% load breadcrumbs from directory_components %}

{% block content %}
    <section id="form-content">
        <div class="container">
            {% trans "The UK Investment Prospectus" as uk_investment %}
    
            {% comment "DISABLED FOR ATLAS MVP" %}
            {% breadcrumbs uk_investment %}
                <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
                <a href="{% url 'cms-page-from-path' 'about-uk' %}">{% trans "About the UK" %}</a>
                <a href="{% url 'cms-page-from-path' 'about-uk/why-choose-uk' %}">{% trans "Why choose the UK" %}</a>
            {% endbreadcrumbs %}
            {% endcomment %}

            <div class="grid-row">
                <div class="column-two-thirds-xl">
                    <h1 class="heading-xlarge">{% trans 'Download the UK Investment Prospectus' %}</h1>
                    <div class="margin-vertical-60">
                        <p>{% trans 'The UK offers an established, business-friendly environment boasting economic stability and commercial security for investing, expanding and buying from the UK.' %}</p>
                        <p>{% trans "By downloading the UK Investment Prospectus, you’ll get insights into:" %}</p>
                        <ul class="list list-bullet">
                          <li>{% trans "the growth of UK sectors and which geographic regions are best suited to your business" %}</li>
                          <li>{% trans "UK tax, incentives, talent, labour and innovation to help you draw comparisons with European and international markets" %}</li>
                          <li>{% trans "UK industrial strategy and how government is supporting overseas businesses in driving national skills, industries and infrastructure" %}</li>
                        </ul>
                    </div>
                </div>
                <div class="column-two-thirds-m column-half-xl">
                    <form method="post">
                        {% include 'core/includes/form_field.html' with field=form.given_name %}
                        {% include 'core/includes/form_field.html' with field=form.family_name %}
                        {% include 'core/includes/form_field.html' with field=form.email_address %}
                        {% include 'core/includes/form_field.html' with field=form.phone_number %}
                        {% include 'core/includes/form_field.html' with field=form.market %}
                        {% include 'core/includes/form_field.html' with field=form.company_name %}
                        {% include 'core/includes/form_field.html' with field=form.industry %}

                        {% include 'core/includes/form_consent_business_env_guide.html' with form=form %}

                        {% include 'core/includes/form_field.html' with field=form.captcha %}
                        <button class="button">{% trans "Submit" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
