{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
{% load filter_by_active_language add_with_arrow_to_link from cms_tags %}
{% load card hero add_export_elements_classes from directory_components_tags %}

{% block head_css %}
  {{ block.super }}
{% endblock %}

{% block content %}

<section class="with-flag">
	{% include 'core/includes/hero_landing_page.html' with heading=page.hero_title img_url=page.hero_image.url subtitle=page.hero_subtitle call_to_action_text=page.hero_cta_text %}
</section>

<section class="padding-vertical-60">
	<div class="container">
		<div class="card-grid">
			<div class="column-half">
				<div class="card">
					<figure>
						<img class="width-full" src="{{ page.invest_image.url }}">
					</figure>
					<div>
						<h2 class="highlight heading-medium background-active-blue white-text margin-top-remove-30">{{ page.invest_title }}</h2>
						<div class="card-inner">
							{{ page.invest_content|add_export_elements_classes|add_with_arrow_to_link|safe }}
						</div>
					</div>
				</div>
			</div>
			<div class="column-half">
				<div class="card">
					<figure>
						<img class="width-full" src="{{ page.trade_image.url }}">
					</figure>
					<div>
						<h2 class="highlight heading-medium background-active-blue white-text margin-top-remove-30">{{ page.trade_title }}</h2>
						<div class="card-inner">
							{{ page.trade_content|add_export_elements_classes|add_with_arrow_to_link|safe }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="tariffs-section" class="tariffs-section background-stone-40">
	<div class="container">
		<div class="grid-row" >
			<div class="column-full column-half-l margin-vertical-90 tariffs-image">
				<img class="width-100" src="{{ page.tariffs_image.url }}" alt="">
			</div>
			<div class="column-full column-half-l margin-vertical-90 tariffs-content-wrapper">
				<div class="padding-horizontal-45 wrap-tight tariffs-content">
					<h2 class="heading-large">{{ page.tariffs_title }}</h2>
					{{ page.tariffs_description|add_export_elements_classes }}
					<form class="form-group landing-page-country-selector-dialog" action="{{ page.tariffs_link }}" method="GET" name="change_country_tariff">
						<div class="select-container tariffs-select margin-bottom-30 background-white">
						{% if country %}
							<span id="flag-container" class="js-enabled-only flag-icon flag-icon-{{ country.code }}"></span>
						{% endif %}
							<div class="country-select{% if form.country.errors %} form-group-error{% endif %}">
								{% if form.country.errors %}
									<span class="error-message">{{ form.country.errors }}</span>
								{% endif %}
								{% if form.country.help_text %}
									<span class="form-hint">{{ form.country.help_text }}</span>
								{% endif %}
								<div>
									{{ form.country }}
								</div>
							</div>
						</div>
						<button type="submit" class="button button-arrow-small"> {{ page.tariffs_call_to_action_text }}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% if page.related_pages %}
<section id="news-events-section" class="news-events-section padding-vertical-60">
  <div class="container wrap-tight">
    <h2 class="heading-large margin-bottom-45">{{ page.news_title }}</h2>
    <div class="card-grid">
      {% for related_page in page.related_pages %}
      	{% if related_page.page_type == 'InternationalArticlePage' %}
        	{% include 'core/includes/featured_article_card.html' with url_path_name='international-article' default_subheading="Article" %}
		{% else %}
		     {% include 'core/includes/featured_article_card.html' with url_path_name='campaign' default_subheading="Campaign"  %}
		{% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}

{% block content_after %}
<section class="background-great-blue study-visit-cta-section" id="study-visit-cta-section">
  <div class="container padding-vertical-30">
    <div class="grid-row">
      <div class="column-full column-half-l column-third-xl">
        <a href="https://study-uk.britishcouncil.org/" rel="noopener noreferrer" class="button button-ghost-white button-arrow">{{ page.study_in_uk_cta_text }}</a>
      </div>
      <div class="column-full column-half-l column-third-xl">
        <a href="https://www.visitbritain.com/gb/en" rel="noopener noreferrer" class="button button-ghost-white button-arrow">{{ page.visit_uk_cta_text }}</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
