{% extends 'core/base.html' %}
{% load static %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'styles/pages/landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <h2 class="heading-large">{{ page.sector_title }}</h2>

    <div class="card-grid">
      {% url 'industries' as industries_url %}
      {% include 'core/includes/labelled_card_with_description_grid.html' with url_path=industries_url cards=page.sectors|filter_by_active_language %}
    </div>

    <a href="{% url 'industries' %}" class="button-ghost-blue">{{ page.sector_button_text }}</a>

  </div>
</section>

<section class="landing-page-setup-guide section-underlined">
  <div class="container">

    <div class="intro">
      <div class="card-grid">
        <div class="column-two-thirds">
          <h2 class="heading-large">{{ page.setup_guide_title }}</h2>
          {% if page.setup_guide_lead_in %}
            <p>{{ page.setup_guide_lead_in }}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="card-grid">
      {% for guide in page.guides|filter_by_active_language %}
        <div class="column-third">
          {% url 'setup-guide' as setup_guide_url %}
          {% with setup_guide_url|add:guide.meta.slug as guide_url %}
          {% include 'directory_components/card.html' with url=guide_url title=guide.heading description=guide.description %}
          {% endwith %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="landing-page-how-we-help section-underlined">
  <div class="container">

    <h2 class="heading-large">{{ page.how_we_help_title }}</h2>
    <div class="grid-row">
      <div class="column-two-thirds">
        {% if page.how_we_help_lead_in %}
          <p>{{ page.how_we_help_lead_in }}</p>
        {% endif %}
      </div>
    </div>

    <div class="grid-row">
      <ul>
        {% for section in page.how_we_help %}
          {% if section.text and section.icon %}
            <li>
              <div class="column-third help-section">
                <img class="icon" src="{{ section.icon.url }}" alt="">
                <p>{{ section.text }}</p>
              </div>
            </li>
          {% endif %}
        {% endfor %}

        <li>
          <div class="column-third help-section">
            {# only show in english and french as we are missing translations for this content #}
            {% if LANGUAGE == 'en-gb' or LANGUAGE == 'fr' %}
              <p>{{ page.how_we_help_text_six }}</p>
            {% endif %}
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>

{% endblock content %}


{% block feedback_reporter %}{% endblock %}
