{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
{% load filter_by_active_language from cms_tags %}
{% load card hero add_export_elements_classes from directory_components_tags %}

{% block css_layout_class %}landing-page{% endblock %}

{% block content %}

<section class="hero hero-generic with-flag" id="hero-section" style="background-image: url({% static 'images/placeholder.png' %})">
  <div class="container wrap-tight">
    <div class="heading-container">
      <h1 class="heading-xlarge">Home</h1>
    </div>
  </div>
</section>

<section id="invest-fas-section" class="invest-fas-section background-stone-gradient-bottom padding-vertical-60">
  <div class="container">
    <div class="card-grid">
      <div class="column-half">
        {% static 'images/placeholder.png' as card_image %}
        <div class="card " id="invest-card">
          <div class="card-image" role="image" style="background-image: url({% static 'images/placeholder.png' %});" id="invest-card-image"></div>
          <div class="card-inner wrap-tight">
            <h2 class="heading-large">Invest in the UK</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#" class="link with-arrow">Expand to the UK</a>
            <a href="#" class="link with-arrow">Capital investment in the UK</a>
          </div>
        </div>
      </div>
      <div class="column-half">
        {% static 'images/placeholder.png' as card_image %}
        <div class="card " id="fas-card">
          <div class="card-image" role="image" style="background-image: url({% static 'images/placeholder.png' %});" id="fas-card-image"></div>
          <div class="card-inner wrap-tight padding-horizontal-45">
            <h2 class="heading-large">Find a UK supplier</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="{{ services_urls.fas }}" class="link with-arrow">Connect with UK businesses</a>
            <a href="#" class="link with-arrow">Explore UK industries</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tariffs-section" class="tariffs-section">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l margin-vertical-90 tariffs-image">
        <img class="width-100" src="{{ page.tariffs_image.url }}" alt="">
      </div>
      <div class="column-full column-half-l margin-vertical-90 tariffs-content-wrapper">
        <div class="padding-horizontal-45 wrap-tight tariffs-content">
          <h2 class="heading-large">{{ page.tariffs_title }}</h2>
          {{ page.tariffs_description|add_export_elements_classes }}
          <a href="{{ page.tariffs_link }}" class="link with-arrow">CTA</a>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="news-events-section" class="news-events-section background-stone-30 padding-vertical-60">
  <div class="container wrap-tight">
    <h2 class="heading-large margin-bottom-45">{{ page.news_title }}</h2>
    <div class="card-grid">
      <div class="column-third-xl column-half-l column-full">
        <div class="card" id="news-placeholder1-card">
          <a class="card-link" href="#" id="news-placeholder1-card-link">
            <div class="card-image" role="image" style="background-image: url({% static 'images/placeholder.png' %});" id="news-placeholder1-card-image"></div>
            <div class="card-inner wrap-tight padding-horizontal-45">
              <p class="subheading">Events</p>
              <h3 class="heading-large">Join us at Singapore FinTech Festival 2019</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="column-third-xl column-half-l column-full">
        <div class="card" id="news-placeholder1-card">
          <a class="card-link" href="#" id="news-placeholder2-card-link">
            <div class="card-image" role="image" style="background-image: url({% static 'images/placeholder.png' %});" id="news-placeholder2-card-image"></div>
            <div class="card-inner wrap-tight padding-horizontal-45">
              <p class="subheading">High Potential Opportunities</p>
              <h3 class="heading-large">Rail infrastructure in Doncaster</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block content_after %}
<section class="background-great-blue study-visit-cta-section" id="study-visit-cta-section">
  <div class="container padding-vertical-30">
    <div class="grid-row">
      <div class="column-full column-half-l column-third-xl">
        <a href="https://study-uk.britishcouncil.org/" rel="noopener noreferrer" class="button button-ghost-white button-arrow">Study in the UK</a>
      </div>
      <div class="column-full column-half-l column-third-xl">
        <a href="https://www.visitbritain.com/gb/en" rel="noopener noreferrer" class="button button-ghost-white button-arrow">Visit the UK</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
