{% extends 'core/base_cms.html' %}
{% load trans from i18n %}
{% load filter_by_active_language cms_hero from cms_tags %}
{% load breadcrumbs card image_with_caption cta_link add_export_elements_classes override_elements_css_class convert_headings_to statistics_card_grid case_study from directory_components %}

{% block css_layout_class %}sector-page{% endblock %}

{% block content %}

{% cms_hero hero_text=page.heading hero_subheading=page.sub_heading %}

<section id="breadcrumb-section">
  <div class="container">
      {% breadcrumbs page.heading %}
        <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
        {% if features.INDUSTRIES_REDIRECT_ON %}
            <a href="{{ about_uk_link }}">{% trans 'About the UK' %}</a>
        {% endif %}
        <a href="{% url 'industries' %}">{% trans 'Industries' %}</a>
      {% endbreadcrumbs %}
  </div>
</section>


{% if page.heading_teaser %}
<section id="sector-teaser-section" class="teaser padding-vertical-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l">
        <p class="font-medium">{{ page.heading_teaser }}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if page.section_one_body %}
<section id="sector-section-one" class="section-one padding-vertical-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l section-one-body">
        {{ page.section_one_body|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|safe }}
      </div>
      {% if page.section_one_image.url %}
          <div class="column-full column-half-l">
            {% image_with_caption image_url=page.section_one_image.url main_caption=page.section_one_image_caption sub_caption=page.section_one_image_caption_company %}
          </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{% if num_of_statistics != 0 %}
<section id="sector-statistics-section" class="statistics padding-vertical-30">
  <div class="container">
    {% statistics_card_grid statistics=page.statistics num_of_statistics=num_of_statistics number_first=True %}
  </div>
</section>
{% endif %}

<section id="sector-section-two" class="section-two padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-30">
      <div class="column-full column-two-thirds-m column-half-l">
        {% if page.section_two_heading %}
        <h2 class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
        {% endif %}
        <p>{{ page.section_two_teaser }}</p>
      </div>
    </div>
    <div class="flex-grid">
      {% for subsection in page.section_two_subsections %}
        {% if subsection.icon.url and subsection.heading %}
            <div class="column-third-xl column-half-m">
              <img class="icon" src="{{ subsection.icon.url }}" alt="">
              <h3 class="heading-medium margin-top-15">{{ subsection.heading }}</h3>
              <p class="font-xsmall">{{ subsection.body }}</p>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% if page.case_study_title and page.case_study_image.url %}
    <section>
        {% case_study background_image=page.case_study_image.url heading=page.case_study_title subtitle=page.case_study_description|add_export_elements_classes|safe  cta_link=page.case_study_cta_page.full_path cta_text=page.case_study_cta_text %}
    </section>
{% endif %}

{% if page.project_opportunities_title and random_opportunities %}
<section id="related-opportunity-section" class="related-opportunity-section">
    <div class="container wrap-tight">
        <h2 class="heading-large margin-bottom-45">{{ page.project_opportunities_title }}</h2>
        <div class="flex-grid">
            {% for opportunity in random_opportunities %}
                <div class="column-third-xl column-half-m">
                    {% include 'core/includes/opportunity_card.html' with img_src=opportunity.hero_image.url img_alt="" url=opportunity.full_url title=opportunity.title scale=opportunity.scale sector=opportunity.sub_sectors|join:", " %}
                </div>
            {% endfor %}
        </div>
    {% if page.related_opportunities_cta_link and page.related_opportunities_cta_text %}
        <div class="grid-row">
            <a class="button button-blue button-arrow-small margin-top-45" href="{{ page.related_opportunities_cta_link }}">{{ page.related_opportunities_cta_text }}</a>
        </div>
    {% endif %}
    </div>

</section>
{% endif %}

{% if page.section_three_heading %}
<section id="sector-section-three" class="section-three background-stone-30 padding-top-90 padding-bottom-60">
  <div class="container">
    <div class="grid-row margin-bottom-60">
      <div class="column-full column-two-thirds-m column-half-l">
        {% if page.section_three_heading %}
        <h2 class="heading-large margin-top-0">{{ page.section_three_heading }}</h2>
        {% endif %}
        <p>{{ page.section_three_teaser }}</p>
      </div>
    </div>
    <div class="grid-row">
      {% for subsection in page.section_three_subsections %}
        {% if subsection.heading %}
          {% if view.section_three_num_of_subsections == 1 %}
          <div class="column-full margin-bottom-30">
          {% else %}
          <div class="column-full column-half-xl margin-bottom-30">
          {% endif %}
            <div class="fact-sheet">
              <h3 class="highlight heading-medium background-grey white-text">{{ subsection.heading }}</h3>
              <div class="fact-sheet-content background-white padding-45 wrap-tight font-xsmall">
                {% if subsection.teaser %}
                <p class="font-small">{{ subsection.teaser }}</p>
                <hr>
                {% endif %}
                {% if subsection.body %}
                {{ subsection.body|convert_headings_to:'h4'|add_export_elements_classes|override_elements_css_class:'h4,heading-small'|safe }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if page.child_articles %}
<section class="related-content-cards underline-active-blue background-white padding-vertical-30">
    <div class="container">
      <h2 class="heading-large">{% trans 'Related content' %}</h2>
      <ul class="flex-grid" aria-labelledby="related-content-heading" id="related-pages-list">
        {% for article in page.child_articles %}
          <li class="column-third-xl column-half-m">
            {% with 'industry-article-'|add:article.meta.slug as card_id %}
              {% card card_id=card_id title=article.title description=article.teaser url=article.meta.url img_src=article.thumbnail.url %}
            {% endwith %}
          </li>
        {% endfor %}
      </ul>
    </div>
</section>
{% endif %}

<section id="sector-next-steps-section" class="next-steps padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-45">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">{% trans 'Next steps' %}</h2>
        <p>{% trans 'Whether you’re looking for a supplier or starting a business in the UK, we can help. Get in touch with us for simple, straightforward help and advice on how to do business in the UK.' %}</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full column-half-l margin-bottom-30">
        {% trans "I want to invest in the UK" as want_to_invest %}
        {% cta_link with_arrow=True url=invest_contact_us_url text=want_to_invest %}
      </div>
      <div class="column-full column-half-l margin-bottom-30">
        {% trans "I want to buy from the UK" as want_to_buy %}
        {% cta_link with_arrow=True url=trade_contact_form_url text=want_to_buy %}
      </div>
    </div>
  </div>
</section>

{% with page.related_pages|filter_by_active_language as related_pages %}
{% if related_pages %}
<section id="sector-news-events-section" class="news-events background-stone-30 padding-vertical-60">
  <div class="container">
    <h2 class="heading-large margin-top-0 margin-bottom-45">News and events</h2>
    <div class="flex-grid">
      {% for related_page in related_pages %}
        <div class="column-third-xl column-half-m">
          {% if related_page.page_type == 'InternationalArticlePage' %}
            {% card card_id=related_page.meta.slug url=related_page.full_path img_src=related_page.thumbnail.url sub_heading='Article' title=related_page.title description=related_page.teaser %}
          {% else %}
            {% card card_id=related_page.meta.slug url=related_page.full_path img_src=related_page.thumbnail.url sub_heading='Campaign' title=related_page.title description=related_page.teaser %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endwith %}

{% endblock %}
