{% extends 'core/base_cms.html' %}
{% load filter_by_active_language from cms_tags %}
{% load card image_with_caption cta_link add_export_elements_classes override_elements_css_class convert_headings_to statistics_card_grid from directory_components_tags %}

{% block css_layout_class %}sector-page{% endblock %}

{% block content %}

{% include 'directory_components/hero.html' with background_image_url=page.hero_image.url hero_text=page.heading hero_subheading=page.sub_heading %}

<section id="breadcrumb-section">
  <div class="container">
    <nav class="breadcrumbs" aria-label="breadcrumb" role="navigation">
      <ol>
        <li>
          <a href="{% url 'index' %}">Great.gov.uk International</a>
        </li>
        <li>
          <a href="{% url 'industries' %}">Industries</a>
        </li>
        <li aria-current="page">{{ page.heading }}</li>
      </ol>
    </nav>
  </div>
</section>


{% if page.heading_teaser %}
<section id="sector-teaser-section" class="teaser padding-vertical-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l">
        <p class="font-medium">{{ page.heading_teaser }}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section id="sector-section-one" class="section-one padding-vertical-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l section-one-body">
        {{ page.section_one_body|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|safe }}
      </div>
      <div class="column-full column-half-l">
        {% image_with_caption image_url=page.section_one_image.url main_caption=page.section_one_image_caption sub_caption=page.section_one_image_caption_company %}
      </div>
    </div>
  </div>
</section>

<section id="sector-statistics-section" class="statistics padding-vertical-30">
  <div class="container">
    {% statistics_card_grid statistics=page.statistics num_of_statistics=view.num_of_statistics number_first=True %}
    </div>
  </div>
</section>

<section id="sector-section-two" class="section-two padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-30">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
        <p>{{ page.section_two_teaser }}</p>
      </div>
    </div>
    <div class="grid-row">
      {% for subsection in page.section_two_subsections %}
        <div class="column-full column-third-l">
          <img class="section-two-icon" src="{{ subsection.icon.url }}"/>
          <h3 class="heading-medium margin-top-15">{{ subsection.heading }}</h3>
          <p class="font-xsmall">{{ subsection.body }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% if page.case_study_title and page.case_study_image %}
<section
  id="sector-case-study-section"
  class="case-study"
  style="background-image: url({{ page.case_study_image.url }})">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-two-thirds-m column-half-l column-third-xl">
        <div class="decorative-line border-thin border-flag-red"></div>
        <h2 class="heading-large">{{ page.case_study_title }}</h2>
        <p>{{ page.case_study_description }}</p>
        {% if page.case_study_cta_page and page.case_study_cta_text %}
        <a class="button" href="{{ page.case_study_cta_page.full_path }}">{{ page.case_study_cta_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if page.section_three_heading %}
<section id="sector-section-three" class="section-three background-stone-30 padding-top-90 padding-bottom-60">
  <div class="container">
    <div class="grid-row margin-bottom-60">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">{{ page.section_three_heading }}</h2>
        <p>{{ page.section_three_teaser }}</p>
      </div>
    </div>
    <div class="grid-row">
      {% for subsection in page.section_three_subsections %}
        {% if subsection.heading %}
          {% if view.section_three_num_of_subsections == 1 %}
          <div class="column-full margin-bottom-30">
          {% else %}
          <div class="column-full column-half-xl margin-bottom-30">
          {% endif %}
            <div class="fact-sheet">
              <h3 class="highlight heading-medium background-grey white-text">{{ subsection.heading }}</h3>
              <div class="fact-sheet-content background-white padding-45 wrap-tight font-xsmall">
                {% if subsection.teaser %}
                <p class="font-small">{{ subsection.teaser }}</p>
                <hr>
                {% endif %}
                {{ subsection.body|convert_headings_to:'h4'|add_export_elements_classes|override_elements_css_class:'h4,heading-small'|safe }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section id="sector-next-steps-section" class="next-steps padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-45">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">Next steps</h2>
        <p>DIT can advise you on doing business abroad, and help put you in touch with other people who can help such as lawyers and distributors.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full column-half-l margin-bottom-30">
        {% cta_link with_arrow=True url=invest_contact_us_link text="I want to invest in the UK" %}
      </div>
      <div class="column-full column-half-l margin-bottom-30">
        {% cta_link with_arrow=True url=services_urls.fas text="I want to buy from the UK" %}
      </div>
    </div>
  </div>
</section>

{% with page.related_pages|filter_by_active_language as related_pages %}
{% if related_pages %}
<section id="sector-news-events-section" class="news-events background-stone-30 padding-vertical-60">
  <div class="container">
    <h2 class="heading-large margin-top-0 margin-bottom-45">News and events</h2>
    <div class="card-grid">
      {% for related_page in related_pages %}
        <div class="column-full column-half-l column-third-xl">
          {% if related_page.page_type == 'InternationalArticlePage' %}
            {% card card_id=related_page.meta.slug url=related_page.full_path img_src=related_page.thumbnail.url sub_heading='Article' title=related_page.title description=related_page.teaser %}
          {% else %}
            {% card card_id=related_page.meta.slug url=related_page.full_path img_src=related_page.thumbnail.url sub_heading='Campaign' title=related_page.title description=related_page.teaser %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endwith %}

{% endblock %}
