{% extends 'core/base_cms.html' %}

{% load filter_by_active_language cms_hero from cms_tags %}
{% load breadcrumbs card hero from directory_components %}

{% block css_layout_class %}article-list-page{% endblock css_layout_class %}

{% block content %}

{% block hero %}
  {% cms_hero hero_text=page.landing_page_title %}
{% endblock %}

{% block breadcrumbs %}
  {% include 'core/includes/cms_breadcrumbs.html' %}
{% endblock %}

<section class="topic-list-section background-stone-30 padding-vertical-60">
    <div class="container">
      {% block child_pages %}
      <div class="flex-grid">
        {% for listing in page.child_pages|filter_by_active_language %}
          <div class="column-third-xl column-half-m">
              {% include 'core/includes/card_with_publish_date.html' with img_src=listing.hero_image_thumbnail.url url=listing.meta.url listing=listing %}
          </div>
        {% endfor %}
      </div>
      {% endblock %}
    </div>
</section>
{% endblock %}
