{% extends "core/base.html" %}

{% load i18n %}
{% load breadcrumbs from directory_components %}


{% block content %}
    <section id="form-content">
        <div class="container">
          {% trans "5 Reasons to Buy from the UK" as why_buy %}
            {% breadcrumbs why_buy %}
                <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>

                <a href="{{ international_trade_home }}">{% trans "Buy from the UK" %}</a>

                <a href="{{international_trade_how_we_help}}">{% trans "How we help you buy" %}</a>
            {% endbreadcrumbs %}

            <div class="grid-row">
                <div class="column-two-thirds-xl">
                    <h1 class="heading-xlarge">{% trans "Download our ebook: 5 reasons to buy from the UK" %}</h1>
                    <p>{% trans "The UK is a global, outward-facing nation with strong international ties to 160 markets around the world. Enter your details below to download our ebook 5 reasons to buy from the UK, including:" %}</p>
                    <ol class="list list-number margin-bottom-45-l">
                        <li>{% trans "the excitement and creativity of the UK" %}</li>
                        <li>{% trans "UK industries and companies pushing the boundaries" %}</li>
                        <li>{% trans "infrastructure, export finance and collaboration" %}</li>
                        <li>{% trans "why UK businesses are stable and professional" %}</li>
                        <li>{% trans "commitment to the highest standards for better long-term value" %}</li>
                    </ol>
                </div>
                <div class="column-two-thirds-m column-half-xl">
                    <form method="post">
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.given_name %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.family_name %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.email_address %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.company_name %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.phone_number %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.job_title %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.city %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.market %}


                        {% include 'directory_components/form_widgets/form_field.html' with field=form.procuring_products %}


                        {% include 'directory_components/form_widgets/form_field.html' with field=form.industry %}

                        {% include 'core/includes/form_consent_buy.html' with form=form %}

                        {% include 'directory_components/form_widgets/form_field.html' with field=form.contact_email %}
                        {% include 'directory_components/form_widgets/form_field.html' with field=form.contact_phone %}
                        {% include 'core/includes/form_field.html' with field=form.captcha %}

                        <button class="button">{% trans "Submit" %}</button>
                    </form>


                </div>
            </div>
        </div>
    </section>
{% endblock %}
