$gray: #333333;
$gray-light: #e8e8e8;

#articles-section {
  margin-top: 60px;
  margin-bottom: 60px;
  article {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid 2px $gray-light;
  }
  article:first-child {
    border-top: 0;
    padding-top: 0;
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: $gray;
    margin-bottom: 30px;
  }
  iframe,
  img {
    height: auto;
    width: 100%;
  }
  p {
    margin-bottom: 1em
  }
  .article-meta {
    font-size: 15px;
    line-height: 1.47;
    margin-bottom: 10px;
    span {
      color: $gray;
    }
  }
  .article-media-container {
    float: right;
    padding: 0;
    video {
      width: 100%
    }
  }
}

@media (max-width: 769px) {
  #articles-section {
    margin-bottom: 0;
    iframe,
    img {
      width: 100%;
      height: auto;
    }
  }
}
