@import '../tokens';

$atlas-home-bg: rgb(1, 2, 44);

.atlas-home {
  position: relative;
  overflow: hidden;
  background: $atlas-home-bg;
}

.atlas-home__hero {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-57%);
  height: 560px;
  width: auto;

  @media (min-width: $breakpoint-medium) {
    transform: translateX(-52%);
    height: 780px;
  }

  @media (min-width: $breakpoint-large) {
    transform: translateX(-50%);
    height: 1000px;
  }

  //&:after {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  box-shadow: inset -30px -50px 50px $atlas-home-bg;
  //}
}

.atlas-home__hero-media {
  display: block;
  height: 100%;
  width: auto;
}

.atlas-home__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 408px;

  @media (min-width: $breakpoint-medium) {
    justify-content: center;
    min-height: 505px;
    padding-left: 84px;
  }

  @media (min-width: $breakpoint-large) {
    min-height: 710px;
  }

  @media (min-width: $breakpoint-xlarge) {
    padding-left: 0;
  }

  & h1 {
    font-size: 52px;
    line-height: 1.1;
    max-width: 5em;

    @media (min-width: $breakpoint-medium) {
      font-size: 85px;
    }

    @media (min-width: $breakpoint-large) {
      font-size: 108px;
    }
  }
}

.atlas-home .atlas-card {
  position: relative;
}

.atlas-home__card-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  color: $atlas-grey-light;

  & .atlas-svg {
    display: block;
    width: 20px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

.atlas-homepage + .atlas-footer .atlas-footer__main {
  background: $atlas-home-bg;
}
