@import '../tokens';

.atlas-home {
  background: $atlas-dark-blue;
}

.atlas-home__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 400px;

  @media (min-width: $breakpoint-medium) {
    justify-content: center;
    height: 505px;
    padding-left: 84px;
  }

  @media (min-width: $breakpoint-large) {
    height: 710px;
  }

  @media (min-width: $breakpoint-xlarge) {
    padding-left: 0;
  }

  & h1 {
    font-size: 52px;
    line-height: 1.1;
    max-width: 5em;

    @media (min-width: $breakpoint-medium) {
      font-size: 85px;
    }

    @media (min-width: $breakpoint-large) {
      font-size: 108px;
    }
  }
}

.atlas-home .atlas-card {
  position: relative;
}

.atlas-home__card-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  color: $atlas-grey-light;

  & .atlas-svg {
    display: block;
    width: 20px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
