@import '../tokens';

.atlas-opportunity__contact .atlas-grid__column {
  display: flex;
}

.atlas-opportunity__contact .atlas-media {
  margin: 0 auto;
}

.atlas-opportunity__contact .atlas-media__body {
  @media (min-width: $breakpoint-medium) {
    min-width: 300px;
  }
}

.atlas-opportunity__contact-image {
  width: 80px;
  height: 80px;

  & img {
    width: 100%;
    min-height: 100%;
    border-radius: 50%;
  }
}

.atlas-opportunity__contact-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  & .atlas-button {
    margin-top: map-get($spacings, "xs");
  }

  @media (min-width: $breakpoint-small) {
    flex-direction: row;

    & .atlas-button {
      flex: 1 0 auto;
      margin: 0 0 0 map-get($spacings, "m");
    }
  }

  @media (min-width: $breakpoint-medium) {
    margin: 0 0 0 auto;
  }


}

.atlas-opportunity__key-links {
  & a {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
