@import '../tokens';
@import '../mixins';

.atlas-search-filter__toggle {
  .atlas-button__icon {
    transform: rotate(90deg);
    transition: transform ease-in-out .25s;
    margin-right: 0;
  }

  .atlas-reveal__state:checked + & .atlas-button__icon {
    transform: rotate(-90deg);
  }
}

.atlas-search-filters {
  @media (min-width: $breakpoint-large) {
    display: block !important;
  }
}

.atlas-search-filters__content {
  fieldset {
    break-inside: avoid;
  }

  @media (min-width: $breakpoint-xsmall) and (max-width: ($breakpoint-large - 1px)) {
    columns: 2;
  }
}

.atlas-search__submit {
  background: white;
  position: sticky;
  bottom: 0;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -5px;
    right: -5px;
    top: 0;
    height: 20px;
    background: $atlas-white;
    box-shadow: 0 -15px 5px 0px white;
  }
}

.atlas-search-sort {
  display: flex;
  width: auto;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.atlas-search-sort__label {
  @include atlas-bold;
  margin-right: 1em;
}

.atlas-search__button {
  @media (min-width: $breakpoint-large) {
    width: 100%;
  }
}
