@import '../tokens';
@import '../mixins';

.atlas-search__controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.atlas-search-filter__view {
  display: flex;
  flex: 1 1 auto;

  & .form-group {
    margin: 0;
    width: 100%;

    & ul {
      display: flex;
    }
  }

  & .multiple-choice {
    flex: 0 0 50%;
    margin: 0;

    & .form-label {
      padding-right: 1em;
    }
  }
}

.atlas-search-filter__toggle {
  width: auto;
  flex: 1 1 auto;

  & .atlas-button__icon:last-child {
    transform: rotate(90deg);
    transition: transform ease-in-out .25s;
  }

  &[aria-expanded=true] .atlas-button__icon:last-child {
    transform: rotate(-90deg);
  }
}

.atlas-search-type {
  position: relative;
}

.atlas-search-type__clear {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  & .atlas-icon {
    position: absolute;
    left: 0;
    top: .275em;
    width: 1em;
    height: 1em;
    transform: rotate(180deg);
  }

  &:hover {
    & .atlas-icon {
      transition: margin-left .125s ease-out;
      margin-left: -5px;
    }

    & + .atlas-search-type__legend {
      text-decoration: underline;
    }
  }
}

.atlas-search-type__legend {
  position: relative;
  pointer-events: none;
}

$submit-spacing-bottom: map-get($spacings, 'm');
$submit-spacing-bottom-medium: map-get($spacings-medium, 'm');

.atlas-search__submit {
  background: white;
  position: sticky;
  bottom: $submit-spacing-bottom;
  margin-bottom: $submit-spacing-bottom;

  @media (min-width: $breakpoint-medium) {
    bottom: $submit-spacing-bottom-medium;
    margin-bottom: $submit-spacing-bottom-medium;
  }

  &:before {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    height: 10px;
    box-shadow: 0 -5px 5px 0 white;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    width: 100%;
    height: $submit-spacing-bottom;
    background: $atlas-grey-lighter;

    @media (min-width: $breakpoint-medium) {
      height: $submit-spacing-bottom-medium;
    }
  }
}

.atlas-search-sort {
  display: flex;
  width: auto;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.atlas-search-sort__label {
  @include atlas-bold;
  margin-right: 1em;
  white-space: nowrap;
}

.atlas-search__button {
  @media (min-width: $breakpoint-large) {
    width: 100%;
  }
}

// Map
#atlas-opportunities-map {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.atlas-search--as-map {
  position: relative;
  height: 100vh;

  @media (min-width: $breakpoint-large) {
    height: calc(100vh - 179px);
  }

  @media (max-width: $breakpoint-small - 1px) {
    & .atlas-search__container {
      padding: 0;
      overflow: hidden;
    }
  }

  & .atlas-search__container,
  & .atlas-grid {
    height: 100%;
  }

  & .atlas-search__sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    & > div {
      position: relative;
      z-index: 1;
    }
  }

  & .atlas-search__filters-wrap {
    flex-direction: column;
    overflow: auto;
  }


  & .atlas-search__scroll-fade {
    position: sticky;
    top: 0;
    z-index: 2;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      right: 10px;
      top: -10px;
      height: 10px;
      box-shadow: 0 5px 5px 0 white;
    }
  }

  & .atlas-search__submit {
    margin: 0;
    bottom: 0;

    &:after {
      display: none;
    }
  }
}

.atlas-opportunities-map .maplibregl-marker {
  cursor: pointer;
}
