@import '../partials/vars';
@import '../partials/mixins';

.capital-invest-opportunity-page {

  @mixin landingPageSection {
    padding: $spacing-1 0;
  }

  .capital-invest-opportunity-page-section:nth-child(odd) {
    @include landingPageSection;
  }

  .capital-invest-opportunity-page-section:nth-child(even) {
    @include landingPageSection;
    background: $stone-40;
  }
  
  .container:after {
    padding-bottom: $spacing-3;
  }

  p {
    margin-bottom: $spacing-3;
  }

  ul {
    width: 100%;
  }

  .icon {
    padding-bottom: $spacing-4;
    margin-bottom: $spacing-4;
    @include red-underline;
    height: calc(60px + #{$spacing-4} + 2px); // 60px x 60px icons, need to account for red underline and padding
  }
}
