@import '../partials/vars';
@import '../partials/mixins';

.capital-invest-opportunity-page {

  @mixin landingPageSection {
    padding: $spacing-1 0;
  }

  .capital-invest-opportunity-page-section:nth-child(odd) {
    @include landingPageSection;
  }

  .capital-invest-opportunity-page-section:nth-child(even) {
    @include landingPageSection;
    background: $stone-40;
  }

  .icon {
      height: 64px;
  }

}
