.curated-topic-landing-page {
    .intro {
        max-width: 670px;
        line-height: 1.6;
    }

    .need-to-know-section {
        padding: 50px 0;
        margin: 80px 0; 
    }

    .large-card {
        .card-image {
            height: 325px;
        }
    }

    .card-inner {
        a {
            display: block;
            color: $active-blue;
            font-weight: bold;
            position: relative;
            margin: 15px 0;
            margin-left: 30px;

            &::before {
                content: '➞';
                display: block;
                font-weight: 700;
                position: absolute;
                left: -30px;
                width: 1em;
                height: 1em;
            }

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $mid-blue;
            }
        }
    }

    // Remove conflicting styles applied to this class
    .with-arrow {
        margin-left: 0;

        &::before {
            display: none;
        }
    }
}
