
// Home/landing page

@import '../partials/vars';
@import '../partials/mixins';

.hero {
  padding: $spacing-1 + $spacing-3 0 $spacing-1;
  background-color: $black;

  h1 {
    margin-top: 0;
    margin-bottom: $spacing-4;
    font-family: $hero-brand-font;
  }

  h2 {
    font-weight: 400;
    margin-bottom: $spacing-3;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .hero-brand {
    position: absolute;
    right: 0;
    top: 0;

    img {
      height: 100px;
    }
  }

  .hero-text {
    width: 50%;
  }
}

.tariffs-select{
  background-color: white;
}

.landing-page-country-selector-dialog {

  h2 {
    font-family: $brand-font;
    font-weight: 700;
    font-size: 22px;
  }

  .countries {
    position: relative;
  }

  .button-container {
    float: left;
    width: 50%;
    padding-left: 15px;

    .button {
      font-family: $brand-font;
      font-weight: 700;
      padding: 10px 20px;
      height: 49px;
    }
  }

  .form-group {
    margin: 0;
  }

  .select-container {
    float: left;
    width: 50%;
    position: relative;

    label {
      font-size: 0;
    }

    select {
      width: 100%;
    }

    .flag-icon {
      position: absolute;
      top: 6px;
      left: 10px;
      height: 36px;
      width: 40px;
    }
  }

}

@media (max-width: 640px) {
  .landing-page-country-selector-dialog {
    select {
      height: 49px;
    }

    .select-container,
    .button-container {
      width: 100%;
    }

    .button-container {
      padding: 0;
      margin-top: 15px;
    }
  }
}

// JS ENABLED STYLES
body.js-enabled {
  .landing-page-country-selector-dialog {
    select {
      padding-left: 60px;
    }
  }
}

@media (max-width: 768px) {
    .tariffs-image {
      margin-bottom: 0;
    }

    .tariffs-content-wrapper {
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .study-visit-cta-section {
      .button-arrow {
        margin-bottom: 15px;
      }
    }
  }

@media (max-width: 640px) {
    .tariffs-content {
      padding: 0;
    }
  }

@media (max-width: 1150px) {
  .tariffs-image {
      width: 100%;
    }

  .tariffs-content-wrapper {
    width: 100%;
  }
  
}
