@import '../partials/vars';

.sector-page {

  .section-one-body {
    h2:first-child {
      margin-top: 0;
    }
  }

  .section-two {
    .section-two-icon {
      height: 60px;
    }
  }

  .case-study {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .container {
      min-height: 597px;
      display: flex;
      align-items: center;

      .grid-row {
        flex-grow: 1
      }
    }

    .decorative-line {
      width: 50%;
    }

    .button::after {
      content: '→';
      margin-left: 1em;
    }
  }

  .next-steps .container {

    .with-arrow {
      margin: 0;

      &:before {
        display: none;
      }
      &:after {
        content: '➔';
        margin-left: 0;
      }
    }
  }

  .news-events {
    .card {
      height: 100%;
    }
  }

// Responsive styling

  @media (min-width: 961px) {
    .next-steps .container .cta-link {
      font-size: 36px;
    }
  }

  @media (min-width: 769px) {
    .section-one-body {
      padding-right: calc(100% / 12);
    }
  }

  @media (max-width: 768px) {
    .case-study {
      // horrible but only way to override inline background style
      background-image: none !important;
      color: $grey;
    }
  }

  @media (max-width: 640px) {
    .case-study .button {
      width: auto;
    }
  }
}
