
// Contact page

@import '../partials/vars';
@import '../partials/mixins';

.contact {
  padding-top: $spacing-1;
}

.heading-medium {
  font-weight: 400;
}

.form-label,
.form-hint,
input.autocomplete__input {
  width: 50%;
}

ul.autocomplete__menu {
  width: calc(100% / 2 - 4px);
}

.control-label {
  display: block;
  margin-bottom: 10px;
}

textarea,
.form-hint {
  margin: 10px 0;
}

.asteriskField {
  color: $great-red;
}

@media (max-width: 767px) {
  .form-control,
  .form-label,
  .form-hint,
  input.autocomplete__input {
    width: calc(100% / 3 * 2);
  }
  ul.autocomplete__menu {
    width: calc(100% / 3 * 2 - 4px);
  }
}

@media (max-width: 640px) {
  .form-control,
  .form-label,
  .form-hint,
  input.autocomplete__input {
    width: 100%;
  }
  ul.autocomplete__menu {
    width: calc(100% - 4px);
  }
}
