
// Error page

@import '../partials/vars';

#content {
  padding: $spacing-3 0 0;
}

#header-beta-bar {
  border-bottom: 1px solid $light-grey;
}

.error {
  h1,
  ul li {
    // Since we don't have translations for the error message
    // use the default font
    font-family: $brand-font;
  }

  // Undo RTL styling
  .list.list-bullet.list-bullet li {
    padding: 0 0 0 30px;

    &:before {
      left: 0;
      right: auto;
    }
  }
}
