
// Industry page

@import '../partials/vars';
@import '../partials/mixins';

.industry-pullout {
  padding: $spacing-2 0;
  background-color: $stone-20;

  .grid-row {
    display: flex;
    flex-direction: row;
  }

  .data {
    border-left: 3px solid $mid-blue;
    padding: 0 $spacing-4;
    margin-left: 0;
    margin-top: 0;

    .font-xlarge, .font-xxlarge {
      color: $mid-blue;
    }
  }
}

.industry-page-accordions {
  padding-top: $spacing-2;

  .map {
    float: right;
    width: 50%;
  }
}

@media (max-width: 640px) {
  .industry-pullout {
    .grid-row {
      flex-direction: column-reverse;
    }
  }

  .industry-page-accordions {
    .accordion-expander {
      width: 100%;
    }

    .map {
      float: none;
      width: 100%;
    }
  }

}
