
// Home/landing page

@import '../partials/vars';
@import '../partials/mixins';

.hero {
  padding: $spacing-1 + $spacing-3 0 $spacing-1;
  background-color: $black;

  h1 {
    margin-top: 0;
    font-family: $hero-brand-font;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 400;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .hero-brand {
    position: absolute;
    right: 0;
    top: 0;

    img {
      height: 100px;
    }
  }

  .hero-text {
    width: 50%;
  }
}

.landing-page-accordions {
  padding-top: $spacing-1;
}

.landing-page-setup-guide {
  background-color: $stone-20;
}

.landing-page-how-we-help {
  background-color: $great-blue;
  color: $white;
  font-size: 17px;

  .container:after {
    padding-bottom: $spacing-3;
  }

  p {
    margin-bottom: $spacing-3;
  }

  ul {
    width: 100%;
  }

  .icon {
    height: 64px;
    padding-bottom: $spacing-4;
    margin-bottom: $spacing-4;
    @include red-underline
  }

  .contact-button {
    @extend .icon;
    border-bottom: 0;
  }

  .help-section {
    min-height: 250px;
  }

}

:lang(ar) {
  .banner-container[dir=rtl] {
    .information-banner .banner-content>* {
      padding-left: 0;
      padding-right: 15px;
    }
  }
}

@media (min-width: 640px) {
  .column-third {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .column-third {
    width: calc(100%/3);
  }
}

@media (max-width: 900px) {
  .hero {
    .hero-text {
      width: calc(100% / 3 * 2);
    }
  }
}

@media (max-width: 767px) {
  .landing-page-accordions .column-two-thirds {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .landing-page-how-we-help .help-section {
    min-height: auto;
    clear: both;
    padding-bottom: $spacing-4;

    &:last-child {
      padding-top: $spacing-3;

      p {
        margin-left: 0;
        width: 100%;
      }

      .contact-button {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    p,
    .icon {
      float: left;
    }

    p {
      width: calc(100% - 64px - 30px);
      margin-left: $spacing-3;
    }
  }

  .hero {
    .hero-text {
      width: 100%;

      h2 {
        width: 70%;
      }
    }

  .hero-brand {
      bottom: 0;
      top: auto;

      img {
        height: 80px;
      }
    }
  }
}

@media (max-width: 540px) {
  .hero {
    padding-top: $spacing-1;
    background-position: left;

    .container {
      flex-direction: column-reverse;
    }

    .hero-text, .hero-text h2 {
      width: 100%;
    }

    .hero-brand {
      position: static;
      width: auto;
      margin-bottom: $spacing-4;
    }
  }
}
