.section-one-image {
  width: 100%;
}

.statistics .grid-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  figure {
    flex-grow: 1;
    flex-shrink: 0;
    width: 200px;
  }
}

.case-study {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .container {
    min-height: 300px;
  }
}
