{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'styles/pages/error-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<section dir="ltr" class="error">
  <div class="container">
    <h1 class="heading-xlarge">{% trans "This page cannot be found" %}</h1>
    <ul class="list list-bullet">
        <li>{% trans "If you entered a web address please check it’s correct." %}</li>
        <li>{% trans "If you followed a link here, " %}<a class="link" href="{{ services_urls.contact_us }}">{% trans "let us know" %}</a>.</li>
        <li><a class="link" href="{% url 'index' %}">{% trans "Go to the homepage" %}</a></li>
    </ul>
  </div>
</section>
{% endblock %}
