
// Invest contact page
// ====================

@import '../../partials/vars';
@import '../../partials/mixins';

.invest-contact-page {

  .control-label {
    display: block;
    margin-bottom: 10px;
  }

  textarea,
  .form-hint {
    margin: 10px 0;
  }

}
