
<div class="container">
  <nav class="breadcrumbs" aria-label="Breadcrumb" role="navigation">
    <ol>
      <li>
        <a href="{% url 'index' %}">Great.gov.uk International</a>
      </li>
      {% for crumb in breadcrumbs %}
        {% if not forloop.last and not forloop.first %}
          <li>
            <a href="{{ crumb.url }}">{{ crumb.label }}</a>
          </li>
        {% elif forloop.last %}
          <li aria-current="page">{{ crumb.label }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
