
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div
  class="card {% if title and not description and not html_content %}only-title{% endif %}"
  style="position: relative;"
  {% if card_id %}id="{{ card_id }}"{% endif %}>
  {% if url %}
  <a
    class="card-link"
    href="{{ url }}"
    {% if card_id %}id="{{ card_id|add:'-link' }}"{% endif %}>
  {% endif %}
    {% if img_src %}
      <div
        class="card-image"
        role="img"
        style="background-image: url({{ img_src }});"
        aria-label="{{ img_alt }}"
        title="{{ img_alt }}"
        {% if card_id %}id="{{ card_id|add:'-image' }}"{% endif %}>
        <p class="visually-hidden">{{ img_alt }}</p>
      </div>
    {% endif %}
    <div class="card-inner" >
      {% if html_content %}
      {{ html_content }}
      {% else %}
        {% if subheading %}
          <p class="subheading">{{ subheading }}</p>
        {% endif %}
        {% if title or heading %}
        {% if region %}
        <a href="{% url 'cms-page-from-path' region %}">
        {% endif %}
          	<h3 class="heading-large">{% firstof title heading %}

			</h3>
		{% if region %}
		</a>
		{% endif %}
        {% endif %}

        {% if description %}
          <p class="description">{{ description }}</p>
        {% endif %}
      {% endif %}
      {% if pdf_text and pdf_link %}
		<a href="{{ pdf_link }}" target="_blank" class="button button-blue button-ghost-blue margin-top-30 pdf_button" >
			{{ pdf_text }}
		</a>
	  {% endif %}
    </div>

  {% if url %}
  </a>
  {% endif %}

</div>

