{% extends 'core/includes/footer_base.html' %}
{% load static %}

{% block footer_left_logo %}
<img height="70" id="great-footer-dit-logo" src="{% static 'images/dfit-logo-white.png' %}" alt="Department for International Trade"/>
{% endblock %}

{% block footer_right_logo %}
<img width="180" id="great-footer-great-logo" src="{% static 'images/great.svg' %}" alt="Great Britain and Northern Ireland"/>
{% endblock %}

{% block global_footer_logo %}
<img id="great-global-footer-logo" class="great-global-header-footer-logo" alt="HM Government" height="24" src="{% static 'images/hm-government.svg' %}">
{% endblock %}
