{% load i18n %}


<h2 class="heading-medium">{% trans "How we use your information" %}</h2>

<p>
  {% block purpose %}
  {% trans "The Department for International Trade will use the information provided in this form to respond to your enquiry." %}
  {% endblock %}
</p>

{% blocktrans %}
<p>
  You can read about how we protect your data in <a class="link" href="{{ privacy_url }}" target="_blank">our privacy notice</a>.
</p>
{% endblocktrans %}

<h2 class="heading-medium">{% trans 'Additional information' %}</h2>
<p>
  {% trans "If you would like to receive additional information about investing in the UK you can opt in below. You can opt out of these additional updates at any time." %}
</p>

{% include 'includes/form_field.html' with field=form.email_contact_consent %}
{% include 'includes/form_field.html' with field=form.telephone_contact_consent %}
