{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<section role="dialog" dir="ltr" data-component="language-selector-dialog" data-lang="{{ LANGUAGE_CODE }}" class="language-selector-dialog">
  <div data-node="languages" class="languages">
    <h2 class="font-large">{% trans "Select language" %}</h2>
    <ul>
      {% for code, language in language_switcher.available_languages %}
        <li>
          <form class="languages" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ untranslated_url }}" />
            <input name="language" type="hidden" value="{{ code }}" />
            <input class="link" type="submit" value="{{ language }}" />
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
