{% extends 'core/includes/header_base.html' %}
{% load static %}
{% load i18n %}

{% block header_language_selector %}
  {% if language_switcher.show %}
    {% include 'directory_components/header_footer_v2/language_selector.html' %}
  {% endif %}
{% endblock %}

{% block global_header_logo %}
<img id="great-global-header-logo" class="great-global-header-footer-logo" alt="HM Government" height="24" src="{% static 'images/hm-government.svg' %}">
{% endblock %}

{% block header_logo %}
<img src="{% static 'images/great.svg' %}" alt="Great Britain and Northern Ireland" width="180" height="auto">
{% endblock %}

{% block header_logo_url %}{{ services_urls.great_international }}{% endblock %}

{% block header_extra_links %}
  {% if not country_switcher.show %}
    <li>
      <a href="#" class="great-header-country" id="header-country-selector-activator">
        <span class="text">Change country</span> <span class="country">Brazil</span>
      </a>
    </li>
  {% else %}
    <li>
      <p class="not-translated">
        <span>{% trans 'Page in English only' %}</span>
      </p>
    </li>
  {% endif %}
  {% if language_switcher.show %}
    <li>
      <a href="#" class="LanguageSelectorDialog-Tracker great-header-language" id="header-language-selector-activator">
        <span class="text">Change language</span> <span class="lang">{{ lang_code }}</span>
      </a>
    </li>
  {% else %}
    <li>
      <p class="not-translated">
        <span>{% trans 'Page in English only' %}</span>
      </p>
    </li>
  {% endif %}
{% endblock %}

{% block header_nav %}

<li class="column-quarter js-top-level-list">
  <span class="link-heading js-link-heading" id="header-invest-links-heading">Invest</span>
  <ul class="js-collapsible-menu" aria-labelledby="header-invest-links-heading" id="header-invest-links-list">
    <li class="js-menuitem">
      <a class="link" id="header-invest-expand-to-the-uk" href="{{ services_urls.invest }}">Expand to the UK</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-invest-ukan" href="#">UK Advisory Network</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-invest-capital-investment" href="#">Capital investment in the UK</a>
    </li>
  </ul>
</li>

<li class="column-quarter js-menuitem">
  <a href="{{ services_urls.fas }}" class="link-heading" id="great-header-fas-link">Find a UK supplier</a>
</li>

<li class="column-quarter js-menuitem">
  <a href="#" class="link-heading" id="great-header-trade-info-link">Find tariffs, quotas and trade information</a>
</li>

<li class="column-quarter js-menuitem">
  <a href="#" class="link-heading" id="great-header-news-events-link">News and events</a>
</li>

{% endblock %}
