{% load static %}
<section class="hero background-stone-40 with-flag" style="background-image: url('{{ img_url }}')">
  <div class="container">
    <div class="hero-text">
      <h1 class="heading-xlarge margin-bottom-15">{{ heading }} <br> {{ subtitle }}</h1>

      {% if call_to_action_text and features.HOW_TO_DO_BUSINESS_ON %}
        <a href="{% url 'how-to-do-business-with-the-uk' %}" class="button button-arrow-small button-blue margin-top-30">{{ call_to_action_text }}</a>
      {% endif %}

    </div>
  </div>
</section>
