{% load parse_date from cms_tags %}

<div class="card">
  <a class="card-link" href="{{ listing.full_path }}">
    <div class="card-image" {% if listing.hero_image_thumbnail %}role="image" style="background-image: url('{{ listing.hero_image_thumbnail.url }}');"{% endif %} aria-label="{{ listing.landing_page_title }}" title="{{ listing.landing_page_title }}">
      <p class="visually-hidden">{{ listing.landing_page_title }}</p>
    </div>
    <div class="card-inner">
      <h3 class="heading-large">{{ listing.landing_page_title }}</h3>
      <p class="description subheading">Updated {{ listing.last_published_at|parse_date }}</p>
      {% if listing.articles_count %}
      <p class="description subheading">{{ listing.articles_count }} guide{{ listing.articles_count|pluralize }}</p>
      {% endif %}
    </div>
  </a>
</div>
