
// Capital Invest/landing page

@import '../../partials/vars';
@import '../../partials/mixins';
.capital-invest-landing-page {

  .hero {

    position: relative;

    &:before {
    background-image: linear-gradient(to left, transparent 20%, rgba(0,0,0.7,0.7) 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
  }

  .page-section{
    @include page-section-padding
  }

  .capital-invest-landing-page-section:nth-child(odd) {
    @include stone-section;
  }

  .capital-invest-landing-page-section:nth-child(even) {
    @include white-section;
  }

  .capital-invest-landing-page-how-we-help {
    font-size: 17px;

    .container:after {
      padding-bottom: $spacing-3;
    }

    p {
      margin-bottom: $spacing-3;
    }

    ul {
      width: 100%;
    }

    .icon {
      height: $spacing-1;
    }

    .contact-button {
      @extend .icon;
      border-bottom: 0;
    }
  }

  .energy_pdf_button {
    text-align: center;
    width: 50%;
    white-space: normal;
  }

  @media (max-width: 950px) {
    .ci-landing-page-energy-section {
      flex-direction: column-reverse;

      .column-half {
        width: 100%;

        .energy_pdf_button {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 950px) {
    .ci-landing-page-benefit-section {
      flex-direction: column-reverse;

      .column-half {
        width: 100%;

        .energy_pdf_button {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .hero .container .hero-text .button {
      white-space: initial;
      width: 80%;
    }
  }

  .mobile-padding-bottom-30 {
   @media (max-width: 641px) {
      padding-bottom: $spacing-3;
    }
  }

  .desktop-padding-left-90 {
    @media (min-width: 641px) {
      padding-left: 90px;
    }
  }

}
