@import '../../partials/vars';
@import '../../partials/mixins';

.capital-invest-opportunity-page {

  .page-section{
    @include page-section-padding
  }

  .capital-invest-opportunity-page-section:nth-child(odd) {
    @include white-section;
  }

  .capital-invest-opportunity-page-section:nth-child(even) {
    @include stone-section;
  }

  .container:after {
    padding-bottom: $spacing-3;
  }

  p {
    margin-bottom: $spacing-3;
  }

  ul {
    width: 100%;
  }

  .capital-invest-region-icons-section{

    .icon{
      margin-bottom: 0;
      padding-bottom: 0;
      height: $spacing-1;
    }

    .icon-heading{
      margin-bottom: 5px;
    }

    .icon-text{
      margin-top: 0;
    }

  }

  .icon {
    @media (min-width: 641px) {
      padding-bottom: $spacing-4;
      margin-bottom: $spacing-4;
      height: calc(#{$spacing-1} + #{$spacing-4}); // 60px x 60px icons, need to account for padding
    }

    height: calc(#{$spacing-1});
  }

  .width-100 {
    width: 100%;
  }

  .mobile-margin-bottom-60{

    @media (max-width: 768px) {
      margin-bottom: $spacing-1;
    }

  }

  li p {
    @media (max-width: 641px) {
      margin-bottom: 0;
    }
  }

}
