@import '../../partials/vars';
@import '../../partials/mixins';

.capital-invest-opportunity-listing-page {

  .page-section{
    @include page-section-padding
  }

  .opportunity-listing-page-section {
    @include white-section;
  }

  .opportunity-listing-page-stone-section {
    @include stone-section;
  }

  .page-title{
    background-color: $stone-40;
    padding-bottom: 0;
    h2 {
      margin-top: $spacing-1;
      margin-bottom: $spacing-1;
      display: inline-block;
    }
  }

  .down-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: $stone-40 transparent transparent transparent;
    line-height: 0;
    margin: auto auto $spacing-3;
  }

  .sort-by-container{
     @media (min-width: 961px) {
        float: right;
      }

    #sort-by-drop-down{
      border-width: 2px;
      border-color: black;
      padding: 6px;
    }
  }

  #filter-column {
      .selected-filters-container{
        background-color: $stone-40;

        mark {
          margin-bottom: 5px;
          display: inline-block;
        }

        .selected-filters-label {
          display: block;
        }

        .clear-all-link{
          display: block;
        }
    }
  }

  .opportunity-card{
    .card-image-left {
      margin: 0;
      min-height: 220px;
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      background-color: $white;

      @media (max-width: 641px) {
        min-height: 200px;
      }
    }

    @media (max-width: 961px) {
      min-width: 280px;
    }

    .card-link .card-inner{
      overflow: hidden;
      @media (max-width: 641px) {
        padding-top: 20px;
      }
      span{
        text-decoration: underline;
        color: #006ccc;
      }
      p{
        text-decoration: none;
        color: black;
      }

      border: 1px solid $light-grey;
      min-height: 220px;

      @media (max-width: 641px) {
        min-height: 200px;
      }
    }
  }

  fieldset {
    position: relative;

    legend {
      margin-bottom: 20px;
    }

    label {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding-bottom: $spacing-4;
      font-size: $spacing-4;
    }

    button.filter-collapse {
      background: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 6px;
      padding-bottom: 4px;
      cursor: pointer;
    }

    button.filter-collapse.checked {
      padding-bottom: 9px;
      padding-right: 6px;
      padding-top: 0;
    }

    button.filter-collapse::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      border-style: solid;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      border-color: #000000;
      border-width: 2px 0 0 2px;
      height: 8px;
      width: 8px;
    }

    button.filter-collapse.checked::after {
      border-width: 0 2px 2px 0;
      margin: 5px 0 0 0;

    }
  }

  button[type=submit] {
    width: 100%;
    margin-top: 25px;
  }

  .paginator {
    margin-top: $spacing-1;
    a {
      height: 50px;
      text-align: center;
      line-height: 50px;
      padding-top: 0;
    }
    ol {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      @media (min-width: 641px) {
        text-align: left;
      }
      li {
        display: inline-block;
        a {
          padding: 0;
          width: 50px;
          vertical-align: bottom;
        }
      }
    }
  }

  fieldset label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding-bottom: $spacing-4;
  }

  mark {
    font-weight: bold;
    line-height: 1.5;
    background: $stone;
    padding: 5px;
    border-radius: 4px;
  }

}

body.js-enabled {
  #filter-column {
    button.filter-collapse.checked + .form-group {
      display: none;
    }
  }
}
body:not(.js-enabled) {
  #filter-column {
    button.filter-collapse {
      display: none;
    }
  }
}
