{% extends 'core/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load ga360_tracker from directory_components %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'styles/pages/contact.css' %}" media="all" rel="stylesheet" />
  <link href="{% static 'js/vendor/accessible-autocomplete.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Invest In Great Britain - {% trans "Contact us" %}{% endblock %}

{% block content %}

{% trans "Contact the investment team" as page_title %}
{% include 'directory_components/hero.html' with hero_text=page_title %}

<div class="container">
  {% ga360_tracker "contact-form" target="form" %}
  <form class="form-group" action="{% url 'contact' %}" method="post">
    {% csrf_token %}

    <h2 class="heading-medium">{% trans "Contact Information" %}</h2>
    {% include 'includes/form_field.html' with field=form.name %}
    {% include 'includes/form_field.html' with field=form.job_title %}
    {% include 'includes/form_field.html' with field=form.email %}
    {% include 'includes/form_field.html' with field=form.phone_number %}

    <h2 class="heading-medium">{% trans "Company information" %}</h2>
    {% include 'includes/form_field.html' with field=form.company_name %}
    {% include 'includes/form_field.html' with field=form.company_website %}
    {% include 'includes/form_field.html' with field=form.country %}
    {% include 'includes/form_field.html' with field=form.staff_number %}

    <h2 class="heading-medium">{% trans "Your plans" %}</h2>
    {% include 'includes/form_field.html' with field=form.description %}
    {% include 'includes/form_field.html' with field=form.captcha %}

    <div class="form-group">
      <div class="grid-row">
        <div class="column-half form-hint">
          {% trans "By sending us your details you can confirm that the information you've shared with us is true and you accept our terms and conditions." %}
        </div>
      </div>
    </div>

    <button type="submit" name="button" class="button button-blue">{% trans "Submit" %}</button>
  </form>
  {% endga360_tracker %}
</div>

{% endblock %}
