
// Home/landing page
// =================

@import '../../partials/vars';
@import '../../partials/mixins';

:lang(ja) .landing-page {
  .great-hero-text {
    width: 100%;
  }
}

.landing-page {

  @include hero-height-override;
  @include hero-gradient;

  .features-highlight-section {
    .features-highlight-icon {
      height: 60px;
    }
  }

  .tariffs-section {
    .country-selector-dialog {
      border: 0;

      .countries {
        position: relative;
      }

      .select-container {
        width: 100%;
        position: relative;

        label {
          font-size: 0;
        }

        select {
          width: 100%;
        }

        .flag-icon {
          position: absolute;
          top: 6px;
          left: 10px;
          height: 36px;
          width: 40px;
        }
      }

      @media (max-width: 640px) {
        .country-selector-dialog {
          .select-container,
          .button-container {
            width: 100%;
          }

          .button-container {
            padding: 0;
            margin-top: 15px;
          }
        }
        .tariffs-content {
          padding: 0;
        }
      }

      @media (max-width: 768px) {
        .tariffs-image {
          margin-bottom: 0;
        }

        .tariffs-content-wrapper {
          margin-top: 45px;
          margin-bottom: 45px;
        }
      }
    }

    @media (max-width: 768px) {
      .study-visit-cta-section {
        .button-arrow {
          margin-bottom: 15px;
        }
      }
    }

    @media (max-width: 961px) {
      .tariffs-image {
        width: 100%;
        margin-bottom: 45px;
      }

      .tariffs-content-wrapper {
        margin-top: 45px;
        width: 100%;
      }
    }
  }

  .featured-links-section {
    .with-arrow {
      margin: 0;
      &:before {
        display: none;
        content: '';
      }
    }
  }
}

.study-visit-cta-section {
  .container {
    border-bottom: 1px solid $lightened-great-blue;
  }
}

// JS ENABLED STYLES
body.js-enabled {
  .landing-page {
    .country-selector-dialog {
      select {
        padding-left: 60px;
      }
    }
  }
}
