{% extends 'core/base_cms_with_invest_header.html' %}
{% load trans from i18n %}
{% load filter_by_active_language from cms_tags %}
{% load breadcrumbs card image_with_caption add_export_elements_classes convert_headings_to override_elements_css_class ga360_tracker from directory_components %}


{% block css_layout_class %}curated-topic-landing-page{% endblock css_layout_class %}

{% block content %}

  <section class="hero hero-generic padding-0" id="campaign-hero" style="background-image: url('{{ page.hero_image.url }}')">
    <div class="container white-text">
      <div class="hero-title">
        <h1 class="heading-hero-generic">{{ page.display_title }}</h1>
      </div>
    </div>
  </section>

  <div class="container">

    {% ga360_tracker "breadcrumbs" %}
      {% breadcrumbs left_url=site_home_link.url left_label=site_home_link.label right_label=page.display_title %}
    {% endga360_tracker %}

    <p class="font-medium width-two-thirds">{{ page.teaser }}</p>
  </div>

  <section class="padding-vertical-60">
    <div class="container">
      <div class="card-grid reverse-columns-s">

        <div class="column-half">
          <div class="wrap-tight">{{ page.section_one_content|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|safe }}</div>
        </div>

        {% if page.section_one_image %}
          <div class="column-half padding-bottom-15">
            <div class="grid-row">
              {% image_with_caption image_url=page.section_one_image.url main_caption=page.section_one_image_caption sub_caption="" %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="background-great-blue">
    <div class="container">
      <div class="cta-block flex-grid padding-vertical-90">
        <div class="column-two-thirds">
          <img class="cta-block-image" src="{{ page.section_two_image.url }}" alt="" width="100%" height="auto">
        </div>

        <div class="column-third white-text cta-block-content">
          <h3 class="heading-large">{{ page.section_two_heading }}</h3>

          <p class="padding-bottom-30">{{ page.section_two_teaser }}</p>

          {% ga360_tracker "cta" %}
            <a href="{{ page.section_two_button_url }}" class="button button-blue">{{ page.section_two_button_text }}</a>
          {% endga360_tracker %}
        </div>
      </div>
    </div>
  </section>

  <section class="background-stone-30 setup-guide padding-vertical-60" id="guides">
    <div class="container">
      <h2 class="heading-large grey-text">{{ page.guides_section_heading }}</h2>

      <div class="flex-grid">
        {% for guide in page.guides|filter_by_active_language %}
          <div class="column-third">
            {% ga360_tracker "guide-card" ga-value=guide.title %}
              {% card img_src=guide.thumbnail.url url=guide.meta.url heading=guide.title description=guide.teaser %}
            {% endga360_tracker %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% if page.section_three_title and page.section_three_text %}
    <div class="container">
      <div class="help-block">
        <div class="help-block-body width-half">
          <h2 class="heading-large grey-text">{{ page.section_three_title }}</h2>
          <p>{{ page.section_three_text }}</p>
          {% if page.section_three_cta_link and page.section_three_cta_text %}
            {% ga360_tracker "cta" %}
              <a href="{{ page.section_three_cta_link }}" class="button button-arrow-small">{{ page.section_three_cta_text }}</a>
            {% endga360_tracker %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
