{% extends 'core/base_cms_with_invest_header.html' %}
{% load trans from i18n %}
{% load filter_by_active_language from cms_tags %}
{% load directory_components %}


{% block css_layout_class %}curated-topic-landing-page{% endblock css_layout_class %}

{% block content %}
  {% hero background_image_url=page.hero_image.url hero_text=page.display_title large_title=True %}

  <div class="container">

      {% breadcrumbs page.display_title %}
        <a href="{{ international_home_link.url }}">{{ international_home_link.label }}</a>
      {% endbreadcrumbs %}

    <p class="font-medium width-two-thirds">{{ page.teaser }}</p>
  </div>

  <section class="padding-top-30 padding-bottom-60">
    <div class="container">
      <div class="flex-grid reverse-columns-l">

        <div class="column-half-xl padding-right-60-xl center-vertical">
          <div class="wrap-tight">{{ page.section_one_content|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|safe }}</div>
        </div>

        {% if page.section_one_image %}
          <div class="column-half-xl padding-bottom-30 center-vertical ">
            <div class="grid-row">
              {% image_with_caption image_url=page.section_one_image.url main_caption=page.section_one_image_caption sub_caption="" %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="background-great-blue">
    <div class="container">
      <div class="cta-block flex-grid padding-vertical-90">
        <div class="column-two-thirds-l center-vertical flex-shrink-0 max-width-100">
            {% if page.section_two_image.url %}
                <figure class="landing-page-image flex-shrink-0">
                    <img class="width-full" src="{{page.section_two_image.url}}" alt="">
                </figure>
            {% endif %}
        </div>
        <div class="column-third-l white-text cta-block-content padding-left-60-xl">
            <h3 class="heading-large">{{ page.section_two_heading }}</h3>
            <p class="padding-bottom-30">{{ page.section_two_teaser }}</p>
            <a href="{{ page.section_two_button_url }}" class="button button-blue margin-bottom-45">{{ page.section_two_button_text }}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="background-stone-30 setup-guide padding-vertical-60" id="guides">
    <div class="container">
      <h2 class="heading-large grey-text">{{ page.guides_section_heading }}</h2>

      <div class="flex-grid">
        {% for guide in page.guides|filter_by_active_language %}
          <div class="column-third-xl column-half-m">
              {% card img_src=guide.thumbnail.url url=guide.meta.url heading=guide.title description=guide.teaser %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% if page.section_three_title and page.section_three_text %}
    <div class="container">
      <div class="help-block">
        <div class="help-block-body width-half">
          <h2 class="heading-large grey-text">{{ page.section_three_title }}</h2>
          <p>{{ page.section_three_text }}</p>
          {% if page.section_three_cta_link and page.section_three_cta_text %}
              <a href="{{ page.section_three_cta_link }}" class="button button-arrow-small">{{ page.section_three_cta_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
