{% extends 'core/base_cms.html' %}
{% load trans from i18n %}
{% load convert_headings_to add_export_elements_classes override_elements_css_class case_study from directory_components %}
{% load cms_hero from cms_tags %}

{% block css_layout_class %}about-dbt-services-page{% endblock %}

{% block content %}

  {% cms_hero hero_text=page.hero_title %}

  {% include 'core/includes/cms_breadcrumbs.html' %}

  {% if page.teaser %}
  <section id="teaser-section" class="padding-top-30 padding-bottom-60">
    <div class="container">
      <div class="grid-row">
        {% if page.teaser %}
          <div class="column-two-thirds-l">
            {{ page.teaser|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|override_elements_css_class:'p,font-medium'|safe }}
          </div>
        {% endif %}
        {% if page.teaser_image %}
          <div class="column-half-l">
            <img src="{{ page.teaser_image.url }}" alt="" />
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.ebook_section_body %}
  <section id="ebook-section" class="background-great-blue white-text padding-vertical-60 padding-vertical-90-l">
      <div class="container">
          <div class="grid-row">
              {% if page.ebook_section_image %}
                  <div class="column-quarter-l">
                      <img src="{{ page.ebook_section_image.url }}" alt="{{ page.ebook_section_image_alt_text }}" />
                  </div>
              {% endif %}
              <div class="column-three-quarters-l padding-left-60-l">
                  {{ page.ebook_section_body|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|override_elements_css_class:'p,font-small'|safe }}
                  {% if page.ebook_section_cta_text and page.ebook_section_cta_link %}
                      <a class="button button-ghost-white button-arrow-small margin-top-15 margin-top-45-l margin-bottom-0" href="{{ page.ebook_section_cta_link }}">
                          {{ page.ebook_section_cta_text }}
                      </a>
                  {% endif %}
              </div>
          </div>
      </div>
  </section>
  {% endif %}

  {% if page.about_dit_services_fields %}
  <section id="services-fields-section" class="padding-vertical-15">
    <div class="container">
      <div class="flex-grid">
        {% for service_field in page.about_dit_services_fields %}
          <div class="column-third-xl column-half-m padding-top-30 padding-bottom-30 padding-top-45-l padding-bottom-45-l">
            {% if service_field.icon %}
              <img src="{{ service_field.icon.url }}" alt="" />
            {% endif %}
            {% if service_field.title %}
              <h2 class="heading-medium margin-top-30">{{ service_field.title }}</h2>
            {% endif %}
            {% if service_field.summary %}
              <p class="font-small">{{ service_field.summary }}</p>
            {% endif %}
            {% if service_field.link_url and service_field.link_text %}
              <a class="link bold-small" href="{{ service_field.link_url }}">{{ service_field.link_text }}</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.case_study_image and page.case_study_title %}
    {% case_study id="case-study" background_tint=True background_image=page.case_study_image.url heading=page.case_study_title subtitle=page.case_study_text cta_link=page.case_study_cta_link cta_text=page.case_study_cta_text %}
  {% endif %}

  {% if page.contact_us_section_title and page.contact_us_section_summary %}
    <section id="contact-us-section" class="page-section">
      <div class="container">
        {% if page.contact_us_section_title %}
        <h2 class="heading-large margin-top-0">{{ page.contact_us_section_title }}</h2>
        {% endif %}
        {% if page.contact_us_section_summary %}
        <div class="grid-row {% if page.contact_us_section_cta_text and page.contact_us_section_cta_link %}margin-bottom-45{% endif %}">
          <div class="column-two-thirds">
            {{ page.contact_us_section_summary|convert_headings_to:'h3'|add_export_elements_classes|override_elements_css_class:'h3,heading-medium'|override_elements_css_class:'p,font-small'|safe }}
          </div>
        </div>
        {% endif %}
        {% if page.contact_us_section_cta_text and page.contact_us_section_cta_link %}
          <a class="button button-blue button-arrow-small" href="{{ page.contact_us_section_cta_link }}">
            {{ page.contact_us_section_cta_text }}
          </a>
        {% endif %}
      </div>
    </section>
  {% endif %}

{% endblock %}
